Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2019-05, with the labels that each got.

#72 Implement Helm Charts.
  Jenkinsfile_CNP
  build.gradle
  dependency-check-suppressions.xml
  src/main/resources/bootstrap.yaml
Labels: ns:finrem-cos-pr-72

#76 Fast track check
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctions.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ValidateHearingService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ValidateHearingServiceTest.java
  src/test/resources/fixtures/contested/validate-hearing-with-fastTrackDecision.json
Labels: ns:finrem-cos-pr-76

#77 Miam check
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiamCheckController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/MiamCheckService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiamCheckControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/MiamCheckTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/MiamCheckServiceTest.java
  src/test/resources/fixtures/contested/miam-attend-exempt.json
  src/test/resources/fixtures/contested/miam-valid-attend-exempt.json
Labels: ns:finrem-cos-pr-77

#75 FR-951 - Contested amend application
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseMaintenanceController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseMaintenanceControllerTest.java
  src/test/resources/fixtures/contested/amend-divorce-details-decree-absolute.json
  src/test/resources/fixtures/contested/amend-divorce-details-decree-nisi.json
  src/test/resources/fixtures/contested/do-not-remove-checklists.json
  src/test/resources/fixtures/contested/is-applicant-home-court.json
  src/test/resources/fixtures/contested/remove-additional-property-details.json
  src/test/resources/fixtures/contested/remove-complexity-details.json
  src/test/resources/fixtures/contested/remove-domestic-violence-checklist.json
  src/test/resources/fixtures/contested/remove-exceptions-when-applicant-attended-miam.json
  src/test/resources/fixtures/contested/remove-other-checklist.json
  src/test/resources/fixtures/contested/remove-other-reason-for-complexity.json
  src/test/resources/fixtures/contested/remove-periodic-payment-order-details.json
  src/test/resources/fixtures/contested/remove-previousMiamAttendance-checklist.json
  src/test/resources/fixtures/contested/remove-property-adjustment-order-details.json
  src/test/resources/fixtures/contested/remove-respondent-address-details.json
  src/test/resources/fixtures/contested/remove-respondent-solicitor-details.json
  src/test/resources/fixtures/contested/remove-urgency-checklist.json
  src/test/resources/fixtures/contested/update-miam-exceptions-when-applicant-attended-family-mediator.json
  src/test/resources/fixtures/contested/update-miam-exceptions-when-applicant-not-claiming-exemption.json
  src/test/resources/fixtures/contested/update-periodic-payment-details-for-no-payment-for-children.json
  src/test/resources/fixtures/contested/update-periodic-payment-details-with-benefits-for-children.json
  src/test/resources/fixtures/contested/update-property-adjustment-order-details.json
Labels: ns:finrem-cos-pr-75

#79 FR-957-MIAM_certification_page
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseMaintenanceController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseMaintenanceControllerTest.java
  src/test/resources/fixtures/contested/cleanup-miam-certification-details-when-applicant-attended-miam.json
  src/test/resources/fixtures/contested/remove-miam-certification-details.json
Labels: ns:finrem-cos-pr-79

#82 Fr 966 amend application draft minform
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseMaintenanceController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseMaintenanceControllerTest.java
Labels: ns:finrem-cos-pr-82

#81 FR-967-petition issued and Amend Application fix
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseMaintenanceController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseMaintenanceControllerTest.java
  src/test/resources/fixtures/contested/amend-divorce-details-decree-absolute.json
  src/test/resources/fixtures/contested/amend-divorce-details-decree-nisi.json
  src/test/resources/fixtures/contested/amend-divorce-details-petition-issued.json
  src/test/resources/fixtures/contested/cleanup-addtional-documents.json
Labels: ns:finrem-cos-pr-81

#83 Update to get the latest contested fee.
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/client/PaymentClient.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/FeeLookupController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ApplicationType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeeService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/SetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DraftOnlineDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/FeeLookupControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/FeeLookUpTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/PBAPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ApplicationTypeTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeeServiceTest.java
  src/test/resources/fixtures/contested/fee-lookup.json
Labels: ns:finrem-cos-pr-83

#80 Option id translate
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/DocumentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FixedListOption.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnlineFormDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OptionIdToValueTranslator.java
  src/main/resources/application.properties
  src/main/resources/options/options-id-value-transform.json
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnlineFormDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OptionIdToValueTranslatorTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/contested/contested-case-details-options-list.json
  src/test/resources/fixtures/contested/expected-contested-case-details.json
Labels: ns:finrem-cos-pr-80

#88 FR-974-divorce_petition_issued_date_for_amend_application
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseMaintenanceController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseMaintenanceControllerTest.java
  src/test/resources/fixtures/contested/amend-divorce-details-decree-absolute.json
  src/test/resources/fixtures/contested/amend-divorce-details-decree-nisi.json
Labels: ns:finrem-cos-pr-88

#90 FR_991_pdb-payment code cleanup
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
Labels: ns:finrem-cos-pr-90

#91 FR_991_pdb-payment code cleanup
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataControllerTest.java
Labels: ns:finrem-cos-pr-91

#92 Fix the payment contested application description.
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/FeeLookupController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PaymentConfirmationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PBAPaymentService.java
  src/main/resources/application.properties
  src/test/resources/application.properties
Labels: ns:finrem-cos-pr-92

#93 FR-1007_case_orchestration_smoke_test_fix
  src/smokeTest/java/uk/gov/hmcts/reform/finrem/caseorchestration/smoketests/CaseOrchestrationSmokeTests.java
  src/smokeTest/resources/application-saat.properties
  src/smokeTest/resources/application.properties
  src/smokeTest/resources/case.json
Labels: ns:finrem-cos-pr-93

#94 Fr 994
  build.gradle
  docker/app.yml
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/variables.tf
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/caseorchestration/AmendCaseDetailsTest.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/payments/PaymentServiceTests.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DraftOnlineDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IdamService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/AbstractDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/DraftOnlineFormTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/GenerateMiniFormATest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IdamServiceTest.java
  src/test/resources/application.properties
Labels: ns:finrem-cos-pr-94

#95 FR-1027:Date of the hearing must be between 12 and 16 weeks
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/caseorchestration/ValidateHearingDatesTest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ValidateHearingService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingNonFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ValidateHearingServiceTest.java
Labels: ns:finrem-cos-pr-95

#96 FR-820_remove_unused_auth_headers
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/NotificationsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:finrem-cos-pr-96

#97 1046: app repo upgrade
  docker/app.yml
Labels: ns:finrem-cos-pr-97
