Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2019-04, with the labels that each got.

#62 Fr 748 amend case details
  dependency-check-suppressions.xml
  docker/app.yml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseMaintenanceController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseMaintenanceControllerTest.java
  src/test/resources/fixtures/updatecase/amend-divorce-details-d81-individual.json
  src/test/resources/fixtures/updatecase/amend-divorce-details-d81-joint.json
  src/test/resources/fixtures/updatecase/amend-divorce-details-decree-absolute.json
  src/test/resources/fixtures/updatecase/amend-divorce-details-decree-nisi.json
  src/test/resources/fixtures/updatecase/amend-periodic-payment-order-without-agreement.json
  src/test/resources/fixtures/updatecase/amend-periodic-payment-order.json
  src/test/resources/fixtures/updatecase/amend-property-adjustment-details.json
  src/test/resources/fixtures/updatecase/amend-remove-periodic-payment-order.json
  src/test/resources/fixtures/updatecase/remove-property-adjustment-details.json
  src/test/resources/fixtures/updatecase/remove-respondant-solicitor-details.json
Labels: ns:finrem-cos-pr-62

#63 Fr 748 amend case details funcationl tests
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/caseorchestration/AmendCaseDetailsTest.java
  src/functionalTests/resources/application.properties
  src/functionalTests/resources/json/amend-divorce-details-d81-individual.json
  src/functionalTests/resources/json/amend-divorce-details-d81-joint.json
  src/functionalTests/resources/json/amend-divorce-details-decree-absolute.json
  src/functionalTests/resources/json/amend-divorce-details-decree-nisi.json
  src/functionalTests/resources/json/amend-periodic-payment-order-without-agreement.json
  src/functionalTests/resources/json/amend-periodic-payment-order.json
  src/functionalTests/resources/json/amend-property-adjustment-details.json
  src/functionalTests/resources/json/amend-remove-periodic-payment-order.json
  src/functionalTests/resources/json/remove-property-adjustment-details.json
  src/functionalTests/resources/json/remove-respondant-solicitor-details.json
Labels: ns:finrem-cos-pr-63

#65 pick latest order for doc generation
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/FinancialRemedyDocumentGeneratorTests.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OrderRefusalTranslator.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OrderRefusalTranslatorTest.java
  src/test/resources/fixtures/model/case-details-multiple-orders.json
Labels: ns:finrem-cos-pr-65

#66 [FR-854] CCD Migration to fix the payment/authorisation tabs issue
  build.gradle
  docker/app.yml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/model/prod/CCDMigrationCallbackResponse.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/model/prod/CCDMigrationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/model/prod/CaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/model/prod/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/model/prod/OrderRefusal.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/model/prod/OrderRefusalData.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/model/prod/CCDMigrationCallbackResponseTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/model/prod/CCDMigrationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/model/prod/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/model/prod/CaseDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/model/prod/OrderRefusalDataTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/model/prod/OrderRefusalTest.java
  src/test/resources/fixtures/ccd-already-migrated-request.json
Labels: ns:finrem-cos-pr-66

#67 amountToPay migration functional Tests
  CCD_SK_FinancialRemedy_v2.27.8_MVP_docker.xlsx
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/migration/MigrationTests.java
  src/functionalTests/resources/application-local.properties
  src/functionalTests/resources/application.properties
  src/functionalTests/resources/json/ccd-migrate-dont-request-2.json
  src/functionalTests/resources/json/ccd-migrate-dont-request.json
  src/functionalTests/resources/json/ccd-migrate-request.json
Labels: ns:finrem-cos-pr-67
