Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2019-07, with the labels that each got.

#105 added controller to get current date
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CurrentDateController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CurrentDateControllerTest.java
Labels: ns:finrem-cos-pr-105

#106 FR_1153_update_latest_consent_order
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/payments/PaymentServiceTests.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseMaintenanceController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/error/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/error/NoSuchFieldExistsException.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ConsentedStatus.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/AmendedConsentOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/AmendedConsentOrderData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RespondToOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RespondToOrderData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/SetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseMaintenanceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/error/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/AmendedConsentOrderDataTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/AmendedConsentOrderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RespondToOrderDataTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RespondToOrderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderServiceTest.java
  src/test/resources/fixtures/latestConsentedConsentOrder/amend-consent-order-by-caseworker.json
  src/test/resources/fixtures/latestConsentedConsentOrder/amend-consent-order-by-solicitor.json
  src/test/resources/fixtures/latestConsentedConsentOrder/draft-consent-order.json
  src/test/resources/fixtures/latestConsentedConsentOrder/respond-to-order-solicitor.json
Labels: ns:finrem-cos-pr-106

#108 Fr 1153 functional tests
  CCD_SK_FinancialRemedy_v2.61_MVP_AAT_Latest_BSP.xlsx
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/TestContextConfiguration.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/caseorchestration/AmendCaseDetailsTest.java
  src/functionalTests/resources/application.properties
  src/functionalTests/resources/json/consented/amend-consent-order-by-caseworker.json
  src/functionalTests/resources/json/consented/amend-consent-order-by-solicitor.json
  src/functionalTests/resources/json/consented/draft-consent-order.json
  src/functionalTests/resources/json/consented/respond-to-order-solicitor.json
  src/functionalTests/resources/json/latestConsentedConsentOrder/amend-consent-order-by-caseworker.json
  src/functionalTests/resources/json/latestConsentedConsentOrder/amend-consent-order-by-solicitor.json
  src/functionalTests/resources/json/latestConsentedConsentOrder/draft-consent-order.json
  src/functionalTests/resources/json/latestConsentedConsentOrder/respond-to-order-solicitor.json
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseMaintenanceControllerTest.java
Labels: ns:finrem-cos-pr-108

#114 Creating send order event
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintControllerTest.java
Labels: ns:finrem-cos-pr-114

#116 rolling back update-latest-consent-order in bulk-print
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintControllerTest.java
Labels: ns:finrem-cos-pr-116

#111 Bulk print functional tests new
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/FinancialRemedyDocumentGeneratorTests.java
  src/functionalTests/resources/application.properties
Labels: ns:finrem-cos-pr-111

#117 Fr862
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ConsentedStatus.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/resources/fixtures/contested/bulk_print_consent_order_approved.json
  src/test/resources/fixtures/contested/bulk_print_consent_order_not_approved.json
Labels: ns:finrem-cos-pr-117

#119 Adding logging
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintController.java
Labels: ns:finrem-cos-pr-119

#122 FR-862: fixing case state
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintController.java
Labels: ns:finrem-cos-pr-122

#123 FR_1261_fix
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DocumentValidationController.java
Labels: ns:finrem-cos-pr-123

#124 FR_1261_reverting_case_state_fix
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DocumentValidationController.java
Labels: ns:finrem-cos-pr-124

#121 FR-1261_functional_tests
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/DocumentValidationTests.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/FinancialRemedyDocumentGeneratorTests.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/util/FunctionalTestUtils.java
  src/functionalTests/resources/application.properties
  src/functionalTests/resources/json/consented/documentValidation/valiadate-draft-consent-order.json
Labels: ns:finrem-cos-pr-121

#127 Refactor to remove the State from the Case Data and not update State …
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/FinancialRemedyDocumentGeneratorTests.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/payments/PaymentServiceTests.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseMaintenanceController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RejectedOrderDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RemoveCaseDataStateController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RefusalOrderDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DraftOnlineDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RemoveCaseDataStateControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ValidateHearingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingNonFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/PBAPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RefusalOrderDocumentServiceTest.java
  src/test/resources/fixtures/pba-validate.json
Labels: ns:finrem-cos-pr-127

#128 Update CCD Case data Migration.
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationControllerTest.java
  src/test/resources/fixtures/ccd-migrate-request.json
Labels: ns:finrem-cos-pr-128

#126 FR-1217: Approve order for bulk print
  src/functionalTests/resources/json/contested/generate-contested-form-A1.json
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentTranslator.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentTranslatorTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintServiceTest.java
  src/test/resources/fixtures/bulk-print.json
  src/test/resources/fixtures/contested/bulk_print_consent_order_approved.json
  src/test/resources/fixtures/contested/bulk_print_consent_order_not_approved.json
Labels: ns:finrem-cos-pr-126

#125 Fr 1159 check latest consent order
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CheckLatestConsentOrderController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CheckLatestConsentOrderControllerTest.java
  src/test/resources/fixtures/invalid-latest-consent-order.json
  src/test/resources/fixtures/valid-latest-consent-order.json
Labels: ns:finrem-cos-pr-125

#129 FR 1121, FR 1260 annex and stamping docs
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/client/DocumentClient.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ConsentedStatus.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ApprovedOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ApprovedOrderData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/PensionDocumentData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/Document.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/DocumentGenerationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AbstractDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OrderApprovedDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/SetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/AbstractDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/ContestedOnlineFormTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/DraftOnlineFormTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/GenerateMiniFormATest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingNonFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/RejectionOrderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ConsentedStatusTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/DocumentGenerationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/DocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnlineFormDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OrderApprovedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RefusalOrderDocumentServiceTest.java
  src/test/resources/fixtures/pba-validate.json
Labels: ns:finrem-cos-pr-129

#130 Functional changes for bulk print
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/FinancialRemedyDocumentGeneratorTests.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/util/FunctionalTestUtils.java
  src/functionalTests/resources/json/consented/bulk-print.json
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentTranslator.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CommonFunction.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentTranslatorTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintServiceTest.java
  src/test/resources/fixtures/bulk-print-not-approved.json
  src/test/resources/fixtures/bulk-print.json
Labels: ns:finrem-cos-pr-130
