Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2019-02, with the labels that each got.

#37 Fr 716 smoke tests
  build.gradle
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/ApplicationConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/GenerateMiniFormATest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/IntegrationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/NotificationsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/smoketest/OrchestrationSmokeTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/smoketest/SmokeTest.java
  src/test/resources/fixtures/notify-casedata.json
Labels: wip

#43 added http timeouts to rest template
  src/kubernetes/config.aat.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/HttpConfiguration.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/HttpConfigurationTest.java
  src/test/resources/application.properties
Labels: ns:finrem-cos-pr-43

#44 modified spring application name
  infrastructure/variables.tf
  src/kubernetes/config.aat.yaml
  src/main/resources/application.properties
Labels: ns:finrem-cos-pr-44

#45 incremented logging framework
  build.gradle
Labels: ns:finrem-cos-pr-45

#47 Fr 716 smoke tests
  build.gradle
  src/smokeTest/java/uk/gov/hmcts/reform/finrem/caseorchestration/smoketests/CaseOrchestrationSmokeTests.java
  src/smokeTest/java/uk/gov/hmcts/reform/finrem/caseorchestration/smoketests/SmokeTestConfiguration.java
  src/smokeTest/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/FeeResponseServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/FeeLookUpTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/NotificationsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeeResponseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeeServiceTest.java
  src/test/resources/application.properties
Labels: ns:finrem-cos-pr-47

#48 added disabling of swagger on prod and suppress sending stack trace b…
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/error/GlobalExceptionHandler.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/SetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/FeeLookupControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentConfirmationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAValidateControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/error/GlobalExceptionHandlerTest.java
Labels: ns:finrem-cos-pr-48

#49 Fr 306 finrem pba integration
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  docker/app.yml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  security.sh
  src/kubernetes/config.aat.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/CaseOrchestrationApplication.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/client/PaymentClient.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/FeeServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/PBAPaymentServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/PBAValidationServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/ServiceAuthTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/FeeLookupController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentConfirmationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAValidateController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAValidationStub.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/health/FeeServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/health/PaymentServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/pba/validation/PBAValidationResponse.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeeService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PBAPaymentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PBAValidationService.java
  src/main/resources/application.properties
  src/smokeTest/resources/application.properties
  src/test/functionalTest/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/BaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/FeeResponseServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/IdamServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/PBAPaymentServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/PBAValidationServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/health/IdamServiceHealthCheckTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/health/PaymentServiceHealthCheckTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/FeeLookUpTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/pba/PBAAccountTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/pba/validation/PBAValidationResponseTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeeResponseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PBAPaymentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PBAValidationServiceTest.java
  src/test/resources/application.properties
Labels: ns:finrem-cos-pr-49

#51 FR_716_smoke_tests
  src/smokeTest/java/uk/gov/hmcts/reform/finrem/caseorchestration/smoketests/CaseOrchestrationSmokeTests.java
  src/smokeTest/resources/application.properties
Labels: ns:finrem-cos-pr-51

#52 FR_722_integration_tests
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/FeeLookUpTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/PBAPaymentConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/PBAPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/PBAValidationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/smoketest/OrchestrationSmokeTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/smoketest/SmokeTest.java
Labels: ns:finrem-cos-pr-52

#53 Fix the bug for Issue Application and also update payment confirmation
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PaymentConfirmationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ConsentedStatus.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PaymentConfirmationService.java
  src/main/resources/markdown/hwf-payment-confirmation.md
  src/main/resources/markdown/pba-payment-confirmation.md
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PaymentConfirmationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/PBAPaymentConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/PBAPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PBAPaymentConfirmationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PaymentConfirmationServiceTest.java
Labels: ns:finrem-cos-pr-53

#54 Added flag whether or not to verify a PBA account is valid, the verfi…
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/payments/PaymentServiceTests.java
  src/functionalTests/resources/application.properties
Labels: ns:finrem-cos-pr-54

#55 Set dummy email for notication tests
  src/functionalTests/resources/json/ccd-request-with-solicitor-assignedToJudge.json
  src/functionalTests/resources/json/ccd-request-with-solicitor-consentOrderAvailable.json
  src/functionalTests/resources/json/ccd-request-with-solicitor-consentOrderMade.json
  src/functionalTests/resources/json/ccd-request-with-solicitor-consentOrderNotApproved.json
  src/functionalTests/resources/json/ccd-request-with-solicitor-hwfSuccessfulEmail.json
Labels: ns:finrem-cos-pr-55
