Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2019-10, with the labels that each got.

#164 Migration for courts and judge allocated
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationControllerTest.java
  src/test/resources/fixtures/ccd-migrate-request.json
  src/test/resources/fixtures/ccd-migrate-request_1.json
  src/test/resources/fixtures/ccd-migrate-request_2.json
Labels: ns:finrem-cos-pr-164

#168 Fixing judgeAllocated.
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationController.java
Labels: ns:finrem-cos-pr-168

#170 Refactoring..
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationController.java
Labels: ns:finrem-cos-pr-170

#169 FR-1402 Removing mandatory pension documents code
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DocumentValidationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DocumentValidationServiceTest.java
  src/test/resources/fixtures/latestConsentedConsentOrder/validate-pension-collection-without-pension-data.json
Labels: ns:finrem-cos-pr-169

#172 Changes for new data structure for SL type
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationControllerTest.java
Labels: ns:finrem-cos-pr-172

#173 FR-1365 Update Court Address Information for consented journey
  src/main/resources/markdown/consented-hwf-payment-confirmation.md
  src/main/resources/markdown/consented-pba-payment-confirmation.md
Labels: ns:finrem-cos-pr-173

#171 FR-1362-email notification with FRCs
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:finrem-cos-pr-171

#175 Migration fix for courts
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationController.java
  src/test/resources/fixtures/ccd-already-migrated-request.json
  src/test/resources/fixtures/ccd-migrate-request_1.json
  src/test/resources/fixtures/ccd-migrate-request_2.json
  src/test/resources/fixtures/ccd-request-without-field.json
Labels: ns:finrem-cos-pr-175

#174 FR-1362-email notification with FRCs
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:finrem-cos-pr-174

#176 Consented migration
  .env
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderControllerTest.java
  src/test/resources/fixtures/ccd-already-migrated-request.json
  src/test/resources/fixtures/ccd-migrate-request_1.json
  src/test/resources/fixtures/ccd-migrate-request_2.json
Labels: ns:finrem-cos-pr-176
