Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2019-12, with the labels that each got.

#205 Added suppressions to remove unfixable vulnerabilities
  dependency-check-suppressions.xml
Labels: ns:finrem-cos-pr-205

#206 BSP-145: Added update case endpoint for future use by BSP
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/bulkscan/UpdateController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/bulkscan/transformation/output/CaseCreationDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/bulkscan/update/in/transformation/in/BulkScanCaseUpdateRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/bulkscan/update/in/transformation/output/SuccessfulUpdateResponse.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/bulkscan/UpdateControllerTest.java
Labels: ns:finrem-cos-pr-206

#207 Added section for swagger & replaced developing with testing header
  README.md
Labels: ns:finrem-cos-pr-207

#208 Replacing authentication code with common library
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/CaseOrchestrationApplication.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/AuthConfig.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/bulkscan/OcrValidationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/error/ForbiddenException.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/error/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/error/S2SExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/error/UnauthenticatedException.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AuthService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/ApplicationConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/bulkscan/OcrValidationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AuthServiceTest.java
  src/test/resources/application.properties
Labels: ns:finrem-cos-pr-208

#210 Securing rest of FR bulkscan endpoints
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/bulkscan/OcrValidationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/bulkscan/TransformationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/bulkscan/UpdateController.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/bulkscan/TransformationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/bulkscan/UpdateControllerTest.java
  src/test/resources/application.properties
Labels: ns:finrem-cos-pr-210

#213 Reintroduced event id for create event.
  build.gradle
  intellij-java-google-style.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkScanController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/event/bulkscan/BulkScanEvents.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkScanControllerTest.java
Labels: ns:finrem-cos-pr-213

#216 BSP-130: Form A section 2 validation and transformation
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformations/FormAToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/validation/FormAValidator.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulk/scan/transformation/FormAToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulk/scan/validation/FormAValidatorTest.java
Labels: ns:finrem-cos-pr-216

#215 BSP-72: integration tests
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/IntegrationTestBase.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/bulkscan/BulkScanIntegrationTest.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/caseorchestration/AmendCaseDetailsTest.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/idam/IdamUtils.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/util/FunctionalTestUtils.java
  src/functionalTests/resources/application.properties
  src/functionalTests/resources/json/bulkscan/basic.json
Labels: ns:finrem-cos-pr-215
