Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2019-06, with the labels that each got.

#99 Fr 340 general letter
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/DocumentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralLetterController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralLetterValidateController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/GeneralLetter.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/GeneralLetterData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnlineFormDocumentService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/SetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralLetterControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralLetterValidateControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/general-letter.json
  src/test/resources/fixtures/invalid-general-letter-body.json
Labels: ns:finrem-cos-pr-99

#98 Case orchestration payment duplicate
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/TestContextConfiguration.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/caseorchestration/AmendCaseDetailsTest.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/caseorchestration/ValidateHearingDatesTest.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/FinancialRemedyDocumentGeneratorTests.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/notification/NotificationTests.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/payments/PaymentServiceTests.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/util/FunctionalTestUtils.java
  src/functionalTests/resources/application.properties
  src/functionalTests/resources/json/SuccessPaymentRequestPayload.json
  src/functionalTests/resources/json/amend-divorce-details-d81-individual.json
  src/functionalTests/resources/json/amend-divorce-details-d81-joint.json
  src/functionalTests/resources/json/amend-divorce-details-decree-absolute.json
  src/functionalTests/resources/json/amend-divorce-details-decree-nisi.json
  src/functionalTests/resources/json/amend-periodic-payment-order-without-agreement.json
  src/functionalTests/resources/json/amend-periodic-payment-order.json
  src/functionalTests/resources/json/amend-property-adjustment-details.json
  src/functionalTests/resources/json/amend-remove-periodic-payment-order.json
  src/functionalTests/resources/json/ccd-migrate-dont-request-2.json
  src/functionalTests/resources/json/ccd-migrate-dont-request.json
  src/functionalTests/resources/json/ccd-migrate-request.json
  src/functionalTests/resources/json/consented/FailurePaymentRequestPayload.json
  src/functionalTests/resources/json/consented/SuccessPaymentRequestPayload.json
  src/functionalTests/resources/json/consented/SuccessPaymentRequestPayload_Consented.json
  src/functionalTests/resources/json/consented/ccd-request-with-solicitor-assignedToJudge.json
  src/functionalTests/resources/json/consented/ccd-request-with-solicitor-assignedToJudge1.json
  src/functionalTests/resources/json/consented/ccd-request-with-solicitor-consentOrderAvailable.json
  src/functionalTests/resources/json/consented/ccd-request-with-solicitor-consentOrderAvailable1.json
  src/functionalTests/resources/json/consented/ccd-request-with-solicitor-consentOrderMade.json
  src/functionalTests/resources/json/consented/ccd-request-with-solicitor-consentOrderMade1.json
  src/functionalTests/resources/json/consented/ccd-request-with-solicitor-consentOrderNotApproved.json
  src/functionalTests/resources/json/consented/ccd-request-with-solicitor-consentOrderNotApproved1.json
  src/functionalTests/resources/json/consented/ccd-request-with-solicitor-hwfSuccessfulEmail.json
  src/functionalTests/resources/json/consented/ccd-request-with-solicitor-hwfSuccessfulEmail1.json
  src/functionalTests/resources/json/consented/fee-lookup_consented.json
  src/functionalTests/resources/json/consented/hwfPayment.json
  src/functionalTests/resources/json/consented/pba-payment.json
  src/functionalTests/resources/json/consented/pba-validate.json
  src/functionalTests/resources/json/consented/pba-validate1.json
  src/functionalTests/resources/json/contested/SuccessPaymentRequestPayload.json
  src/functionalTests/resources/json/contested/SuccessPaymentRequestPayload_Contested.json
  src/functionalTests/resources/json/contested/SuccessPaymentRequestPayload_Contested_Duplicate.json
  src/functionalTests/resources/json/contested/fee-lookup_contested.json
  src/functionalTests/resources/json/contested/hwfPayment.json
  src/functionalTests/resources/json/contested/pba-payment_contested.json
  src/functionalTests/resources/json/contested/pba-validate.json
  src/functionalTests/resources/json/document-rejected-order.json
  src/functionalTests/resources/json/documentGeneratePayload.json
  src/functionalTests/resources/json/empty-casedata.json
  src/functionalTests/resources/json/fee-lookup.json
  src/functionalTests/resources/json/hwfPayment.json
  src/functionalTests/resources/json/notify-assign-to-judge.json
  src/functionalTests/resources/json/payment-by-account.json
  src/functionalTests/resources/json/pba-confirmation.json
  src/functionalTests/resources/json/pba-validate.json
  src/functionalTests/resources/json/remove-property-adjustment-details.json
  src/functionalTests/resources/json/remove-respondant-solicitor-details.json
  src/functionalTests/resources/json/serviceAuth.json
  src/functionalTests/resources/json/userCreation.json
Labels: ns:finrem-cos-pr-98

#101 FR_899_contested_hwf_successful_email
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:finrem-cos-pr-101

#103 Fr 1126 dockerise prd app in finrem case orchestration
  README.md
  bin/load-pba-reference-data.sh
  docker/app.yml
  prd/Dockerfile
  prd/init-db.sh
Labels: ns:finrem-cos-pr-103

#104 FR_1137
  docker/app.yml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/notification/NotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/notification/NotificationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:finrem-cos-pr-104
