Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2020-06, with the labels that each got.

#349 Removing country from address in HWF, Judge Assigned and Consent Orde…
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/BulkPrintCoverSheet.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/BulkPrintCoverSheetTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetServiceTest.java
Labels: ns:financial-remedy, rel:finrem-cos-pr-349

#351 Print approved documents when order approved after being not approved
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/FinancialRemedyDocumentGeneratorTests.java
  src/functionalTests/resources/json/consented/bulk-print.json
  src/functionalTests/resources/json/consented/ccd-request-with-solicitor-assignedToJudge1.json
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CommonFunction.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintServiceTest.java
  src/test/resources/fixtures/bulkprint/bulk-print.json
  src/test/resources/fixtures/contested/bulk_print_consent_order_approved.json
  src/test/resources/fixtures/contested/bulk_print_simple.json
Labels: ns:financial-remedy, rel:finrem-cos-pr-351

#354 FR-1661: BSP Document Validation
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkScanService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/validation/FormAValidator.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulk/scan/validation/BulkScanServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulk/scan/validation/FormAValidatorTest.java
Labels: ns:financial-remedy, rel:finrem-cos-pr-354

#356 Addressed pr comments from FR-1661
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkScanService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/FormAToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/validation/FormAValidator.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulk/scan/transformation/FormAToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulk/scan/validation/FormAValidatorTest.java
Labels: ns:financial-remedy, rel:finrem-cos-pr-356

#360 nightly zap scan fix
  audit.json
  security.sh
Labels: ns:financial-remedy, rel:finrem-cos-pr-360

#361 Fix pitests
  Jenkinsfile_nightly
  build.gradle
Labels: ns:financial-remedy, rel:finrem-cos-pr-361

#358 Fr 1596 general email
  audit.json
  security.sh
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralEmailStartController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/GeneralEmail.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/GeneralEmailData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/notification/NotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralEmailService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralEmailStartControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/notification/NotificationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/contested/general-email-contested.json
  src/test/resources/fixtures/general-email-consented.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-358

#368 Increase logging for BSP
  build.gradle
  src/functionalTests/resources/json/bulkscan/formA.json
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkScanService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/FormAToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/validation/FormAValidator.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulk/scan/transformation/FormAToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulk/scan/validation/FormAValidatorTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-368

#359 NatureOfApplication2 migration
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/TestSetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintControllerTest.java
  src/test/resources/fixtures/ccd-already-migrated-request.json
  src/test/resources/fixtures/ccd-migrate-request-already-migrated.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable.json
  src/test/resources/fixtures/ccd-migrate-request_1.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-359

#371 Fixed bootRunAat task after updating to Gradle 6
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-371

#372 FR-1591 consented general letter preview
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralLetterController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralLetterStartController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/TestSetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralLetterControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralLetterStartControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-372

#369 Removed PII logging - updated gradlew. Removed redundant file
  SampleCaseData.txt
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/bulkscan/CcdBulkScanIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkScanService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/FormAToCaseTransformer.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-369

#375 FR-1595 contested general letter
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralLetterController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
  src/test/resources/fixtures/general-letter-missing-address.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-375

#374 FR-1696: Remove double space typo handling that is now fixed on Prod
  src/functionalTests/resources/json/consented/FailurePaymentRequestPayload.json
  src/functionalTests/resources/json/consented/SuccessPaymentRequestPayload_Consented.json
  src/functionalTests/resources/json/consented/amend-property-adjustment-details1.json
  src/functionalTests/resources/json/consented/bulk-print.json
  src/functionalTests/resources/json/consented/document-rejected-order1.json
  src/functionalTests/resources/json/consented/fee-lookup_consented.json
  src/functionalTests/resources/json/consented/hwfPayment.json
  src/functionalTests/resources/json/consented/notify-assign-to-judge1.json
  src/functionalTests/resources/json/consented/pba-payment.json
  src/functionalTests/resources/json/consented/pba-validate1.json
  src/functionalTests/resources/json/contested/application-submitted-to-gateKeepingState1.json
  src/functionalTests/resources/json/contested/do-not-change-to-gateKeepingState1.json
  src/functionalTests/resources/json/contested/generate-contested-form-A1.json
  src/functionalTests/resources/json/contested/miam-attend-exempt1.json
  src/functionalTests/resources/json/contested/miam-valid-attend-exempt1.json
  src/functionalTests/resources/json/contested/validate-hearing-successfully1.json
  src/functionalTests/resources/json/contested/validate-hearing-with-fastTrackDecision1.json
  src/functionalTests/resources/json/contested/validate-hearing-with-hearingdate1.json
  src/functionalTests/resources/json/contested/validate-hearing-without-fastTrackDecision1.json
  src/functionalTests/resources/json/contested/with-mini-form-A1.json
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateConsentedCaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/helper/BulkScanHelper.java
  src/test/resources/fixtures/bulkprint/bulk-print-paper-application.json
  src/test/resources/fixtures/contested/application-submitted-to-gateKeepingState.json
  src/test/resources/fixtures/contested/do-not-change-to-gateKeepingState.json
  src/test/resources/fixtures/contested/generate-contested-form-A.json
  src/test/resources/fixtures/contested/miam-attend-exempt.json
  src/test/resources/fixtures/contested/miam-valid-attend-exempt.json
  src/test/resources/fixtures/contested/validate-hearing-successfully.json
  src/test/resources/fixtures/contested/validate-hearing-with-fastTrackDecision.json
  src/test/resources/fixtures/contested/validate-hearing-with-hearingdate.json
  src/test/resources/fixtures/contested/validate-hearing-withoutfastTrackDecision.json
  src/test/resources/fixtures/contested/with-mini-form-A.json
  src/test/resources/fixtures/fee-lookup.json
  src/test/resources/fixtures/hwf.json
  src/test/resources/fixtures/invalid-latest-consent-order.json
  src/test/resources/fixtures/migration/caseWithOutRedundantAddressLines.json
  src/test/resources/fixtures/notify-casedata.json
  src/test/resources/fixtures/pba-payment-already-exists.json
  src/test/resources/fixtures/pba-payment.json
  src/test/resources/fixtures/pba-validate.json
  src/test/resources/fixtures/updatecase/amend-property-adjustment-details.json
  src/test/resources/fixtures/valid-latest-consent-order.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-374

#381 added new false positives for new end point
  audit.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-381

#363 Fixing templates to use addressee
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralEmailStartController.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-363
