Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2020-07, with the labels that each got.

#382 FR-1728: BSP - Warning if addressline1 or postcode missing
  src/functionalTests/resources/json/bulkscan/formA.json
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/validation/FormAValidator.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulk/scan/validation/FormAValidatorTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-382

#384 update migration logic and defaults
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationControllerTest.java
  src/test/resources/fixtures/ccd-migrate-request-consented.json
  src/test/resources/fixtures/ccd-migrate-request-invalid-court-data.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-invalid-frc-london-ac.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-invalid-frc-london.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-invalid-frc-midlands-ac.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-invalid-frc-midlands.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-invalid-frc-northeast-ac.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-invalid-frc-northeast.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-invalid-frc-northwest-ac.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-invalid-frc-northwest.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-invalid-frc-southeast-ac.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-invalid-frc-southeast.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-invalid-frc-wales-ac.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-invalid-frc-wales.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-invalid-region-ac.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-invalid-region.json
  src/test/resources/fixtures/ccd-migrate-request-no-court-data.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-384

#378 Remove unused templates
  src/main/resources/application.properties
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-378

#386 update midlands field name
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationController.java
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-birmingham.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-invalid-frc-midlands.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-nottingham.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-386

#387 handle ga fields
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationControllerTest.java
  src/test/resources/fixtures/ccd-migrate-request-invalid-court-data-ga.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-birmingham-ga.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-cfc-ga.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-cleaveland-ga.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-hsyorkshire-ga.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-kent-ga.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-liverpool-ga.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-manchester-ga.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-newport-ga.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-nottingham-ga.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-nwyorkshire-ga.json
  src/test/resources/fixtures/ccd-migrate-request-migration-applicable-swansea-ga.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-387

#373 FR-1543: Court details migration
  charts/finrem-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/DocumentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/Features.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/CourtDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctions.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/resources/application.properties
  src/main/resources/json/court-details.json
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-373

#376 Hotfix FR-1595 investigate
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CommonFunction.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
  src/test/resources/fixtures/contested/general-letter-contested.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-376

#388 FR-1592 print general letter
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-388

#392 ignore cookie errors
  audit.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-392

#385 FR-1677: Removing BSP feature toggles
  charts/finrem-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/Features.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleServiceTest.java
  src/test/resources/application.properties
Labels: DO NOT MERGE, ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-385

#394 Hotifx toggle general letter printing
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/Features.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-394

#396 Rename bulk print coversheet template ID
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderNotApprovedDocumentServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-396

#400 Added @ignore to breaking test affecting BSP prod fix
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/FinancialRemedyDocumentGeneratorTests.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-400

#401 enable ignored test
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/FinancialRemedyDocumentGeneratorTests.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-401

#402 FR-1724: Removed address line 3 from being printed on letters
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetServiceTest.java
  src/test/resources/fixtures/contested/general-letter-contested.json
  src/test/resources/fixtures/general-letter-empty-collection.json
  src/test/resources/fixtures/general-letter.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-402

#404 Update build.gradle
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-404

#395 FR-1566: add default judge values for consented if values not provided
  charts/finrem-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiniFormAController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/Features.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DraftOnlineDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiniFormAControllerTest.java
  src/test/resources/application.properties
Labels: DO NOT MERGE, ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-395

#403 FR-1567: update status and send to bulk print when no pension documen…
  charts/finrem-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/Features.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleServiceTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/bulkprint/after-bulk-print.json
  src/test/resources/fixtures/bulkprint/bulk-print-no-pension-collection.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-403

#406 FR-1572 add endpoint for contested consent order approved email endpoint
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-406

#409 Bumped versions
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-409

#411 Java 11 Upgrade
  .travis.yml
  Dockerfile
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-411

#412 Update readme, use latest version of BspCommonLib
  README.md
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-412
