Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2020-05, with the labels that each got.

#315 AKS migration prep
  Dockerfile
  Jenkinsfile_CNP
  charts/finrem-cos/Chart.yaml
  charts/finrem-cos/requirements.yaml
  charts/finrem-cos/values.aat.template.yaml
  charts/finrem-cos/values.preview.template.yaml
  charts/finrem-cos/values.yaml
  dependency-check-suppressions.xml
  src/main/resources/bootstrap.yaml
Labels: ns:financial-remedy, rel:finrem-cos-pr-315

#328 Cleaning up ASE Infra
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:financial-remedy, rel:finrem-cos-pr-328

#303 Add email doc and service for prepareForHearing
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/contested/validate-hearing-with-fastTrackDecision.json
Labels: ns:financial-remedy, rel:finrem-cos-pr-303

#311 Fixing selectedCourt for contested notifications
  charts/finrem-cos/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/notification/NotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/notification/NotificationRequestTest.java
Labels: ns:financial-remedy, rel:finrem-cos-pr-311

#330 Making AbstractDocumentService work with deep case data copy
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AbstractDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignedToJudgeDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentServiceTest.java
Labels: ns:financial-remedy, rel:finrem-cos-pr-330

#332 Flipped conditional logic so paperApplicant field takes preference
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
Labels: ns:financial-remedy, rel:finrem-cos-pr-332

#333 Extended conditions for isConsentedApplication
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseController.java
Labels: ns:financial-remedy, rel:finrem-cos-pr-333

#310 FR-1643: Updated application issued callback to call notification service
  charts/finrem-cos/Chart.yaml
  charts/finrem-cos/values.yaml
  checkstyle.xml
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/notification/NotificationTests.java
  src/functionalTests/resources/application.properties
  src/functionalTests/resources/json/contested/ccd-request-with-solicitor-contestApplicationIssued.json
  src/functionalTests/resources/json/contested/ccd-request-with-solicitor-contestOrderApproved.json
  src/functionalTests/resources/json/contested/ccd-request-with-solicitor-prepareForHearing.json
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateConsentedCaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CommonFunction.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/FormAToCaseTransformer.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiniFormAControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignedToJudgeDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CommonFunctionTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulk/scan/transformation/FormAToCaseTransformerTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, rel:finrem-cos-pr-310

#334 Fix 1662 conditional logic
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
Labels: ns:financial-remedy, rel:finrem-cos-pr-334

#339 update chart version
  charts/finrem-cos/Chart.yaml
Labels: ns:financial-remedy, rel:finrem-cos-pr-339

#341 Fix mismatch in document config
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/DocumentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignedToJudgeDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignedToJudgeDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintServiceTest.java
Labels: ns:financial-remedy, rel:finrem-cos-pr-341

#340 Implementing draft order email notification
  Jenkinsfile_CNP
  charts/finrem-cos/Chart.yaml
  charts/finrem-cos/values.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CommonFunction.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CommonFunctionTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/applicant-solicitor-to-draft-order-with-email-consent.json
  src/test/resources/fixtures/applicant-solicitor-to-draft-order-without-email-consent.json
  src/test/resources/fixtures/respondent-solicitor-to-draft-order-with-email-consent.json
Labels: ns:financial-remedy, rel:finrem-cos-pr-340

#343 adding endpoint to sent prepare for hearing order sent notificaitons …
  charts/finrem-cos/Chart.yaml
  charts/finrem-cos/values.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, rel:finrem-cos-pr-343

#321 Moving consentOrderApprovedNotificationLetter to caseData
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/caseorchestration/RejectedOrderDocumentTest.java
  src/functionalTests/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/FinalOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/LetterAddressHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ApprovedOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AbstractDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignedToJudgeDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenericDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnlineFormDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RefusalOrderDocumentService.java
  src/smokeTest/java/uk/gov/hmcts/reform/finrem/caseorchestration/smoketests/CaseOrchestrationSmokeTests.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/ObjectMapperConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/FinalOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/LetterAddressHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenericDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnlineFormDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RefusalOrderDocumentServiceTest.java
  src/test/resources/fixtures/bulkprint/bulk-print-empty-solicitor-address.json
  src/test/resources/fixtures/bulkprint/bulk-print-with-solicitors.json
  src/test/resources/fixtures/bulkprint/bulk-print.json
Labels: ns:financial-remedy, rel:finrem-cos-pr-321

#345 Bumped Gradle to 6.4, updated dependencies and removed suppression vulns
  build.gradle
  dependency-check-suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:financial-remedy, rel:finrem-cos-pr-345

#336 FR-1663: Trigger 'HWF application accepted' letter
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/DocumentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HelpWithFeesDocumentService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HelpWithFeesDocumentServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, rel:finrem-cos-pr-336

#347 FR-1691: Updated validation logic to allow for childrens DoB to be empty
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/mappers/ChildrenInfoMapper.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulk/scan/validation/FormAValidatorTest.java
Labels: ns:financial-remedy, rel:finrem-cos-pr-347

#350 Amending Property Adjustment Order field to match config
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/helper/BulkScanHelper.java
Labels: ns:financial-remedy, rel:finrem-cos-pr-350

#346 FR-1664 consent order not approved
  charts/finrem-cos/values.preview.template.yaml
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/util/ServiceUtils.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/DocumentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CheckLatestConsentOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/Features.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignedToJudgeDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CommonFunction.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderNotApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenericDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HelpWithFeesDocumentService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/BaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/TestSetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/FeeLookupControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/FinalOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralLetterControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiniFormAControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RejectedOrderDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateContestedCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/error/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/AbstractDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/GenerateMiniFormATest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingNonFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/RejectionOrderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignedToJudgeDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderNotApprovedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenericDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HelpWithFeesDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnlineFormDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RefusalOrderDocumentServiceTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/bulkprint/bulk-print.json
  src/test/resources/fixtures/contested/bulk_print_consent_order_approved.json
  src/test/resources/fixtures/contested/bulk_print_consent_order_not_approved.json
  src/test/resources/fixtures/contested/bulk_print_simple.json
Labels: ns:financial-remedy, rel:finrem-cos-pr-346

#348 updating FR contact details
  src/main/resources/markdown/contested-hwf-payment-confirmation.md
  src/main/resources/markdown/contested-pba-payment-confirmation.md
Labels: ns:financial-remedy, rel:finrem-cos-pr-348
