Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2020-01, with the labels that each got.

#217 BSP-131: FR Form A Section 3 Validation and Transformation
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/helper/BulkScanHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformations/FormAToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/validation/FormAValidator.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulk/scan/helper/BulkScanHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulk/scan/transformation/FormAToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulk/scan/validation/FormAValidatorTest.java
Labels: ns:financial-remedy, ns:finrem-cos-pr-217, rel:finrem-cos-pr-217

#221 Sonar fix
  build.gradle
  charts/finrem-cos/values.preview.template.yaml
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/caseorchestration/AmendCaseDetailsTest.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/caseorchestration/ValidateHearingDatesTest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ValidateHearingController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ValidateHearingService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ValidateHearingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingNonFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ValidateHearingServiceTest.java
  src/test/resources/fixtures/contested/validate-hearing-withoutfastTrackDecision.json
Labels: ns:financial-remedy, rel:finrem-cos-pr-221

#222 Fixing NPE when getting null value from casedata
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentTranslator.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CommonFunction.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DocumentValidationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetService.java
  src/test/resources/fixtures/bulk-print.json
Labels: ns:financial-remedy, rel:finrem-cos-pr-222

#224 Replace halt on Prod
  Jenkinsfile_CNP
Labels: ns:financial-remedy, rel:finrem-cos-pr-224

#226 Bumped spring version to get rid of multiple high vulnerabilities
  build.gradle
Labels: ns:financial-remedy, rel:finrem-cos-pr-226
