Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2020-11, with the labels that each got.

#483 RPET-511: Case Data Migration
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/CourtDetailsMigration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/RemoveNottinghamCourtListGaMigration.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/CourtDetailsMigrationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/RemoveNottinghamCourtListGaMigrationTest.java
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-already-migrated.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-consented.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-invalid-court-data-ga.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-invalid-court-data.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-birmingham-ac.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-birmingham-ga.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-birmingham.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-cfc-ac.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-cfc-ga.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-cfc.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-cleaveland-ac.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-cleaveland-ga.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-cleaveland.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-hsyorkshire-ac.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-hsyorkshire-ga.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-hsyorkshire.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-invalid-frc-london-ac.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-invalid-frc-london.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-invalid-frc-midlands-ac.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-invalid-frc-midlands.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-invalid-frc-northeast-ac.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-invalid-frc-northeast.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-invalid-frc-northwest-ac.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-invalid-frc-northwest.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-invalid-frc-southeast-ac.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-invalid-frc-southeast.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-invalid-frc-wales-ac.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-invalid-frc-wales.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-invalid-region-ac.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-invalid-region.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-kent-ac.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-kent-ga.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-kent.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-liverpool-ac.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-liverpool-ga.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-liverpool.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-manchester-ac.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-manchester-ga.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-manchester.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-newport-ac.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-newport-ga.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-newport.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-nottingham-ac.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-nottingham-ga.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-nottingham.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-nwyorkshire-ac.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-nwyorkshire-ga.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-nwyorkshire.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-swansea-ac.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-swansea-ga.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-migration-applicable-swansea.json
  src/test/resources/fixtures/migration/courtDetailsMigration/ccd-migrate-request-no-court-data.json
  src/test/resources/fixtures/migration/removeNottinghamCourtListGAMigration/ccd-migrate-remove-nottingham-court-list-ga.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-483

#489 FR-1837: fix double printing hearing documents when warnings were issued during the event
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/caseorchestration/ValidateHearingDatesTest.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/FinancialRemedyDocumentGeneratorTests.java
  src/functionalTests/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ValidateHearingController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ValidateHearingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/resources/fixtures/contested/validate-hearing-with-fastTrackDecision-paperApplication.json
  src/test/resources/fixtures/model/ccd-request.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-489

#492 FR-1873: Email Respondent Solicitor - Solicitor to Draft Order
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/notification/NotificationTests.java
  src/functionalTests/resources/application.properties
  src/functionalTests/resources/json/contested/applicant-solicitor-to-draft-order-with-email-consent.json
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/Features.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ff4j/FeatureToggle.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-492

#493 FR-1551: Respondent solicitor email for FR contested application issued
  charts/finrem-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/TestSetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-493

#498 refactor notification request mapper and re-use get selected court de…
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ContestedCourtHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctions.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/BaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-498

#502 Refactor/notification request mapper
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/notification/NotificationTests.java
  src/functionalTests/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ContestedCourtHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctions.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/BaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-502

#490 RPET-164 Migration Handler and tests added for FRC/Court structure changes and migration
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/CourtDetailsMigration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/MigrationHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/Rpet164Phase1FrcCourtListMigrationImpl.java
  src/main/resources/json/court-details.json
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/Rpet164Phase1FrcCourtListMigrationImplNwTests.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/Rpet164Phase1FrcCourtListMigrationImplSeTests.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/Rpet164Phase1FrcCourtListMigrationImplSwTests.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/Rpet164Phase1FrcCourtListMigrationImplWalesTests.java
  src/test/resources/fixtures/migration/rpet-164-frc-updates/migrate-request-nw-burnley-to-temp.json
  src/test/resources/fixtures/migration/rpet-164-frc-updates/migrate-request-nw-preston.json
  src/test/resources/fixtures/migration/rpet-164-frc-updates/migrate-request-se-basildon-to-temp.json
  src/test/resources/fixtures/migration/rpet-164-frc-updates/migrate-request-se-bedford.json
  src/test/resources/fixtures/migration/rpet-164-frc-updates/migrate-request-se-oxford.json
  src/test/resources/fixtures/migration/rpet-164-frc-updates/migrate-request-sw-salisbury.json
  src/test/resources/fixtures/migration/rpet-164-frc-updates/migrate-request-sw-truro.json
  src/test/resources/fixtures/migration/rpet-164-frc-updates/migrate-request-sw-winchester.json
  src/test/resources/fixtures/migration/rpet-164-frc-updates/migrate-request-w-prestatyn.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-490

#508 remove org name after deprecation
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-508

#505 FR-1876 email repsondent solicitor when contest order not approved
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-505

#507 FR-1878: email respondent solicitor when consent order in contested case not approved
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-507

#503 FR-1877: Send Resp sol email for Contested Consent Order Approved
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-503

#497 FR-1874: prepare for first hearing respondent solicitor notification
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-497

#500 FR-1881 Send email notification to respondent solicitor when general order generated
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-500

#494 Feature/fr 1875 prepare for hearing resp email
  charts/finrem-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-494

#510 supressing junit
  dependency-check-suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-510

#511 FR-1901: generate consent approved order letter when order approved
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralEmailService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingNonFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/resources/fixtures/bulkprint/after-bulk-print.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-511

#516 RPET-164 fix non-showing address-phone-email fields on General application forms
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ConsentedCourtHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ContestedCourtHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctions.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/Rpet164FrcCourtListMigrationImpl.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ConsentedCourtHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctionsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/Rpet164FrcCourtListMigrationImplNwTests.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/Rpet164FrcCourtListMigrationImplSeTests.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/Rpet164FrcCourtListMigrationImplSwTests.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/Rpet164FrcCourtListMigrationImplWalesTests.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-516

#506 FR-1898: add appsol case role
  charts/finrem-cos/Chart.yaml
  charts/finrem-cos/values.preview.template.yaml
  charts/finrem-cos/values.yaml
  checkstyle.xml
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/SidamServiceConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/AssignCaseAccessServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/ServiceAuthTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PaymentConfirmationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/AssignCaseAccessRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/AssignCaseAccessRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RestService.java
  src/main/resources/application.properties
  src/main/resources/bootstrap.yaml
  src/smokeTest/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/BaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/BaseTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/ApplicationConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/AssignCaseAccessServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/HttpConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/ObjectMapperConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PaymentConfirmationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/AbstractDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/FeeLookUpTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingNonFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/MiamCheckTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/NotificationsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/PBAPaymentConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/PBAPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/PBAValidationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/TransformationBulkScanTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/AssignCaseAccessRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OptionIdToValueTranslatorTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ValidateHearingServiceTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/hwf.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-506

#515 FR-1879: send email notification to resp sol
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-515

#509 Fr 1855 pdf conversion
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/client/DocumentClient.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DraftHearingOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DraftHearingOrderData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenericDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/TestSetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelperTest.java
  src/test/resources/fixtures/contested/hearing-order-conversion.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-509

#504 FR-1862: Adding Contested Order Approved Email for Respondent Solicitor
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-504

#519 Rest service logging
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RestService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-519
