Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2020-10, with the labels that each got.

#480 ignoring false positives on nightly
  audit.json
  dependency-check-suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-480

#479 Upgrade Terraform to 13.4
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-479

#472 FR-1821: Ignore missing general order instead of returning an error
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedCaseOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedCaseOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-472

#481 Refactor hearing document service to mock generic document service an…
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedDraftOrderNotApprovedServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenericDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnlineFormDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-481

#471 FR-1813: general order endpoint
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/contested-consent-ccd-request-with-solicitor-agreed-to-emails.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-471

#463 FR-1761: awaiting judicary response notification
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/DocumentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignedToJudgeDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctions.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/TestSetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignedToJudgeDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/validation/FinRemBulkScanFormValidatorFactoryTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-463

#482 FR-1779- splitting paper case setting default for org policy
  charts/finrem-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataControllerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-482

#476 FR-1524: Trigger Additional Hearing Document
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/DocumentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/AdditionalHearingDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/AdditionalHearingDocumentData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CommonFunction.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CommonFunctionTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/bulkprint/bulk-print-additional-hearing-exists.json
  src/test/resources/fixtures/bulkprint/bulk-print-additional-hearing.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-476

#487 Hotfix judge not approved
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RejectedOrderDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ConsentOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/OrderRefusal.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OrderRefusalTranslatorService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RefusalOrderDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/TestSetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RejectedOrderDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/RejectionOrderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/OrderRefusalTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OrderRefusalTranslatorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RefusalOrderDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-487
