Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2021-02, with the labels that each got.

#553 Add context to log statements around approve consent order
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-553

#554 Prod INC5158205 fix
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-554

#552 FR-1932: Pre-populate applicant organisation details
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UpdateSolicitorDetailsService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UpdateSolicitorDetailsServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-552

#556 Re assign creator role
  charts/finrem-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/AddUserRolesRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/AddUserRolesRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/CaseAssignedUserRoleWithOrganisation.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CcdDataStoreService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/AddUserRolesRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CcdDataStoreServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-556

#557 disable test
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentControllerTest.java
  src/test/resources/fixtures/pba-payment-no-app-org.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-557

#560 Upgrade Helm chart API version to v2
  charts/finrem-cos/Chart.yaml
  charts/finrem-cos/requirements.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-560

#551 FR-1872: contested approved application cover letter
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/DocumentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedDraftOrderNotApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedCaseOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedDraftOrderNotApprovedService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedOrderApprovedLetterService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedDraftOrderNotApprovedServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedOrderApprovedLetterServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-551

#561 add assign case access logging
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentController.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-561

#563 Update base chart to latest version
  build.gradle
  charts/finrem-cos/Chart.yaml
  src/main/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-563

#564 FR-1702 respondent email preferences
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedDraftOrderNotApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignedToJudgeDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderNotApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedCaseOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HelpWithFeesDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ManualPaymentDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PaperNotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedDraftOrderNotApprovedControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignedToJudgeDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedCaseOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HelpWithFeesDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ManualPaymentDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OrderRefusalTranslatorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PaperNotificationServiceTest.java
  src/test/resources/fixtures/consented-ccd-request-with-solicitor-agreed-to-emails.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-564

#562 FR-1963 Amend document display in Contested
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ContestedUploadedDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadContestedCaseDocumentsService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadContestedCaseDocumentsServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-562

#559 Ta 391 pact consumer tests
  Jenkinsfile_CNP
  build.gradle
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/SidamServiceConsumerTest.java
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/caseassignment/AssignCaseServiceConsumerTest.java
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/ccddatastore/CaseDataStoreServiceConsumerContractTest.java
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/idam/IdamConsumerContractTest.java
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/rdprofessional/PrdOrganisationServiceConsumerContractTest.java
  src/contractTests/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-559

#569 zap ignore false positives.
  audit.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-569

#566 FR-1942 share documents
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ShareDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ShareDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadContestedCaseDocumentsService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ShareDocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UploadContestedCaseDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ShareDocumentsServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-566
