Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2021-01, with the labels that each got.

#533 FR-1891: Refactor Common Functions
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/FeeLookupController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiniFormAController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PaymentConfirmationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ContestedCourtHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CommonFunction.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderNotApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedCaseOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedDraftOrderNotApprovedService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PBAPaymentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RefusalOrderDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/FormAToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/mappers/ContactDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/CourtDetailsMigration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/Rpet164FrcCourtListMigrationImpl.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/FeeLookupControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiniFormAControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PaymentConfirmationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CommonFunctionTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedCaseOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/mappers/ContactDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/CourtDetailsMigrationTest.java
  src/test/resources/fixtures/applicant-solicitor-to-draft-order-without-email-consent.json
  src/test/resources/fixtures/contested-ccd-request-with-solicitor-agreed-to-emails.json
  src/test/resources/fixtures/contested-consent-ccd-request-with-solicitor-agreed-to-emails.json
  src/test/resources/fixtures/model/ccd-request.json
  src/test/resources/fixtures/respondent-solicitor-to-draft-order-with-email-consent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-533

#529 Fr 1927 update latest draft hearing document
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedCaseOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedCaseOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-529

#526 FR-1496 contested consent order print
  build.gradle
  charts/finrem-cos/Chart.yaml
  charts/finrem-cos/values.yaml
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/idam/IdamUtils.java
  src/functionalTests/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/client/EvidenceManagementClient.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ApprovedOrderData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CaseDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/BulkPrintDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/evidence/FileUploadResponse.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderNotApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DocumentOrderingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/MockFeignClientsTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignedToJudgeDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderNotApprovedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DocumentOrderingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DocumentValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenericDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HelpWithFeesDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ManualPaymentDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RefusalOrderDocumentServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-526

#536 Updating upload functionality to allow Confidential Documents to be f…
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UploadContestedCaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ContestedUploadedDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadContestedCaseDocumentsService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UploadContestedCaseDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadContestedCaseDocumentsServiceTest.java
  src/test/resources/fixtures/contested/contested-upload-case-documents-no-empty-collection.json
  src/test/resources/fixtures/contested/contested-upload-case-documents.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-536

#537 FR 1918 - Email Respondent Solicitor - Consent Order Made
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-537

#541 master test
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderNotApprovedDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-541

#543 Un-ignoring tests and fixing vulnerabilities
  build.gradle
  dependency-check-suppressions.xml
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/payments/PaymentServiceTests.java
  src/functionalTests/resources/json/contested/SuccessPaymentRequestPayload_Contested.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-543

#542 Remove Respondent Organisation Policy
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/RemoveRespondentSolOrg.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/RemoveRespondentSolOrgTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-542

#544 Adding logs for migrate endpoint
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/CcdDataMigrationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/RemoveRespondentSolOrg.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-544

#538 [DO-NOT-MERGE] FR-1924 Remove Share a case toggle
  charts/finrem-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/Features.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedDraftOrderNotApprovedControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-538

#485 FR-1848 - Populate Applicant Sol Address from PRD
  charts/finrem-cos/Chart.yaml
  charts/finrem-cos/values.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/PrdOrganisationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/Address.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/organisation/OrganisationContactInformation.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/organisation/OrganisationsResponse.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PrdOrganisationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RestService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UpdateSolicitorDetailsService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/PrdOrganisationConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ManualPaymentDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PrdOrganisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UpdateSolicitorDetailsServiceTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/invalid-case-type.json
  src/test/resources/fixtures/move-values-sample.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-485

#545 FR-1929: adding consent order not approved sent email notification
  build.gradle
  charts/finrem-cos/Chart.yaml
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-545

#546 Enable ACA API call to enable SaC
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PaymentConfirmationController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PaymentConfirmationControllerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-546

#550 revert changes
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/FinancialRemedyDocumentGeneratorTests.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-550
