Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2021-07, with the labels that each got.

#597 DFR-114 Suppress security scan.
  audit.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-597

#592 DFR-17: Updated Medway CCFC address
  src/main/resources/json/court-details.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-592

#584 RPET-392 Display the FRC court details
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-584

#583 RPET-957: Fixing Additional Hearing Documents generation
  README.md
  build.gradle
  docker/app.yml
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/TestContextConfiguration.java
  src/functionalTests/resources/example-application-local.properties
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-583

#596 DFR-59 update court details
  src/main/resources/json/court-details.json
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-596

#600 Update tomcat
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-600
