Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2022-07, with the labels that each got.

#720 DFR-1172: Suppress log4j vulnerability
  dependency-check-suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-720

#721 DFR-1175: fix security scan issue
  audit.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-721

#722 DFR-1175: fix security scan issue
  audit.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-722

#724 Serenity pact conflict
  build.gradle
  config/owasp/supressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-724

#727 DFR-1172: Exclude flexmark from pact
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-727

#710 DFR-1118: interim hearing collection
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ContestedCourtHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/InterimHearingHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/InterimHearingItemMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/InterimHearingBulkPrintDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/InterimHearingBulkPrintDocumentsData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/InterimHearingCollectionItemData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/InterimHearingCollectionItemIds.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/InterimHearingData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/InterimHearingItem.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctions.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/InterimHearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/BaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/ContestedCourtHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctionsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/InterimHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/resources/fixtures/contested/interim-hearing-nouploaded-doc.json
  src/test/resources/fixtures/contested/interim-hearing-one-collection.json
  src/test/resources/fixtures/contested/interim-hearing-one-modified-collection.json
  src/test/resources/fixtures/contested/interim-hearing-three-collection-no-track.json
  src/test/resources/fixtures/contested/interim-hearing-two-collection-formA.json
  src/test/resources/fixtures/contested/interim-hearing-two-collection-modified.json
  src/test/resources/fixtures/contested/interim-hearing-two-collection.json
  src/test/resources/fixtures/contested/interim-hearing-with-no-existing-hearing.json
  src/test/resources/fixtures/contested/interim-hearing.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-710

#704 Dfr 989 - Upload Approved Order Event
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/AdditionalHearingDirectionsCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DraftDirectionDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApprovedOrderNoticeOfHearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadApprovedOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderBaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApprovedOrderNoticeOfHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadApprovedOrderServiceTest.java
  src/test/resources/fixtures/general-application-directions.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-704

#732 Revert "Dfr 989 - Upload Approved Order Event"
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/AdditionalHearingDirectionsCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DraftDirectionDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApprovedOrderNoticeOfHearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadApprovedOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderBaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApprovedOrderNoticeOfHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadApprovedOrderServiceTest.java
  src/test/resources/fixtures/general-application-directions.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-732

#733 Revert "DFR-1118: interim hearing collection"
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ContestedCourtHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/InterimHearingHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/InterimHearingItemMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/InterimHearingBulkPrintDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/InterimHearingBulkPrintDocumentsData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/InterimHearingCollectionItemData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/InterimHearingCollectionItemIds.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/InterimHearingData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/InterimHearingItem.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctions.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/InterimHearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/BaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/ContestedCourtHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctionsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/InterimHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/resources/fixtures/contested/interim-hearing-nouploaded-doc.json
  src/test/resources/fixtures/contested/interim-hearing-one-collection.json
  src/test/resources/fixtures/contested/interim-hearing-one-modified-collection.json
  src/test/resources/fixtures/contested/interim-hearing-three-collection-no-track.json
  src/test/resources/fixtures/contested/interim-hearing-two-collection-formA.json
  src/test/resources/fixtures/contested/interim-hearing-two-collection-modified.json
  src/test/resources/fixtures/contested/interim-hearing-two-collection.json
  src/test/resources/fixtures/contested/interim-hearing-with-no-existing-hearing.json
  src/test/resources/fixtures/contested/interim-hearing.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-733

#739 DFR-1204: Suppress Ripudaman vulnerability (false positive)
  dependency-check-suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-739

#740 Dfr 989
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/AdditionalHearingDirectionsCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DraftDirectionDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApprovedOrderNoticeOfHearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadApprovedOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderBaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApprovedOrderNoticeOfHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadApprovedOrderServiceTest.java
  src/test/resources/fixtures/general-application-directions.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-740

#723 DFR-907: Add new event with the name of manage case documents
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UploadContestedCaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToStartCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToSubmitCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ContestedUploadedDocumentData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/ContestedUploadCaseFilesCollectionType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ManageCaseDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadCaseFilesAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UploadContestedCaseDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToStartCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToSubmitCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ManageCaseDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadCaseFilesAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-723

#742 DFR-1211: updated java chart version
  charts/finrem-cos/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-742

#748 DFR-1233 - Fix Respondent consent for email check
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/resources/fixtures/contested/validate-hearing-withoutfastTrackDecision.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-748

#751 Delete application-local.properties
  src/functionalTests/resources/application-local.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-751
