Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2022-08, with the labels that each got.

#754 DFR-1232: Interim hearings notices blank
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/InterimHearingService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/InterimHearingServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-754

#747 Reconfig for dtspo 9025
  Jenkinsfile_CNP
  README.md
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-747

#755 Adding the relevant changes for the Security shell file...
  audit.json
  security.sh
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-755

#753 Dfr 1114 update form c n g
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/DocumentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectedConsentOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectedConsentOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingNonFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-753

#761 DFR-1066: exclude contested callback from consent callback
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DocumentValidationController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DocumentValidationControllerTest.java
  src/test/resources/fixtures/latestConsentedConsentOrder/amend-consent-order-by-solicitor-contested.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-761

#763 fix functional test 404
  src/functionalTests/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-763

#765 DFR-1155: Consent order-Allow Nullity\Judicial separation case number
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/validation/FormAValidator.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/validation/FormAValidatorTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-765

#769 Add backstage configuration file
  catalog-info.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-769
