Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2022-06, with the labels that each got.

#668 DFR-908: Contested-Document handling Manage bundle event
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/HearingBundle.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/HearingBundleItems.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/HearingUploadBundle.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/HearingUploadBundleData.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedOrderControllerTest.java
  src/test/resources/fixtures/contested/manage-bundle-invalidate-document.json
  src/test/resources/fixtures/contested/manage-bundle-validate-hearing-date.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-668

#701 DFR-1113: fix security scan failure
  audit.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-701

#697 Dfr 1018 send order post state user choice
  README.md
  build.gradle
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/notification/NotificationTests.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/callback/CallbackType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/client/IdamAuthApi.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/ObjectMapperConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CcdCallbackController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/CaseType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/PostStateOption.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CallbackDispatchService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CcdService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IdamAuthService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/SystemUserService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/wrapper/IdamToken.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CcdCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CallbackDispatchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CcdServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IdamAuthServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/SystemUserServiceTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/simpleContestedCallbackRequest.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-697

#703 reverting cft plugin upgrade
  README.md
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-703

#706 Suppressing security scan issues
  audit.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-706

#708 Fix CFT lib missing role
  src/cftlib/java/uk/gov/hmcts/reform/finrem/caseorchestration/CftLibConfig.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-708

#713 Adding two suppressions
  audit.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-713

#709 DFR-1121 - Add phone opening hours to email notification request
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/notification/NotificationRequest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/notification/NotificationRequestTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-709

#655 DFR-969: update solicitor address and contact details
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/client/DataStoreClient.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseAssignedRoleController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateConsentedCaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateContestedCaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/NoCSolicitorDetailsHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CaseAssignedUserRole.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CaseAssignedUserRolesResource.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseAssignedRoleService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseAssignedRoleControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateConsentedCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateContestedCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseAssignedRoleServiceTest.java
  src/test/resources/fixtures/applicant-solicitor-to-draft-order-with-email-consent.json
  src/test/resources/fixtures/contested/amend-applicant-solicitor-details.json
  src/test/resources/fixtures/contested/remove-respondent-solicitor-details.json
  src/test/resources/fixtures/updatecase/remove-respondent-solicitor-details.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-655
