Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2022-12, with the labels that each got.

#866 DFR-1622: Courts issue fixed
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ClevelandCourt.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RegionLondonFrc.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-866

#852 DFR-1503: FR Send order event - CCD address field for applicantAddres…
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateConsentedCaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateConsentedCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-852

#868 DFR-1625: update deprecated callback
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-868

#869 DFR-1627: Add null check to BarristerRepresentationChecker
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerRepresentationChecker.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerRepresentationCheckerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-869

#873 fix dependency check
  config/owasp/suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-873

#881 Reduce the mutation threshold to 75
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-881

#882 DFR-1590: FR_addSchedulingListingInfo refector handler to use pojo
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/NatureApplication.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedAboutToStartHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-882

#872 DFR-1600: Consent Application Approved
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ConsentApplicationApprovedInContestedAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ConsentApplicationApprovedInContestedAboutToStartHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-872

#889 Revert "DFR-1590: FR_addSchedulingListingInfo refector handler to use pojo"
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/NatureApplication.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedAboutToStartHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-889
