Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2022-04, with the labels that each got.

#648 Bump springframework dependencies
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-648

#649 DFR-879: [FR 2022] - Maintenance Pending Suit - New Event - List for …
  build.gradle
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/util/FunctionalTestUtils.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/DocumentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralApplicationDirectionsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctions.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/TestSetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralApplicationDirectionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/contested-interim-hearing-nopaper.json
  src/test/resources/fixtures/contested-interim-hearing.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-649

#644 Dfr 924 convert word documents to pd fs
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-644

#654 Add Autoscaling finrem-cos Update Chart.yaml
  charts/finrem-cos/Chart.yaml
  charts/finrem-cos/values.yaml
  dependency-check-suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-654

#659 repo mod Update Chart.yaml
  charts/finrem-cos/Chart.yaml
  dependency-check-suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-659

#662 DFR-1013: fix security scan issue
  audit.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-662

#664 fix security scan issue
  audit.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-664
