Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2022-05, with the labels that each got.

#681 fix: security scan issue
  audit.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-681

#682 DFR-1072: Fix issue with NoC secrets
  src/main/resources/bootstrap.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-682

#678 DFR-1062: fix optional draft order not uploaded in general application
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-678

#680 Dfr 1052 local env setup plugin
  .gitignore
  Dockerfile
  README.md
  acb.tpl.yaml
  bin/build-finrem-xlxs-definitions.sh
  build.gradle
  docker-compose/aac-manage-case-assignment.yml
  docker-compose/dm-store.yml
  docker-compose/finrem-document-generator-client.yml
  docker-compose/finrem-evidence-management-client-api.yml
  docker-compose/finrem-notification-service.yml
  docker-compose/finrem-payment-service.yml
  docker-compose/professional-api.yml
  docker/test.yml
  settings.gradle
  src/cftlib/java/uk/gov/hmcts/reform/finrem/caseorchestration/CftLibConfig.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-680

#683 DFR-1072: Add NoC secrets to Charts
  charts/finrem-cos/Chart.yaml
  charts/finrem-cos/values.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-683

#685 DFR-1067: Fix issue with sending letters with empty address details
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/letters/handler/AbstractLetterHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/letters/handler/litigant/applicant/SolicitorChangedApplicantLetterHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/letters/handler/litigant/respondent/SolicitorChangedRespondentLetterHandler.java
  src/test/resources/fixtures/noticeOfChange/consented/add-respondent-solicitor-with-sol-address-and-no-email-before.json
  src/test/resources/fixtures/noticeOfChange/consented/remove-respondent-solicitor-with-sol-address-and-no-email.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/add-with-solicitor-and-applicant-addresses-and-no-emails-before.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/noc-letter-notifications-add-and-revoke-before.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/noc-letter-notifications-add-and-revoke.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/noc-letter-notifications-add-before.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/noc-letter-notifications-add.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/noc-letter-notifications-max-cor-before.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/noc-letter-notifications-max-cor.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/noc-letter-notifications-no-solicitor-email-applicant-before.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/noc-letter-notifications-no-solicitor-email-applicant.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/noc-letter-notifications-no-solicitor-email-no-applicant-address-before.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/noc-letter-notifications-no-solicitor-email-no-applicant-address.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/noc-letter-notifications-revoke-before.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/noc-letter-notifications-revoke.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/remove-with-no-solicitor-address-and-with-applicant-addresses-before.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/remove-with-solicitor-and-applicant-addresses-and-no-emails-before.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/remove-with-solicitor-and-applicant-addresses-and-no-emails.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/remove-with-solicitor-and-applicant-emails-before.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/remove-with-solicitor-and-applicant-emails.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-685

#686 Fix bootWithCCD task by adding new role
  src/cftlib/java/uk/gov/hmcts/reform/finrem/caseorchestration/CftLibConfig.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-686

#691 Bumping tomcat and suppressing security scan issue
  audit.json
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-691

#679 Dfr 1012 - update frc letter notifications
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/DocumentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/frcupateinfo/UpdateFrcInfoLetterDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenericDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PaperNotificationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/generators/UpdateFrcInfoLetterDetailsGenerator.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/BaseUpdateFrcInfoDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/UpdateFrcInfoApplicantDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/UpdateFrcInfoRespondentDocumentService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/generator/UpdateFrcInfoLetterDetailsGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/BaseUpdateFrcInfoDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/UpdateFrcInfoApplicantDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/UpdateFrcInfoRespondentServiceTest.java
  src/test/resources/fixtures/contested/generate-frc-info-letter-details.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-679

#671 DFR-998: Updated court address
  src/main/resources/json/court-details.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-671

#674 Dfr 909 disallow trial bundle
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CheckLatestConsentOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedDraftOrderNotApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CurrentDateController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DocumentValidationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/FeeLookupController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralApplicationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralApplicationDirectionsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralEmailStartController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralLetterController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralOrderStartController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiamCheckController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiniFormAController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAValidateController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PaymentConfirmationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RemoveApplicantDetailsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RemoveCaseDataStateController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ShareDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateConsentedCaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateContestedCaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateRepresentationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UploadContestedCaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/Features.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadCaseFilesAboutToSubmitHandler.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UploadContestedCaseDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadCaseFilesAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-674
