Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2022-10, with the labels that each got.

#792 DFR-1344: Fix general application status when application completed i…
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationReferToJudgeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/GeneralApplicationHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationReferToJudgeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationReferToJudgeAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/GeneralApplicationHelperTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-792

#796 DFR-1142: added additional doc upload option
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedAboutToStartHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-796

#800 Suppressing jackson databind
  config/owasp/suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-800

#803 DFR-1371 General Application PDF conversion migration
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationReferToJudgeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationReferToJudgeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectGeneralApplicationAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/GeneralApplicationHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationReferToJudgeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationReferToJudgeAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectGeneralApplicationAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectGeneralApplicationAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/GeneralApplicationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-803

#808 Dfr 1177 remove barrister
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/BarristerChange.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/ManageBarristerService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/ManageBarristerServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-808

#805 Dfr-1176 - manage barrister
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/CaseOrchestrationApplication.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/client/CaseDataApiV2.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/client/DataStoreClient.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/client/OrganisationApi.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/CacheConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/error/GrantCaseAccessException.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/error/NoSuchUserException.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/BarristerUpdateDifferenceCalculator.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/MaskHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/BarristerChange.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/Barrister.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/BarristerData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ChangeOfRepresentationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/notification/NotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/organisation/OrganisationUser.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseAssignedRoleService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ChangeOfRepresentationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PrdOrganisationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/SystemUserService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerValidationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/ManageBarristerService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/BarristerUpdateDifferenceCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/barristers/ManageBarristerTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/barristers/ManageBarristersITest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PrdOrganisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/ManageBarristerServiceTest.java
  src/test/resources/fixtures/barristers/manage-barrister-about-to-start.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-805

#802 Remove condition that sends a letter to the respondent from the manua…
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PaperNotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PaperNotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-802

#812 Dfr 1177 remove barrister
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/BarristerChange.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/ManageBarristerService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/ManageBarristerServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-812

#813 Dfr-1213 - barrister emails
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/notification/NotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/ManageBarristerService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/barristers/ManageBarristersITest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/ManageBarristerServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-813

#809 Dfr-1187 - barrister letter notifications
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/DocumentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/BarristerChangeType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/BarristerLetterTuple.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/barristers/BarristerLetterDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerLetterDetailsGenerator.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerLetterService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/ManageBarristerService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/generalapplication/generators/GeneralApplicationRejectionLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/generalapplication/service/RejectGeneralApplicationDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/generator/BaseContestedLetterDetailsGenerator.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/generators/UpdateFrcInfoLetterDetailsGenerator.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/BaseUpdateFrcInfoDocumentService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/barristers/ManageBarristerTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/barristers/ManageBarristersITest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerLetterDetailsGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/ManageBarristerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/generalapplication/generators/GeneralApplicationRejectionLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/generalapplication/service/RejectGeneralApplicationDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/generator/UpdateFrcInfoLetterDetailsGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/UpdateFrcInfoApplicantDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/UpdateFrcInfoRespondentServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-809

#814 DFR-1349 hearing notice not generated for nondigital litigants
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-814

#804 DFR-1346: fdr notifications
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/notification/NotificationRequest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/notification/NotificationRequestTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-804

#782 DFR-1303 - move aboutToSubmit code into Submit
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ApprovedConsentOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ApprovedConsentOrderSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ApprovedConsentOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ApprovedConsentOrderSubmittedHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-782

#817 DFR-1322 Amended miniFormTemplate=FL-FRM-APP-ENG-00002.docx with suffix DE…
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/FinancialRemedyDocumentGeneratorTests.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenericDocumentService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenericDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-817

#821 Revert "DFR-1322 Amended miniFormTemplate=FL-FRM-APP-ENG-00002.docx with suffix DE…"
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/FinancialRemedyDocumentGeneratorTests.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenericDocumentService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenericDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-821

#822 fortify-patch
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedOrderController.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-822

#807 Dfr 1384 log filename for bulk print
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/BulkPrintDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingNonFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-807

#823 DFR-1425: Contested - Issue date should be pre-populated
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IssueApplicationConsentedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IssueApplicationContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnStartDefaultValueService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IssueApplicationConsentedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IssueApplicationContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnStartDefaultValueServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-823
