Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2022-09, with the labels that each got.

#766 Remove notification for application issued for respondent
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-766

#770 Dfr 761 consented and contested bs allow civil partnership applications 1
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataControllerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-770

#776 update dependencies
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-776

#781 adding more logs in interim hearing service to find logs in azure
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/InterimHearingService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-781

#780 Dfr 1296 fr contested prevent orders being duplicated
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadApprovedOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadApprovedOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-780

#773 dfr1292 updated FRC details and added 2 new
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ConsentedCourtHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ContestedCourtHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/resources/json/court-details.json
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/ConsentedCourtHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/ContestedCourtHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctionsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ManualPaymentDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-773

#775 DFR-1294: Interim hearing notices to include time estimate
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/InterimHearingService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-775

#785 fix cve error
  config/owasp/suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-785

#786 fix ga outcome status
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/GeneralApplicationHelper.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-786

#787 DFr-1328: migrate existing general application if not migtrated alrea…
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-787

#771 DFR-120: add party names in notification
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/notification/NotificationRequest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/BaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/notification/NotificationRequestTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-771

#788 DFr-1333: updating ga status for completed ga application - prior to …
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToSubmitHandler.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-788

#778 DFR-1238 - remove postcode validation for consent order approval
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetServiceTest.java
  src/test/resources/fixtures/bulkprint/bulk-print-empty-solicitor-address-and-empty-postcode.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-778

#793 bump snakeyaml to v.1.33
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-793
