Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2023-03, with the labels that each got.

#922 Dfr 1587 refactor list for hearing
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/HearingConsentSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentHearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/FormAToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/mappers/ContactDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/CourtDetailsMigration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/Rpet164FrcCourtListMigrationImpl.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/BaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/HearingConsentSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/barristers/ManageBarristerTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/noc/NocTestConfig.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/mappers/ContactDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/FormCandGCorresponderTest.java
  src/test/resources/fixtures/consented.listOfHearing/list-for-hearing-multiple.json
  src/test/resources/fixtures/consented.listOfHearing/list-for-hearing-notification.json
  src/test/resources/fixtures/consented.listOfHearing/list-for-hearing.json
  src/test/resources/fixtures/contested/interim-hearing-two-collection.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-922

#949 fix azurem and terraform versions
  infrastructure/.terraform-version
  infrastructure/state.tf
Labels: ns:financial-remedy, prd:finrem, no-changes, rel:finrem-cos-pr-949

#950 DFR-1883: Barrister access- Fix FieldShowCondition
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerAboutToStartHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-950

#951 dfr-1199 checking pipeline
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/bulkscan/CcdBulkScanIntegrationTest.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/caseorchestration/ConsentOrderApprovedTest.java
  src/functionalTests/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingNonFastTrackDocumentTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-951

#941 Dfr 1793 high court seal
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/DocumentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentHearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedDraftOrderNotApprovedService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedOrderApprovedLetterService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/InterimHearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnlineFormDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RefusalOrderDocumentService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/ContestedOnlineFormTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/GenerateMiniFormATest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingNonFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/RejectionOrderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedDraftOrderNotApprovedServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedOrderApprovedLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnlineFormDocumentServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-941

#959 add dgcs secrets to chart
  charts/finrem-cos/Chart.yaml
  charts/finrem-cos/values.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-959

#960 dfr-1199 removing defaults
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IssueApplicationConsentedAboutToStartHandler.java
  src/main/resources/application.properties
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-960

#958 DFR-1843: fr high court judiciary options
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/JudgeType.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-958

#965 DFR-1921: Fix date issue with doc generation since DFR-1199
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApprovedOrderNoticeOfHearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctions.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedOrderApprovedLetterService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/BaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApprovedOrderNoticeOfHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedOrderApprovedLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-965

#962 DFR-1913: update contact details - both case type
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseAssignedRoleController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseAssignedRoleControllerTest.java
  src/test/resources/fixtures/applicant-solicitor-to-draft-order-with-email-consent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-962

#948 DFR-1817: Bypass cache when searching userroles and use new ccd data …
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/client/CaseDataApiV2.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/searchuserrole/SearchCaseAssignedUserRolesRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/solicitors/CheckSolicitorIsDigitalService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/NotificationsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/noc/NocLettersNotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/solicitors/CheckSolicitorIsDigitalServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-948

#946 Dfr 1574 interveners
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IntervenerHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IntervenersAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IntervenersAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IntervenersMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CaseRole.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DynamicRadioList.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DynamicRadioListElement.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/IntervenerConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/IntervenerFourWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/IntervenerOneWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/IntervenerThreeWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/IntervenerTwoWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IntervenersAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IntervenersAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IntervenersMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-946

#971 DFR-1938: remove prepare for hearing notification
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/notification/NotificationTests.java
  src/functionalTests/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FinremNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-971

#975 DFR-1937: remove case-reference field from fee and pay api call
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/pba/payment/PaymentRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/pba/payment/PaymentRequestWithSiteID.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PBAPaymentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/pba/payment/PaymentRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/pba/payment/PaymentRequestWithSiteIdTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/payments/SetUpUtils.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-975

#968 DFR-1880: Refector - Contested issue application
  src/functionalTests/resources/application-aat.properties
  src/functionalTests/resources/application.properties
  src/functionalTests/resources/json/contested/ccd-request-with-solicitor-contestApplicationIssued.json
  src/functionalTests/resources/json/contested/generate-contested-form-A1.json
  src/functionalTests/resources/json/contested/validate-hearing-with-fastTrackDecision1.json
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/DocumentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IssueApplicationContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IssueApplicationContestedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/miniformacontested/ContestedMiniFormADetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/letterdetails/ContestedMiniFormADetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnStartDefaultValueService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnlineFormDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/issueapplication/IssueApplicationContestedEmailCorresponder.java
  src/main/resources/application.properties
  src/main/resources/options/options-id-value-transform.json
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IssueApplicationConsentedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IssueApplicationContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IssueApplicationContestedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/ContestedOnlineFormTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/DraftOnlineFormTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/miniformacontested/ContestedMiniFormADetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnlineFormDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/issueapplication/IssueApplicationContestedEmailCorresponderTest.java
  src/test/resources/fixtures/contested/contested-mini-form-a-details-schedule-1.json
  src/test/resources/fixtures/contested/contested-mini-form-a-details.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-968

#977 fix dep
  build.gradle
  charts/finrem-cos/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-977

#969 Dfr 1895 add high court seal
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ApprovedConsentOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/PdfAnnexStampingInfo.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenericDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PdfStampingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/StampType.java
  src/main/resources/application.properties
  src/main/resources/highcourtseal _upside_down.png
  src/main/resources/highcourtseal.pdf
  src/main/resources/highcourtseal.png
  src/main/resources/highcourtseal_left_90.png
  src/main/resources/highcourtseal_right_90.png
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ApprovedConsentOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenericDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PdfStampingServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-969

#972 DFR-1879: added manual payment pojo handler
  audit.json
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManualPaymentSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ManualPaymentDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PaperNotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManualPaymentSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ManualPaymentDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PaperNotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-972
