Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2023-02, with the labels that each got.

#923 DFR-1669: fr court details in letter
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-923

#926 DFR-1794 invalid field removed
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ContestedGeneralOrder.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-926

#928 Finesse Autoscaling
  charts/finrem-cos/Chart.yaml
  charts/finrem-cos/values.preview.template.yaml
  charts/finrem-cos/values.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-928

#929 Raise mem limit
  charts/finrem-cos/Chart.yaml
  charts/finrem-cos/values.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-929

#933 Update Chart.yaml
  charts/finrem-cos/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-933

#914 DFR-1736: send order - convert doc to pdf
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/MockFeignClientsGenericTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentServiceV2Test.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/FormCandGCorresponderTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-914

#927 DFR-1754-Ready-for-Hearing-Event
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ReadyForHearingConsentedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ConsentedHearingHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/GeneralOrder.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ReadyForHearingConsentedAboutToStartHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-927

#911 Dfr 1338
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/DocumentValidationTests.java
  src/functionalTests/resources/json/consented/approved-consent-order-with-applicant-solicitor.json
  src/functionalTests/resources/json/consented/approved-consent-order.json
  src/functionalTests/resources/json/latestConsentedConsentOrder/draft-consent-order.json
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ApprovedConsentOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderConsentedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderConsentedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderContestedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ApprovedOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ConsentOrderCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ConsentOrderHolder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/PensionCollectionData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/PensionType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/PensionTypeCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/TypedCaseDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/ConsentOrderWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/TestSetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderConsentedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderConsentedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderContestedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremCaseDetailMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/PensionCollectionDataTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentServiceV2Test.java
  src/test/resources/fixtures/approvedOrder/consentedApprovedOrder.json
  src/test/resources/fixtures/latestConsentedConsentOrder/validate-form-a-collection.json
  src/test/resources/fixtures/latestConsentedConsentOrder/validate-pension-collection.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-911

#936 DFR-1831: Fix copy of form a
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/TestSetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/FormCandGCorresponderTest.java
  src/test/resources/fixtures/latestConsentedConsentOrder/validate-form-a-collection.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-936

#935 DFR-1822: send order - convert to pdf
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadApprovedOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-935

#939 DFR-1838: send order null pointer
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandler.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-939

#931 DFR-1812: List for hearing - prevent bulkprint request if there is a …
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ValidateHearingService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingNonFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ValidateHearingServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-931

#938 DFR-1833-Consented-Ready-for-Hearing-Error
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/AdditionalHearingDirectionsCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/Address.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ApplicationNotApproved.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/Barrister.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ChildDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ChildInfo.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ChildrenInfo.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ConfidentialUploadedDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ConsentOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ConsentedHearingDataElement.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ContestedChildrenDetailDataElement.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ContestedGeneralOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ContestedUploadOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/Court.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DirectionDetail.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DirectionDetailInterim.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DirectionDetailsCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DraftDirectionDetailsHolder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/GeneralApplicationItems.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/GeneralEmailData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/GeneralEmailHolder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/GeneralUploadedDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/HearingBundle.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/HearingDirectionDetail.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/HearingUploadBundleHolder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/OrderRefusal.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/OrderRefusalHolder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/PropertyAdjustmentOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RespondToOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RespondToOrderData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RespondToOrderDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/SolUploadDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/TransferCourtEmail.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/TransferLocalCourtEmailData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/UploadCaseDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/UploadConfidentialDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/UploadConsentOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/UploadConsentOrderDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/UploadDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/UploadGeneralDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/UploadOrder.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-938

#942 Dfr 1834 bugfix ccd conc issue
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CcdService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CcdServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-942

#943 DFR-1670: proper officer of the court option added
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/JudgeType.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-943
