Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2023-12, with the labels that each got.

#1434 fix renovate schedule
  .github/renovate.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1434

#1435 DFR-2485: INC5562612: FR contested Exception: There must be exactly o…
  src/main/resources/courtListUpdateCaseReferenceList.csv
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1435

#1424 DFR-2465 keep Outcome details even after general direction is completed.
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToSubmitHandler.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1424

#1433 DFR-2572: prevent generating new hearing notice for existing interim …
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/InterimHearingHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/InterimHearingService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/InterimHearingServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1433

#1275 DFR-2337-Move notifications to send order consent event
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendConsentOrderInContestedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderNotApprovedDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendConsentOrderInContestedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderNotApprovedDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1275

#1445 Suppress logback cve
  config/owasp/suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1445

#1450 supress CVE-2023-6481
  config/owasp/suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1450

#1452 Dfr 2590 rerun mini form a
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/RegenerateDraftOnlineFormATask.java
  src/main/resources/regenerateDraftFormA.csv
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1452

#1428 DFR-2568: validate only new uploaded document for bulk print
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendConsentOrderMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ConsentOrderInContestedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/HearingConsentMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/JudgeDraftOrderMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorAndCaseWorkerDraftOrderMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorCreateConsentedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderContestedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendConsentOrderMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ConsentOrderInContestedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/HearingConsentMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/JudgeDraftOrderMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorAndCaseWorkerDraftOrderMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorCreateConsentedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderContestedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1428

#1422 Dfr 2518 categorise general letter collection
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/DocumentCategory.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/CreateGeneralLetterDocumentCategoriser.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1422

#1102 DFR-2183: send recipients in all bulk print requests
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentGeneratorService.java
  src/main/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1102

#1451 Dfr 2384 2433
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/DocumentCategory.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/applicant/ApplicantChronologiesStatementHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/respondent/RespondentChronologiesStatementHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/applicant/ApplicantChronologiesStatementCollectionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/respondent/RespondentChronologiesStatementCollectionServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1451

#1425 DFR-2512 and DFR-2513-categorise general orders and general orders consent
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/GeneralOrderDocumentCategoriser.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, no-changes, rel:finrem-cos-pr-1425

#1454 DFR-2584 Tidy up Controller/Service logs
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkScanController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CcdCallbackController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DraftOnlineDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/FeeLookupController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiniFormAController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateRepresentationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApprovedOrderNoticeOfHearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/InterimHearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerLetterService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/CaseDetailsEmailOnlyAllSolicitorsCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/CaseDetailsEmailOnlyApplicantSolicitorCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/CaseDetailsMultiLetterOrEmailAllPartiesCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/CaseDetailsSingleLetterOrEmailAllPartiesCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/CaseDetailsSingleLetterOrEmailApplicantCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/FinremEmailOnlyAllSolicitorsCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/FinremEmailOnlyApplicantSolicitorCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/FinremMultiLetterOnlyAllPartiesCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/FinremMultiLetterOrEmailAllPartiesCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/FinremSingleLetterOrEmailAllPartiesCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/FinremSingleLetterOrEmailApplicantCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ConsentOrderMadeCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ConsentOrderNotApprovedCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ConsentOrderNotApprovedSentCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ContestedConsentOrderApprovedCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ContestedConsentOrderNotApprovedCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ContestedDraftOrderCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ContestedIntermHearingCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/FinremConsentOrderMadeCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/FinremContestedSendOrderCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/generalorder/GeneralOrderRaisedCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/FinremFormCandGCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/FormCandGCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hwf/HwfCorrespondenceService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/intervener/IntervenerAddedCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/intervener/IntervenerCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/intervener/IntervenerDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/intervener/IntervenerRemovedCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/updatefrc/UpdateFrcCorrespondenceService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/updatefrc/UpdateFrcLetterOrEmailAllSolicitorsCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/generalapplication/service/RejectGeneralApplicationDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/NocLetterNotificationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/nocworkflows/NoticeOfChangeService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/nocworkflows/UpdateRepresentationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/nocworkflows/UpdateRepresentationWorkflowService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/solicitors/CheckSolicitorIsDigitalService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/solicitors/RemovedSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderPartyDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/BaseUpdateFrcInfoDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/UpdateFrcInfoApplicantDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/UpdateFrcInfoRespondentDocumentService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1454
