Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2023-07, with the labels that each got.

#1071 DFR-2114: approved consent order - convert pension document in pdf
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenericDocumentService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1071

#1072 DFR-2117: added intervner feature toggle
  charts/finrem-cos/values.aat.template.yaml
  charts/finrem-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UploadContestedCaseDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/Features.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ConfidentialUploadedDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/ConfidentialDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/FdrDocumentsHandler.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UploadContestedCaseDocumentsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/ConfidentialDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/FdrDocumentsHandlerTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1072

#1051 DFR-2068 Intervener letters
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/AddresseeGeneratorHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/GeneralApplicationWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/CaseDetailsMultiLetterOrEmailAllPartiesCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/FinremMultiLetterOrEmailAllPartiesCorresponder.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/AddresseeGeneratorHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/FinremCaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/FinremHearingCorrespondenceBaseTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/FormCandGCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/HearingCorrespondenceBaseTest.java
  src/test/resources/fixtures/bulkprint/bulk-print-intervener1-notrepresented.json
  src/test/resources/fixtures/bulkprint/bulk-print-intervener1-represented.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1051

#1074 DFR-2132: Update Leyland address
  src/main/resources/json/court-details.json
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctionsTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1074

#985 DFR 1731 share selected document with others
  build.gradle
  config/owasp/suppressions.xml
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/ccddatastore/GetUserRolesConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ShareSelectedDocumentsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ShareSelectedDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DynamicMultiSelectList.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DynamicMultiSelectListElement.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/UploadCaseDocumentWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/ContestedUploadCaseFilesCollectionType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApplicantShareDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseAssignedRoleService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerShareDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RespondentShareDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/SharedService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/ManageBarristerService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ShareSelectedDocumentsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ShareSelectedDocumentsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApplicantShareDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseAssignedRoleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerShareDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RespondentShareDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/ManageBarristerServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-985, use-defs-pr-1137

#1080 DFR-2123: Resolve blocker issues - sonar
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerShareDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OrderRefusalTranslatorService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApplicationAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/BaseHandlerTestSetup.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationReferToJudgeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationReferToJudgeAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ReadyForHearingConsentedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectGeneralApplicationAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectGeneralApplicationAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UpdateGeneralApplicationStatusAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderBaseHandlerTestSetup.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderContestedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/DraftOnlineFormTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/RejectionOrderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OrderRefusalTranslatorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/documents/LitigantSolicitorAddedNocDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/documents/LitigantSolicitorRemovedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/documents/NocDocumentServiceBaseTestSetup.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/documents/SolicitorNocDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/documents/generators/AbstractLetterDetailsGeneratorTestSetup.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/documents/generators/SolicitorAddedLetterDetailsGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/documents/generators/SolicitorRemovedLetterDetailsGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/BaseUpdateFrcInfoDocumentServiceSetup.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/UpdateFrcInfoApplicantDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/UpdateFrcInfoRespondentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1080

#1086 DFR-2162: revert recipient name from bulk print request
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentGeneratorService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1086

#1087 fix-depend-issue
  config/owasp/suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1087

#1096 Dfr 2123 code improvement critical
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/client/IdamAuthApi.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/FeeLookupController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiniFormAController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAValidateController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PaymentConfirmationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RejectedOrderDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RemoveApplicantDetailsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateConsentedCaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AssignApplicantSolicitorHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationReferToJudgeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/AddresseeGeneratorHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/PensionDocumentType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/FormAToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hwf/HwfConsentedApplicantCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/evidencemanagement/EvidenceManagementUploadService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/CourtDetailsMigration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/Rpet164FrcCourtListMigrationImpl.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiniFormAControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PaymentConfirmationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremCaseDetailMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/AdditionalHearingDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/AddresseeGeneratorHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UpdateRepresentationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/CourtDetailsMigrationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/Rpet164FrcCourtListMigrationImplNwTests.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/solicitors/AddedSolicitorServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1096

#1088 DFR-2123: resolve the sonar issues
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectGeneralApplicationAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectGeneralApplicationSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorCreateConsentedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorCreateContestedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UploadContestedCaseDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UploadGeneralDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/intervener/IntervenersAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/health/AbstractServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ContestedCourtHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/GeneralApplicationHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/NoCSolicitorDetailsHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/CourtDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremCaseDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/AbstractLetterDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/miniformaconsented/ConsentInContestMiniFormADetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/miniformaconsented/MiniFormADetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/miniformacontested/ContestedMiniFormADetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/rejectedorder/RejectedOrderDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApprovedOrderNoticeOfHearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignedToJudgeDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CallbackDispatchService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctions.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentHearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderNotApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/ContestedCourtHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorCreateConsentedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorCreateContestedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctionsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1088

#1083 DFR-2049: Configure renovate to automerge minor version upgrades
  .github/renovate.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1083

#1106 DFR-2123: major, minor and info issues
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/nocworkflows/UpdateRepresentationService.java
  src/main/resources/sonar-project.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkScanControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/health/AbstractServiceHealthCheckTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PrdOrganisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentgenerator/DocumentConversionServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1106

#1127 DFR-2030: Fix spring security vuln
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1127

#1115 DFR-2188 not serialising empty collections
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/UploadCaseDocumentWrapper.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1115

#1133 don't save empty collections
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1133
