Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2023-09, with the labels that each got.

#1208 fix security scan issue
  audit.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1208

#1193 Dfr 2168 select parties list for hearing
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/CaseDetailsMultiLetterOrEmailAllPartiesCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/FinremMultiLetterOrEmailAllPartiesCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/SelectablePartiesCorrespondenceService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/AdditionalHearingCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/FinremAdditionalHearingCorresponder.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingNonFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/SelectablePartiesCorrespondenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/AdditionalHearingCorresponderTest.java
  src/test/resources/fixtures/contested/validate-hearing-withoutfastTrackDecision.json
Labels: ns:financial-remedy, prd:finrem, no-changes, rel:finrem-cos-pr-1193, use-defs-pr-1286

#1215 DFR-2302 NPE fix
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToSubmitHandler.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1215

#1216 DFR-2238: Send letter setting for lower env
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentGeneratorService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1216

#1228 fix cve
  config/owasp/suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1228

#1226 DFR-2346: consent general letter missing respondent name in letter
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
  src/test/resources/fixtures/general-letter.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1226

#1220 DFR-2338: Order should appear newest at top in Send Order
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderApplicantDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerFourDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerOneDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerThreeDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerTwoDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderRespondentDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1220
