Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2023-05, with the labels that each got.

#910 DFR-1760: Integrate FinremCaseDataTest into pipeline
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/ContactDetailsWrapper.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/CCDConfigValidator.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/FinremCaseDataTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-910

#1005 Excluding FinremCaseData Test
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1005

#1007 DFR-2004: list for hearing - moved bulkprint logic into submit handler
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ValidateHearingService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingNonFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ValidateHearingServiceTest.java
  src/test/resources/fixtures/contested/validate-hearing-withoutfastTrackDecision.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1007

#1002 DFR-1995: Sending recipient in additional data - bulk print
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManualPaymentSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenericDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PaperNotificationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerLetterService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/CaseDetailsSingleLetterOrEmailAllPartiesCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/CaseDetailsSingleLetterOrEmailApplicantCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/FinremSingleLetterOrEmailAllPartiesCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/FinremSingleLetterOrEmailApplicantCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/letters/handler/AbstractLetterHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManualPaymentSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/barristers/ManageBarristersITest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/noc/NocLettersNotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenericDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PaperNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/assigntojudge/AssignToJudgeCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/assigntojudge/FinremAssignToJudgeCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/assigntojudgeconsentinconstested/FinremAssignToJudgeConsentInContestedCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hwf/HwfConsentedApplicantCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/letters/handler/LetterHandlerTestBase.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1002

#1009 DFR-2014: general letter
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1009

#1012 DFR-2025: Add feature toggle around recipient - to avoid duplicate ch…
  charts/finrem-cos/values.aat.template.yaml
  charts/finrem-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/Features.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1012

#1011 DFR-1889 Manage Interveners-Add "Reference number"and "Representative firm"
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/IntervenerFourWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/IntervenerOneWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/IntervenerThreeWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/IntervenerTwoWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerServiceTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-1169, rel:finrem-cos-pr-1011

#1013 DFR-1760 Set localMode variable automatically
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/FinremCaseDataTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1013

#1014 DFR-2004: Improve logging adding caseId
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentControllerTest.java
  src/test/resources/fixtures/bulkprint/bulk-print-additional-hearing-confidential.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1014

#1003 DFR-1769 Update manage intervener barrister
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/BarristerParty.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/ManageBarristerService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/nocworkflows/UpdateRepresentationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UpdateRepresentationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/ManageBarristerServiceTest.java
  src/test/resources/fixtures/noticeOfChange/contestedIntvr1SolicitorAdding/after-update-details.json
  src/test/resources/fixtures/noticeOfChange/contestedIntvr1SolicitorAdding/change-of-representatives-before.json
  src/test/resources/fixtures/noticeOfChange/contestedIntvr1SolicitorAdding/change-of-representatives.json
  src/test/resources/fixtures/noticeOfChange/contestedIntvr2SolicitorAdding/after-update-details.json
  src/test/resources/fixtures/noticeOfChange/contestedIntvr2SolicitorAdding/change-of-representatives-before.json
  src/test/resources/fixtures/noticeOfChange/contestedIntvr2SolicitorAdding/change-of-representatives.json
  src/test/resources/fixtures/noticeOfChange/contestedIntvr3SolicitorAdding/after-update-details.json
  src/test/resources/fixtures/noticeOfChange/contestedIntvr3SolicitorAdding/change-of-representatives-before.json
  src/test/resources/fixtures/noticeOfChange/contestedIntvr3SolicitorAdding/change-of-representatives.json
  src/test/resources/fixtures/noticeOfChange/contestedIntvr4SolicitorAdding/after-update-details.json
  src/test/resources/fixtures/noticeOfChange/contestedIntvr4SolicitorAdding/change-of-representatives-before.json
  src/test/resources/fixtures/noticeOfChange/contestedIntvr4SolicitorAdding/change-of-representatives.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1003

#1018 DTSPO-13810 reschedule jenkins nightly builds
  Jenkinsfile_nightly
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1018

#1021 DFR-2023: stop sending recipient to send letter request
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentGeneratorService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1021

#1022 DFR-2024: handling nullpointer in remove solicitor service
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/solicitors/RemovedSolicitorService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/solicitors/RemovedSolicitorServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1022

#1024 DFR-615: fix auth issue
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DocumentManagementService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1024

#1023 DFR-2009: correspondence for offline parties
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1023

#1016 Dfr 1633 add intervener email notifications
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremNotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/intervener/IntervenerFourToIntervenerDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/intervener/IntervenerOneToIntervenerDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/intervener/IntervenerThreeToIntervenerDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/intervener/IntervenerTwoToIntervenerDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/intervener/IntervenerDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/notification/NotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/domain/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/intervener/IntervenerAddedCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/intervener/IntervenerDocumentService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremNotificationRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/domain/NotificationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/intervener/IntervenerAddedCorresponderTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1016
