Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2023-04, with the labels that each got.

#983 DFR-1963: INCIDENT: Issue application error
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/miniformacontested/ContestedMiniFormADetailsMapper.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-983

#984 DFR-1958: INCIDENT: List for hearing error
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/OrderRefusalOption.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-984

#978 DFR-1798: Darlington Magistrates Court
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ConsentedCourtHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ClevelandCourt.java
  src/main/resources/json/court-details.json
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/ConsentedCourtHelperTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-978

#987 DFR-1966: INCIDENT: Unable to lodge general application
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CaseRole.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-987

#988 DFR-1967: security.sh file should now be removed from the root of you…
  audit.json
  security.sh
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-988

#990 fix security scan and improve logging
  audit.json
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IssueApplicationContestedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/solicitors/CheckSolicitorIsDigitalService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-990

#991 DFR-1973: INCIDENT: Approve application error
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PdfStampingService.java
  src/main/resources/highcourtseal _upside_down.png
  src/main/resources/highcourtseal.png
  src/main/resources/highcourtseal_left_90.png
  src/main/resources/highcourtseal_right_90.png
  src/main/resources/highcourtseal_upside_down.png
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-991

#986 DFR-307: No option for letter to go to Applicant in person on consent…
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/GeneralLetterAddressToType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-986

#799 Dfr 1286 case flags
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DraftOnlineDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateContestedCaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorCreateConsentedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/caseflag/caseflag/CaseFlag.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/caseflag/caseflag/FlagDetail.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/caseflag/caseflag/FlagDetailData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/caseflag/caseflag/PathValue.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/CaseFlagsWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseFlagsService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DraftOnlineDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateContestedCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorCreateConsentedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremCaseDetailMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/CCDConfigValidator.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseFlagsServiceTest.java
  src/test/resources/fixtures/case-flags.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-799

#995 duplicate and security fix
  audit.json
  src/main/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-995

#998 Dfr 1991 order refusal date
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/rejectedorder/RejectedOrderDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/OrderRefusal.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/letterdetails/TranslatedOrderRefusalDocument.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/rejectedorder/RejectedOrderDetailsMapperTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-998

#1000 fix cve
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1000

#976 Dfr 1931 notification service to cos
  Jenkinsfile_CNP
  build.gradle
  charts/finrem-cos/Chart.yaml
  charts/finrem-cos/values.yaml
  config/owasp/suppressions.xml
  src/functionalTests/resources/json/contested/update-frc-info.json
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/health/NotificationServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/NotificationConstants.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/client/EmailClient.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/domain/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/domain/EmailToSend.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/BaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/health/NotificationServiceHealthCheckTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/NotificationsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/barristers/ManageBarristerTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/barristers/ManageBarristersITest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/noc/NocLettersNotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/client/EmailClientTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/domain/EmailTemplateNamesTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/domain/EmailToSendTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/domain/NotificationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/testutil/ObjectMapperTestUtil.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FinremNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-976

#999 DFR-1983: reject general application - respondent correspondence fix
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectGeneralApplicationSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectGeneralApplicationSubmittedHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-999

#970 Dfr 1553 get ccd user roles pact
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/ccddatastore/GetUserRolesConsumerTest.java
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/ccddatastore/SearchUserRolesConsumerTest.java
  src/contractTests/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-970

#979 DFR-1954: address line 3 added in formatted address
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-979

#992 DFR-1982: approved order - correspondence digital check
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/FinancialRemedyDocumentGeneratorTests.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderPrintServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-992
