Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2023-08, with the labels that each got.

#1084 Dfr 1992 manage case documents intervener
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UploadContestedCaseDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/UploadCaseDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/UploadCaseDocumentCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/ConfidentialDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/FdrDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/LegacyConfidentialDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/PartyDocumentsHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ShareSelectedDocumentsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UploadContestedCaseDocumentsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApplicantShareDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerShareDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RespondentShareDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/BaseManageDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/LegacyConfidentialDocumentsServiceTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-1244, rel:finrem-cos-pr-1084

#1150 DFR-2116 adding back confidential
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/CCDConfigValidator.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-1269, rel:finrem-cos-pr-1150

#1140 Upgrade: java-logging 6.0.1
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1140

#1167 DFR-2210: FR Contested - wrong address being pulled into hearing noti…
  src/main/resources/json/court-details.json
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctionsTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1167

#1191 Test PR
  Jenkinsfile_CNP
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/FinremCaseDataTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1191

#1195 revert temporary remove copyartifact
  Jenkinsfile_CNP
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/FinremCaseDataTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1195

#1146 Dfr 2157 manage case docs interveners
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UploadContestedCaseDocumentsAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-1266, rel:finrem-cos-pr-1146

#1156 DFR-1580 adding the deletion logic for manage case docs
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/UploadCaseDocumentCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/DocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/evidencemanagement/EvidenceManagementDeleteService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, no-changes, rel:finrem-cos-pr-1156

#1004 DFR-1730: Manage orders
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PartyService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PartyServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1004, use-defs-pr-1167

#1205 DFR-2084: Letter correspondence interveners - System Generated
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectGeneralApplicationSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PaperNotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectGeneralApplicationSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PaperNotificationServiceTest.java
  src/test/resources/fixtures/refusal-order-contested.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1205, use-defs-pr-1289

#1147 Dfr 2069 update general letter correspondence for intervener roles
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CreateGeneralLetterAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CreateGeneralLetterAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremNotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/AddresseeGeneratorHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/generalletter/GeneralLetterDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/GeneralLetterWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerShareDocumentsService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CreateGeneralLetterAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/generalletter/GeneralLetterDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignedToJudgeDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetServiceFinremTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenerateCoverSheetServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ManualPaymentDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, no-changes, rel:finrem-cos-pr-1147

#1207 DFR-2212 adding logs to contested
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RemoveApplicantDetailsController.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1207
