Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2023-01, with the labels that each got.

#891 Revert "DFR-1600: Consent Application Approved"
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ConsentApplicationApprovedInContestedAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ConsentApplicationApprovedInContestedAboutToStartHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-891

#896 DFR-1715: List for hearing north east court
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ContestedCourtHelper.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/ContestedCourtHelperTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-896

#855 DFR-1389: Refactor correspondence code to use consistent logic
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/notification/NotificationTests.java
  src/functionalTests/resources/json/consented/ccd-request-with-solicitor-hwfSuccessfulEmail1.json
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectGeneralApplicationSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApprovedOrderNoticeOfHearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctions.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PaperNotificationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/CorresponderBase.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/EmailOnlyAllSolicitorsCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/EmailOnlyApplicantSolicitorCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/MultiLetterOrEmailAllPartiesCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/SingleLetterOrEmailAllPartiesCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/SingleLetterOrEmailApplicantCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/AdditionalHearingCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/ApprovedOrderNoticeOfHearingCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/FormCandGCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/HearingCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hwf/HwfConsentedApplicantCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hwf/HwfContestedApplicantCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hwf/HwfCorrespondenceService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/updatefrc/UpdateFrcCorrespondenceService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/updatefrc/UpdateFrcLetterOrEmailAllSolicitorsCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/solicitors/CheckSolicitorIsDigitalService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/BaseUpdateFrcInfoDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectGeneralApplicationSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/NotificationsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/barristers/ManageBarristerTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/barristers/ManageBarristersITest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/noc/NocLettersNotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/noc/NocTestConfig.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApprovedOrderNoticeOfHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/AdditionalHearingCorrespondenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/ApprovedOrderNoticeOfHearingCorrespondenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/FormCandGCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/HearingCorrespondenceBaseTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hwf/HwfConsentedApplicantCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hwf/HwfContestedApplicantCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/updatefrc/UpdateFrcCorrespondenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/updatefrc/UpdateFrcEmailAllLitigantsCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/solicitors/CheckSolicitorIsDigitalServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-855

#892 Dfr 1460 trial bundle fix
  charts/finrem-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UploadContestedCaseDocumentsAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UploadContestedCaseDocumentsAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-892

#890 DFR-1692: fix space issue in UploadGeneralDocumentType
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/UploadGeneralDocumentType.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-890

#887 DFR-1645: Modified Court Address for Medway County Court And Family C…
  src/main/resources/json/court-details.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-887

#897 DFR-1723: FR Contested UploadGeneralDocumentType enum
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/UploadGeneralDocumentType.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-897

#899 Suppressing bad CVE
  config/owasp/suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-899

#864 DFR-1558 adding validation on FDA
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ReGenerateFormCAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ReGenerateFormCAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-864

#901 Bumping Tomcat
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-901

#902 DFR-1737: add default org policy if parties do not represented by sol…
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/bulkscan/BulkScanIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkScanService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/validation/BulkScanServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-902

#844 Dfr 1396 contested fr urgent case question
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApplicationAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApplicationAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendCaseContestedAboutToStartHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-844

#906 DFR-1396: Modified promptForUrgentCaseQuestion line to test
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataControllerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-906

#867 DFR-1548-Contested-FR-Fast-Track-Question
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataControllerTest.java
  src/test/resources/fixtures/contested/validate-hearing-successfully.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-867

#888 Dfr 1464 ga status event for old case
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UpdateGeneralApplicationStatusAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UpdateGeneralApplicationStatusAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UpdateGeneralApplicationStatusAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UpdateGeneralApplicationStatusAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-888

#908 DFR-1758: update-chart-version
  charts/finrem-cos/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-908

#865 DFR-1589: Refactor Issue Application Event Handlers to use Pojo repre…
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IssueApplicationConsentedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IssueApplicationContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnStartDefaultValueService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IssueApplicationConsentedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IssueApplicationContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnStartDefaultValueServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-865

#913 DFR-1779: Validate State model against spreadsheet
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/State.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/CCDConfigValidator.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/FinremCaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/StateAttributes.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-913

#916 DFR-1781: Add DynamicList to Model
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/GeneralApplicationWrapper.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/CCDConfigValidator.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-916

#917 DFR-1781: Add DynamicList to Model
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/GeneralApplicationWrapper.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremCaseDetailMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/CCDConfigValidator.java
  src/test/resources/fixtures/deserialisation/ccd-request-with-general-application.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-917

#918 DFR-1783: Update java charts
  charts/finrem-cos/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-918

#858 DFR-1030: remove respondent journey toggle
  build.gradle
  charts/finrem-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/Features.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ManageCaseDocumentsServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-858

#912 DFR-1764: Disable CSTC email for Consent Order Available
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ApprovedConsentOrderSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ApprovedConsentOrderSubmittedHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-912

#919 DFR-1782: fix amendedConsentOrderDate in amend consent order
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/DocumentValidationTests.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/AmendedConsentOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/Court.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RespondToOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/DefaultCourtListWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/InterimCourtListWrapper.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremCaseDetailMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/AmendedConsentOrderDataTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/AmendedConsentOrderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RespondToOrderDataTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RespondToOrderTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-919

#900 Dfr 1590 refector
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedAboutToStartHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-900

#903 DFR-1674: Assign to judge refactor correspondence
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/notification/NotificationTests.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/assigntojudge/AssignToJudgeCorresponder.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/NotificationsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/noc/NocLettersNotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/noc/NocTestConfig.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/assigntojudge/AssignToJudgeCorresponderTest.java
  src/test/resources/fixtures/consented-ccd-request-with-solicitor-agreed-to-emails.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-903

#921 DFR-1795: Fix confidential docs issue
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UploadContestedCaseDocumentsAboutToSubmitHandler.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-921

#909 DFR-1345: General application- Cannot complete Create General Applica…
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationMidHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationMidHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-909

#920 DFR-1791: Contested - on Upload order event drop down is not working
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ContestedCourtHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/ContestedCourtHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctionsTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-920

#924 Upgrade owasp version
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-924

#905 Dfr 1749: Refactor correspondence for Consent Order Not Approved
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/notification/NotificationTests.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ApprovedConsentOrderSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectedConsentOrderSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/CorresponderBase.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/EmailAndLettersCorresponderBase.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/EmailOnlyAllSolicitorsCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/EmailOnlyApplicantSolicitorCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/EmailOnlyCorresponderBase.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/MultiLetterOrEmailAllPartiesCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/SingleLetterOrEmailAllPartiesCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/SingleLetterOrEmailApplicantCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ConsentOrderAvailableCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ConsentOrderMadeCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ConsentOrderNotApprovedCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ConsentOrderNotApprovedSentCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ContestedConsentOrderApprovedCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ContestedConsentOrderNotApprovedCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hwf/HwfCorrespondenceService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ApprovedConsentOrderSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectedConsentOrderSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/NotificationsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ConsentOrderAvailableCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ConsentOrderMadeCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ConsentOrderNotApprovedCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ConsentOrderNotApprovedSentCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ContestedConsentOrderApprovedCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ContestedConsentOrderNotApprovedCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hwf/HwfContestedApplicantCorresponderTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-905
