Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2023-10, with the labels that each got.

#1239 DFR-2354: send order event
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1239

#1241 DFR-2357: manage case document npe - added fix
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1241

#1224 Dfr 2343 Fix issues with emails for intervener actions
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremNotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1224

#1246 Update Identity Chart.yaml
  charts/finrem-cos/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1246

#1235 DFR-2062: Contested CR- remove High Court option as an option of home…
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataControllerTest.java
  src/test/resources/fixtures/validateCourtForSolicitor.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1235

#1249 DFR-2398: convert to pdf before sending for stamping
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderConsentedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderConsentedAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1249

#1233 DFR-2341: upload approved order - check your answer page
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/HearingOrderAdditionalDocCollectionData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/HearingOrderAdditionalDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadApprovedOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/BaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/UploadApprovedOrderContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadApprovedOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1233

#1245 DFR-2345 removing shared collections from Manage Case Document
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/UploadCaseDocumentWrapper.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToStartHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1245

#1251 adding log message to trap in AppInsight
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1251

#1252 improve log message
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentGeneratorService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1252

#1253 corrected log message
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RemoveApplicantDetailsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/nocworkflows/UpdateRepresentationWorkflowService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1253

#1254 improve log message
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1254

#1250 DFR-2360-Test general applications with preintervener data
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/GeneralApplicationHelper.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/GeneralApplicationHelperTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1250

#1244 DFR-1950: Schedule 1- Child residency
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApplicationContestedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendPaperApplicationContestedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/NewPaperCaseContestedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorCreateContestedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedChildrenService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApplicationContestedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendPaperApplicationContestedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/NewPaperCaseContestedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorCreateContestedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedChildrenServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1244

#1238 DFR-2352: add-event-clear-applicant-respondent-solicitor-org-policy -…
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/policy/ApplicantChangeOrgPolicyAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/policy/RespondentChangeOrgPolicyAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/policy/ApplicantChangeOrgPolicyAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/policy/RespondentChangeOrgPolicyAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1238

#1264 Dfr 2388 remove duplicate ga
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/GeneralApplicationHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/GeneralApplicationRemoveTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CcdService.java
  src/main/resources/application.properties
  src/main/resources/generalApplicationRemoveCaseReferenceList.csv
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/GeneralApplicationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CcdServiceTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/general-application-duplicate.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1264

#1265 DFR-2388: FR Contested: remove duplicated general applications
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/GeneralApplicationHelper.java
  src/main/resources/generalApplicationRemoveCaseReferenceList.csv
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1265

#1267 DFR-2388: FR Contested: remove duplicated general applications
  src/main/resources/application.properties
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1267

#1268 DFR-2388: FR Contested: remove duplicated general applications
  src/main/resources/generalApplicationRemoveCaseReferenceList.csv
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1268

#1269 Added logs to cron
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/GeneralApplicationRemoveTask.java
  src/main/resources/generalApplicationRemoveCaseReferenceList.csv
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1269

#1255 Dfr 2412 Send general application notifications when received from caseworker
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1255

#1270 Added list of cases
  src/main/resources/generalApplicationRemoveCaseReferenceList.csv
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1270

#1256 DFR-2066 adding hearing court separated from allocated court
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/DocumentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ContestedCourtHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/CourtDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/additionalhearing/AdditionalHearingDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/approvedorderhearing/ApprovedOrderNoticeOfHearingDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/generalapplicationinterim/GeneralApplicationLetterDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/generalapplicationorder/GeneralApplicationOrderDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/interimhearing/GeneralApplicationInterimHearingNoticeDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/rejectedorder/RejectedOrderDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/AllocatedRegionWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/HearingCourtWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/HearingRegionWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/RegionWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/CourtDetailsTemplateFields.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/intervener/IntervenerAddedLetterDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/intervener/IntervenerAddedSolicitorLetterDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/intervener/IntervenerRemovedLetterDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/intervener/IntervenerRemovedSolicitorLetterDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/letterdetails/BasicLetterDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/letterdetails/FormCLetterDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/letterdetails/FormGLetterDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/letterdetails/GeneralApplicationInterimHearingNoticeDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/letterdetails/GeneralApplicationLetterDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/letterdetails/GeneralApplicationOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/letterdetails/RejectedOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApprovedOrderNoticeOfHearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctions.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/intervener/IntervenerDocumentService.java
  src/main/resources/application.properties
  src/main/resources/json/court-details.json
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/BaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/TestSetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/ContestedCourtHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/CourtDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremCaseDetailMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/LetterDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/formc/FormCLetterDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/formg/FormGLetterDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/generalapplicationinterim/GeneralApplicationLetterDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/generalapplicationorder/GeneralApplicationOrderDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/interimhearing/GeneralApplicationInterimHearingNoticeDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/rejectedorder/RejectedOrderDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctionsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ManualPaymentDocumentServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1256

#1271 Revert "Dfr 2412 Send general application notifications when received from caseworker"
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1271

#1272 Updated case list toapply
  src/main/resources/generalApplicationRemoveCaseReferenceList.csv
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1272

#1273 Revert "Revert "Dfr 2412 Send general application notifications when received from caseworker""
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1273

#1276 CFV_POC Remove Form A Categorisation.
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorCreateContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/FormADocumentCategorizer.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorCreateContestedAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1276

#1076 DFR-1033 Remove feature flag FEATURE_USE_CASE_TOKEN
  build.gradle
  charts/finrem-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/Features.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1076

#1277 Update order before remove ga
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/GeneralApplicationHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/GeneralApplicationRemoveTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CcdService.java
  src/main/resources/generalApplicationRemoveCaseReferenceList.csv
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/GeneralApplicationHelperTest.java
  src/test/resources/fixtures/general-application-duplicate.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1277

#1282 DFR-2388: FR Contested: remove duplicated general applications
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/GeneralApplicationRemoveTask.java
  src/main/resources/generalApplicationRemoveCaseReferenceList.csv
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1282
