Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2023-06, with the labels that each got.

#1030 DFR-2038: Intervener refactor
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/intervener/IntervenersAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/intervener/IntervenersAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/intervener/IntervenersMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/intervener/IntervenersSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremNotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/intervener/IntervenerFourToIntervenerDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/intervener/IntervenerOneToIntervenerDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/intervener/IntervenerThreeToIntervenerDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/intervener/IntervenerTwoToIntervenerDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/IntervenerConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/IntervenerFourWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/IntervenerOneWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/IntervenerThreeWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/IntervenerTwoWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/intevener/IntervenerDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/intevener/IntervenerWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/intervener/IntervenerChangeDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/intervener/IntervenerDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/intervener/IntervenerType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/intervener/IntervenerAddedCorresponder.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/intervener/IntervenersAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/intervener/IntervenersAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/intervener/IntervenersMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/intervener/IntervenersSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/noc/NocLettersNotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremNotificationRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/intervener/IntervenerFourToIntervenerDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/intervener/IntervenerOneToIntervenerDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/intervener/IntervenerThreeToIntervenerDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/intervener/IntervenerTwoToIntervenerDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/intervener/IntervenerAddedCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/intervener/IntervenerDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1030

#1029 Updating renovate config
  .github/renovate.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1029

#1034 Dfr 2041 rerun send order and DFR-2057
  build.gradle
  charts/finrem-cos/values.aat.template.yaml
  charts/finrem-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/CaseOrchestrationApplication.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/ListForHearingTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/SendOrderTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CcdService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/task/ScheduledTaskRunner.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/csv/CaseReference.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/csv/CaseReferenceCsvLoader.java
  src/main/resources/application.properties
  src/main/resources/listForHearingCaseReferenceList.csv
  src/main/resources/sendOrderCaseReferenceList.csv
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RejectedOrderDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CcdServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/task/ScheduledTaskRunnerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/csv/CaseReferenceCsvLoaderTest.java
  src/test/resources/application.properties
  src/test/resources/caserefs-test.csv
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1034

#1033 DFR-2051: Intervener ccd defs refactor
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/IntervenerFourWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/IntervenerOneWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/IntervenerThreeWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/IntervenerTwoWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/intevener/IntervenerWrapper.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/CCDConfigValidator.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-1195, rel:finrem-cos-pr-1033

#1035 DFR-2041: Rerun in bulk the 'Send Order' event for identified cases
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/ListForHearingTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/csv/CaseReference.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/csv/CaseReferenceCsvLoader.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1035

#1040 Fix test for mutation suite
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/GeneralApplicationHelperTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1040

#1041 Testing2041 aat
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/SendOrderTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CcdService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1041

#1042 Fix mutation test
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1042

#1044 Added logging 2041
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/SendOrderTask.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1044

#1038 DFR-1976 - Amend Royal Courts of Justice details
  src/main/resources/json/court-details.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1038

#1037 DFR-1815- Updated Dartford - Cantebury - Court Numbers
  src/main/resources/json/court-details.json
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctionsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1037

#1049 DFR-2041: Rerun in bulk the 'Send Order' event for identified cases
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/ListForHearingTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/SendOrderTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CcdService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CcdServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1049

#1050 DFR-2041: Rerun in bulk the 'Send Order' event for identified cases
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/CustomRequestScopeAttr.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/SendOrderTask.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1050

#1053 DFR-2041: Rerun in bulk the 'Send Order' event for identified cases
  src/main/resources/sendOrderCaseReferenceList.csv
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1053

#1055 Updated SendOrder Cron csv file
  src/main/resources/sendOrderCaseReferenceList.csv
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1055

#980 DFR-1787: FR Contested and Consented: General letter add attachment
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralLetterController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CreateGeneralLetterAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CreateGeneralLetterAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CreateGeneralLetterMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/GeneralLetter.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/GeneralLetterAddressToType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/GeneralLetterWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralLetterControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CreateGeneralLetterAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CreateGeneralLetterAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CreateGeneralLetterMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
  src/test/resources/fixtures/contested/general-letter-contested.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-980

#1057 updated listforhearing csv
  src/main/resources/listForHearingCaseReferenceList.csv
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1057

#1058 DFR-2097: upload fdr document using uploadcasefiles event
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UploadContestedCaseDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/FdrDocumentsHandler.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1058

#1059 fix dep
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1059

#1062 DFR-2102 FR Contested: General email and letter error
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/GeneralLetter.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1062

#1063 DFR-2072: Guava Vulnerability
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1063
