Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2024-08, with the labels that each got.

#1812 Set nightly pipeline to run at 17:45
  Jenkinsfile_nightly
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1812

#1806 Dfr 3168 add new fields to finremcasedata
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateContestedCaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateContestedCaseControllerTest.java
  src/test/resources/fixtures/contested/is-applicant-home-court.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-defs-pr-1915, rel:finrem-cos-pr-1806

#1801 DFR-3059 Notice of change emails notification not sending
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateRepresentationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/solicitors/CheckSolicitorIsDigitalService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FinremNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1801

#1811 DFR-3194 document removal about to start
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/documentremoval/DocumentRemovalAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DocumentToKeep.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DocumentToKeepCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentremoval/DocumentRemovalService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/documentremoval/DocumentRemovalAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentremoval/DocumentRemovalServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/test/Assertions.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-defs-pr-1931, rel:finrem-cos-pr-1811

#1800 DFR-3223 Case submitted missing required information
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/mandatorydatavalidation/ApplicantSolicitorDetailsValidator.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/mandatorydatavalidation/ApplicantSolicitorDetailsValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/FinremCaseDataTest.java
Labels: ns:financial-remedy, prd:finrem, aat/no-changes, prod/no-changes, rel:finrem-cos-pr-1800

#1824 DFR-2788 Fix CVE-2024-25710
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1824

#1818 DFR-2890 CT & CS: Consented paper case NOC issues
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/PaperCaseCreateConsentedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateConsentedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/FinremCallbackRequestFactory.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/PaperCaseCreateConsentedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateConsentedAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-defs-pr-1935, rel:finrem-cos-pr-1818

#1822 DFR-3229 CT: Postcode issue
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UpdateContactDetailsContestedMidHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UpdateContactDetailsContestedMidHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1822

#1831 DFR-3247
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RemoveApplicantDetailsController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RemoveApplicantDetailsControllerTest.java
  src/test/resources/fixtures/contested/amend-applicant-represented-change.json
Labels: ns:financial-remedy, prd:finrem, aat/no-changes, rel:finrem-cos-pr-1831
