Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2024-12, with the labels that each got.

#2003 DFR-3470: Suppress logging of bulk scan validation exceptions
  bin/bulk-scan-validation-test.sh
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/error/GlobalExceptionHandler.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2003

#1991 DFR-3400: Add role caseworker-financialremedy-rparobot
  src/cftlib/java/uk/gov/hmcts/reform/finrem/caseorchestration/CftLibConfig.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1991

#2004 DFR-3084: Added new intervenerInRefuge field
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/intevener/IntervenerDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/intevener/IntervenerWrapper.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-defs-pr-2156, rel:finrem-cos-pr-2004

#1999 DFR-3468 Check applicant represented before adding app sol policy
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AssignApplicantSolicitorHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateConsentedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedSubmittedHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1999, use-defs-pr-2153

#2000 DFR-3460-Refactor-New-PaperCase
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/PaperCaseCreateContestedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/PaperCaseCreateContestedAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-2000

#2014 DFR-3483: Stop email address from being written to logs
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapper.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2014

#2015 DFR-3481: Log intervener not found as info not error
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2015

#1981 Dfr 3080
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/PaperCaseCreateContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/RefugeWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/refuge/RefugeWrapperUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/PaperCaseCreateContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/refuge/RefugeWrapperUtilsTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-defs-pr-2133, rel:finrem-cos-pr-1981

#2009 DFR-3474 Refactor UpdateContactDetails about to start with callback handler
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateRepresentationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/updatecontactdetails/UpdateContactDetailsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/updatecontactdetails/UpdateContactDetailsConsentedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/updatecontactdetails/UpdateContactDetailsContestedMidHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateRepresentationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/updatecontactdetails/UpdateContactDetailsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/updatecontactdetails/UpdateContactDetailsConsentedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/updatecontactdetails/UpdateContactDetailsContestedMidHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, aat/no-changes, prod/no-changes, use-def-pr-2162, rel:finrem-cos-pr-2009

#1985 Dfr 3081
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/PaperCaseCreateContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/RefugeWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/refuge/RefugeWrapperUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/PaperCaseCreateContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/refuge/RefugeWrapperUtilsTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-defs-pr-2135, rel:finrem-cos-pr-1985

#2020 Remove logging request and response bodies
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RestService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2020

#2027 DFR-3488: Reduce mutation threshold for pitest
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2027

#2018 DFR-3475 update contact details about to submit
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RemoveApplicantDetailsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/updatecontactdetails/UpdateContactDetailsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UpdateContactDetailsService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RemoveApplicantDetailsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateConsentedCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/updatecontactdetails/UpdateContactDetailsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UpdateContactDetailsServiceTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-2171, rel:finrem-cos-pr-2018

#2025 DFR-3129: Move formC and formG to wrapper class
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/ListForHearingWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/ContestedListForHearingCorrespondenceService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/FinremFormCandGCorresponder.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/ContestedListForHearingCorrespondenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/FinremFormCandGCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentchecker/DuplicateFilenameDocumentCheckerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2025

#2029 DFR-3129: Refactor CaseDocument object creation
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CaseDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenericDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CaseDocumentTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2029

#2034 DFR-3129: Enable printing of documents to be overridden
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/CaseDetailsMultiLetterOrEmailAllPartiesCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/FinremMultiLetterOrEmailAllPartiesCorresponder.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2034

#2023 DFR-3335 Refactoring CaseDataService - deprecating methods
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremCaseDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PaperNotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedDraftOrderNotApprovedControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NoticeOfChangeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PaperNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/BaseUpdateFrcInfoDocumentServiceSetup.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/UpdateFrcInfoApplicantDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/UpdateFrcInfoRespondentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2023

#2030 DFR-3083: Court admin Update contact details event handlers to include refuge fields
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/updatecontactdetails/UpdateContactDetailsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/updatecontactdetails/UpdateContactDetailsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/refuge/RefugeWrapperUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/updatecontactdetails/UpdateContactDetailsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/updatecontactdetails/UpdateContactDetailsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/refuge/RefugeWrapperUtilsTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-2181, rel:finrem-cos-pr-2030

#2028 DFR-3494 Add Hearing Judge to Approve Orders Page
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/JudgeApproval.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/test/Assertions.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, aat/no-changes, prod/no-changes, use-defs-pr-2180, rel:finrem-cos-pr-2028

#2024 Dfr 3082
  src/functionalTests/resources/json/contested/do-not-remove-checklists1.json
  src/functionalTests/resources/json/contested/remove-complexity-details1.json
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateContestedCaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApplicationContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendPaperApplicationContestedAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateContestedCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApplicationContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendPaperApplicationContestedAboutToStartHandlerTest.java
  src/test/resources/fixtures/contested/amend-divorce-details-decree-nisi.json
  src/test/resources/fixtures/contested/amend-divorce-details-petition-issued.json
  src/test/resources/fixtures/contested/cleanup-addtional-documents.json
  src/test/resources/fixtures/contested/cleanup-miam-certification-details-when-applicant-attended-miam.json
  src/test/resources/fixtures/contested/do-not-remove-checklists.json
  src/test/resources/fixtures/contested/is-applicant-home-court.json
  src/test/resources/fixtures/contested/remove-additional-property-details.json
  src/test/resources/fixtures/contested/remove-complexity-details.json
  src/test/resources/fixtures/contested/remove-exceptions-when-applicant-attended-miam.json
  src/test/resources/fixtures/contested/remove-miam-certification-details.json
  src/test/resources/fixtures/contested/remove-other-reason-for-complexity.json
  src/test/resources/fixtures/contested/remove-periodic-payment-order-details-schedule1.json
  src/test/resources/fixtures/contested/remove-periodic-payment-order-details.json
  src/test/resources/fixtures/contested/remove-property-adjustment-order-details.json
  src/test/resources/fixtures/contested/remove-respondent-address-details.json
  src/test/resources/fixtures/contested/remove-respondent-solicitor-details.json
  src/test/resources/fixtures/contested/update-periodic-payment-details-for-no-payment-for-children.json
  src/test/resources/fixtures/contested/update-periodic-payment-details-with-benefits-for-children.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, aat/no-changes, prod/no-changes, use-defs-pr-2179, rel:finrem-cos-pr-2024

#2045 Reduce mutation test threshold
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2045

#1997 DFR-3334 Judge Approve Orders - approves or changes
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/Approvable.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DocumentMatcher.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/HearingInstructionProcessable.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/agreed/AgreedDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/AnotherHearingRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/AnotherHearingRequestCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/HearingInstruction.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/JudgeApproval.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/JudgeApprovalDocType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/JudgeDecision.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/DraftOrderDocumentReview.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/DraftOrdersReview.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/PsaDocumentReview.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/DraftOrdersWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/ApproveOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/HearingProcessor.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/JudgeApprovalResolver.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/agreed/AgreedDraftOrderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/DraftOrderDocumentReviewTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/PsaDocumentReviewTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/CCDConfigValidator.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/ApproveOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/HearingProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/JudgeApprovalResolverTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/test/Assertions.java
Labels: ns:financial-remedy, prd:finrem, aat/no-changes, prod/no-changes, use-defs-pr-2138, rel:finrem-cos-pr-1997

#1956 DFR-3332 judge approve orders starting page
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/Approvable.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DocumentMatcher.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/HearingInstructionProcessable.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/agreed/AgreedDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/AnotherHearingRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/AnotherHearingRequestCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/HearingInstruction.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/JudgeApproval.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/JudgeApprovalDocType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/JudgeDecision.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/SortKey.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/DraftOrderDocumentReview.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/OrderStatus.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/PsaDocumentReview.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/DraftOrdersWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/ApproveOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/HearingProcessor.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/JudgeApprovalResolver.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/agreed/AgreedDraftOrderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/DraftOrderDocumentReviewTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/PsaDocumentReviewTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/CCDConfigValidator.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/ApproveOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/HearingProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/JudgeApprovalResolverTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/test/Assertions.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-2111, rel:finrem-cos-pr-1956

#2046 Auto Resolving Complex Type
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/CCDConfigValidator.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2046

#2050 DFR-3495 capture judge type
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/JudgeDecision.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/RefusalOrderInstruction.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/RefusedOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/DraftOrdersWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/RefusedOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/RefusedOrderProcessor.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/RefusedOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/RefusedOrderProcessorTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-2189, rel:finrem-cos-pr-2050

#2056 Refactoring - HasApprovableCollectionReader
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/draftorders/HasApprovableCollectionReader.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/RefusedOrderProcessor.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/draftorders/HasApprovableCollectionReaderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/RefusedOrderProcessorTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-2197, rel:finrem-cos-pr-2056
