Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2024-04, with the labels that each got.

#1633 Remove Java assertions from unit tests
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcategory/GeneralApplicationsCategoriserTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1633

#1636 DFR-2953: Fix FinremCaseDataTest
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/UploadCaseDocument.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1636

#1634 Set application directions document CFV category to Approve Orders
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/DocumentCategory.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/GeneralApplicationsCategoriser.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcategory/GeneralApplicationsCategoriserTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-1715, rel:finrem-cos-pr-1634

#1637 Dfr 2923 View pension documents in expert reports
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/OtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/applicant/ApplicantOtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerfour/IntervenerFourOtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerone/IntervenerOneOtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerthree/IntervenerThreeOtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenertwo/IntervenerTwoOtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/respondent/RespondentOtherDocumentsHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/applicant/ApplicantOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerfour/IntervenerFourOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerone/IntervenerOneOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerthree/IntervenerThreeOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenertwo/IntervenerTwoOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/respondent/RespondentOtherDocumentsCollectionServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1637

#1645 Refactor UploadGeneralDocumentsCategoriserTest
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/UploadGeneralDocumentsCategoriser.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/UploadGeneralDocumentsCategoriserTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1645

#1647 DFR-2973: Set category for uploaded documents with no document type
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/UploadGeneralDocumentsCategoriser.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/UploadGeneralDocumentsCategoriserTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1647

#1569 DFR-2624 adding templates for resp and appl order approved and remove…
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/creategeneralorder/CreateGeneralOrderContestedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/domain/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ConsentOrderAvailableCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ConsentOrderNotApprovedSentCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/FinremContestedSendOrderCorresponder.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/creategeneralorder/CreateGeneralOrderContestedSubmittedTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/domain/EmailTemplateNamesTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FinremNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ConsentOrderAvailableCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ConsentOrderNotApprovedSentCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/FinremContestedSendOrderCorresponderTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1569

#1650 Remove Java assertions from HearingNoticeCategoriserTest
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/HearingNoticesCategoriserTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1650

#1619 Check mandatory court data present in create case
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateConsentedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateConsentedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateConsentedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateConsentedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/mandatorydatavalidation/ApplicantLocalCourtValidator.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/mandatorydatavalidation/CreateCaseMandatoryDataValidator.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/mandatorydatavalidation/MandatoryDataValidator.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/NullChecker.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateConsentedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateConsentedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateConsentedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateConsentedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/mandatorydatavalidation/ApplicantLocalCourtValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/mandatorydatavalidation/CreateCaseMandatoryDataValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/createcase/CreateCaseMandatoryDataIntegrationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/createcase/CreateCaseMandatoryDataTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/NullCheckerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1619

#1651 Update nightly build to start at 3am
  Jenkinsfile_nightly
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1651

#1502 DFR-2620 fixing index out of bounds
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/BarristerCollectionItem.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ChildDetailsCollectionElement.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/GeneralOrderCollectionItem.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PartyService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ValidateHearingService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PartyServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ValidateHearingServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1502

#1653 Add conditional statement for null caseDocumentType.
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/CaseDocumentsHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/CaseDocumentsHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1653

#1649 DFR-2947-Update CFV points of claim or defence
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/DocumentCategory.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/OtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/PartyFdrDocumentCategoriser.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/applicant/ApplicantFdrDocumentCategoriser.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerfour/IntervenerFourFdrDocumentCategoriser.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerfour/IntervenerFourOtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerone/IntervenerOneFdrDocumentCategoriser.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerone/IntervenerOneOtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerthree/IntervenerThreeFdrDocumentCategoriser.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerthree/IntervenerThreeOtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenertwo/IntervenerTwoFdrDocumentCategoriser.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenertwo/IntervenerTwoOtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/respondent/RespondentFdrDocumentCategoriser.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/applicant/ApplicantFdrDocumentCategoriserTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerfour/IntervenerFourFdrDocumentCategoriserTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerfour/IntervenerFourOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerone/IntervenerOneFdrDocumentCategoriserTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerone/IntervenerOneOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerthree/IntervenerThreeFdrDocumentCategoriserTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerthree/IntervenerThreeOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenertwo/IntervenerTwoFdrDocumentCategoriserTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenertwo/IntervenerTwoOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/respondent/RespondentFdrDocumentCategoriserTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1649

#1655 Refactor GeneralApplicationsCategoriser
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/GeneralApplicationsCategoriser.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcategory/GeneralApplicationsCategoriserTest.java
Labels: ns:financial-remedy, prd:finrem, aat/no-changes, rel:finrem-cos-pr-1655

#1663 Use try catch block to log error.
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/DocumentHandler.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1663

#1664 DFR-2797 Add Solicitor Draft Order to CFV migration
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/CfvMigrationTask.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1664

#1665 Dfr 2994 cfv document handler apply document category npe
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/DocumentHandler.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1665

#1583 DFR-2813 Shared Documents functionality is not working on AAT
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerShareDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/shareddocuments/SummariesDocumentSharer.java
Labels: ns:financial-remedy, prd:finrem, no-changes, enable_keep_helm, stale, rel:finrem-cos-pr-1583

#1641 Dfr 2899 postcode field not mandatory - Manage Interveners
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/intervener/IntervenersAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/intervener/IntervenersAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, stale, rel:finrem-cos-pr-1641

#1668 DFR-2797 Update migration task ES query
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/CfvMigrationTask.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1668

#1669 DFR-2797 Enable cases to be processed with new query
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/CfvMigrationTask.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1669

#1670 Add missing states to CFV migration task
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/CfvMigrationTask.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1670

#1659 Dfr 2916 general orders not going into approved orders folder
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorAndCaseWorkerDraftOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/ConsentOrderWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/GeneralOrderDocumentCategoriser.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/UploadGeneralDocumentsCategoriser.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/UploadedDraftOrderCategoriser.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorAndCaseWorkerDraftOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/UploadGeneralDocumentsCategoriserTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1659

#1673 DFR-3003 Fix Legacy Miam Data Issue
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/MiamOtherGrounds.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/MiamPreviousAttendance.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/MiamCheckService.java
  src/main/resources/options/options-id-value-transform.json
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/MiamCheckServiceTest.java
  src/test/resources/fixtures/contested/contested-case-details-options-list.json
  src/test/resources/fixtures/contested/expected-contested-case-details.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1673
