Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2024-05, with the labels that each got.

#1676 Fix master build pipeline
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/payments/PaymentServiceTests.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1676

#1674 DFR-3003 Old Data Fix for MIAM issue
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateContestedCaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/MiamDomesticViolence.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/MiamOtherGrounds.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/MiamPreviousAttendance.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/MiamUrgencyReason.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/MiamExemptionsUpdateTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/MiamCheckService.java
  src/main/resources/application.properties
  src/main/resources/miamExemptionsUpdateCaseReferenceList.csv
  src/main/resources/options/options-id-value-transform.json
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/MiamExemptionsUpdateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/MiamCheckServiceTest.java
  src/test/resources/fixtures/contested/contested-case-details-options-list.json
  src/test/resources/fixtures/contested/expected-contested-case-details.json
Labels: ns:financial-remedy, prd:finrem, aat/no-changes, prod/no-changes, rel:finrem-cos-pr-1674

#1687 Remove cases for miam exemption updater task
  src/main/resources/miamExemptionsUpdateCaseReferenceList.csv
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1687

#1592 DFR-2247, 2248-Attach multiple docs in contested and consent general letter events
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CreateGeneralLetterConsentMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CreateGeneralLetterMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/GeneralLetter.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/GeneralLetterWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/CreateGeneralLetterDocumentCategoriser.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CreateGeneralLetterConsentMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CreateGeneralLetterMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
  src/test/resources/fixtures/contested/general-letter-contested.json
  src/test/resources/fixtures/general-letter.json
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-1660, rel:finrem-cos-pr-1592

#1672 Dfr 2918 move send order and send order consent folders
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/SendOrdersCategoriser.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/SendOrdersCategoriserTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1672

#1543 DFR-1688 adding new list for assets
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateContestedCaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/EstimatedAssetV2.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-defs-pr-1591, aat/no-changes, prod/no-changes, rel:finrem-cos-pr-1543

#1693 Update README with application logs directory
  README.md
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1693

#1694 Add searchable CFV update field
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/CfvMigrationWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/CfvUpdateTask.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/CfvUpdateTaskTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-1791, rel:finrem-cos-pr-1694

#1701 DFR-3077 Remove invalid field reference
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateContestedCaseController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateContestedCaseControllerTest.java
  src/test/resources/fixtures/contested/remove-complexity-details.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1701

#1697 Dfr 2743 create organisation api contract tests
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/rdprofessional/OrganisationApiFindUserByEmailContractTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1697

#1703 Update values.yaml to spot instances default value
  charts/finrem-cos/Chart.yaml
  charts/finrem-cos/values.yaml
Labels: ns:financial-remedy, prd:finrem, aat/no-changes, prod/no-changes, rel:finrem-cos-pr-1703

#1699 DFR 2738 case assignment contract test
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/caseassignment/AssignCaseServiceConsumerTest.java
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/caseassignment/NocApplyDecisionConsumerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1699

#1710 Dfr 3501 refactor paper amend handler
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendPaperApplicationContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnStartDefaultValueService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendPaperApplicationContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnStartDefaultValueServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1710

#1698 Initial commit
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PartyService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PartyServiceTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1698
