Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2024-01, with the labels that each got.

#1449 DFR-2533: Show all general orders in send order event
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, no-changes, stale, rel:finrem-cos-pr-1449

#1483 Revert "ignore failing FT"
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/caseorchestration/RejectedOrderDocumentTest.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/FinancialRemedyDocumentGeneratorTests.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1483

#1477 Dfr 2588 upgrade spring
  build.gradle
  config/owasp/suppressions.xml
  src/cftlib/java/uk/gov/hmcts/reform/finrem/caseorchestration/CftLibConfig.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/CaseOrchestrationApplication.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/client/DataStoreClient.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/client/PaymentClient.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkScanController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CcdCallbackController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CheckLatestConsentOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedDraftOrderNotApprovedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CurrentDateController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DocumentValidationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DraftOnlineDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralApplicationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralApplicationDirectionsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralOrderStartController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiamCheckController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiniFormAController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PBAPaymentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RemoveApplicantDetailsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/error/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EvidenceFile.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EvidenceFileValidator.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/PdfDocumentRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/Element.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/UploadCaseDocumentWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/DocumentGenerationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OptionIdToValueTranslator.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/FinRemBulkScanFormTransformerFactory.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/validation/FinRemBulkScanFormValidatorFactory.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/payments/error/PaymentExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/task/ScheduledTaskRunner.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DocmosisPdfGenerationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1477

#1490 Fix local env
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1490

#1485 DFR-2104 Validate FinremCaseData for all wrapper with JsonInclude NON_NULL
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/FinremCaseDataTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1485

#1496 DFR-2617: send order - general order
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1496

#1419 DFR-2517-CategoriseGeneralEmailDocument
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralEmailAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralEmailService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/GeneralEmailDocumentCategoriser.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralEmailAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralEmailServiceTest.java
Labels: ns:financial-remedy, prd:finrem, stale, rel:finrem-cos-pr-1419

#1464 DFR-2599 Remove redundant Endpoints from CaseDataController
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataControllerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1464

#1468 DFR-2602 Remove ConsentOrderController and ConsentOrderControllerTest
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ConsentOrderControllerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1468

#1473 DFR-2605 Remove DraftOnlineDocumentController and DraftOnlineDocumentControllerTest
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DraftOnlineDocumentController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DraftOnlineDocumentControllerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1473

#1474 DFR-2607 Remove redundant endpoints from NotificationsController
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/notification/NotificationTests.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1474

#1475 DFR-2609Remove redundant Endpoints from UpdateConsentedCaseController and UpdateContestedCaseController
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateConsentedCaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateContestedCaseController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateConsentedCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateContestedCaseControllerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1475

#1493 DFR-2603 Remove CurrentDateController and CurrentDateControllerTest
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CurrentDateController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CurrentDateControllerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1493

#1274 DFR-2353 added template for intervener when preparing for hearing
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/domain/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/domain/EmailTemplateNamesTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, rel:finrem-cos-pr-1274

#1498 DFR-2625: create general email npe
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralEmailService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1498

#1232 Dfr 2332 Add warning message for Share docs (Intervener)
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ShareSelectedDocumentsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ShareSelectedDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerShareDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/SharedService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/SelectablePartiesCorrespondenceService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ShareSelectedDocumentsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ShareSelectedDocumentsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApplicantShareDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerShareDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RespondentShareDocumentsServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1232

#1266 DFR-1768-Update logging around general applications
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralApplicationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationReferToJudgeAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationReferToJudgeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectGeneralApplicationAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectGeneralApplicationAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UpdateGeneralApplicationStatusAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UpdateGeneralApplicationStatusAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationDirectionsService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/generalapplication/generators/GeneralApplicationRejectionLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/generalapplication/service/RejectGeneralApplicationDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UpdateGeneralApplicationStatusAboutToStartHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1266

#1426 DFR-2520-Categorise Consented Not Approved Orders
  src/functionalTests/resources/json/consented/document-rejected-order1.json
  src/functionalTests/resources/json/consented/rejected-consent-order.json
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectedConsentOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/RefusedConsentOrderDocumentCategoriser.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectedConsentOrderAboutToSubmitHandlerTest.java
  src/test/resources/fixtures/fee-lookup.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1426

#1397 DFR-2160: Manage scanned documents
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/scanneddocs/ManageScannedDocsContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/scanneddocs/ManageScannedDocsContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/UploadCaseDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/DocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/validation/ManageDocumentsHandlerValidator.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/scanneddocs/ManageScannedDocsContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/scanneddocs/ManageScannedDocsContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/BaseManageDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/applicant/ApplicantHearingBundleCollectionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerfour/IntervenerFourFdrHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerone/IntervenerOneFdrHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerthree/IntervenerThreeFdrHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenertwo/IntervenerTwoFdrHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/respondent/RespondentQuestionnairesAnswersCollectionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/validation/ManageDocumentsHandlerValidatorTest.java
Labels: ns:financial-remedy, prd:finrem, no-changes, enable_keep_helm, use-defs-pr-1471, rel:finrem-cos-pr-1397

#1504 remove suppression
  config/owasp/suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1504

#1237 Dfr 2340 avoid additional hearing document duplicates
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderApplicantDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerFourDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerOneDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerThreeDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerTwoDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderPartyDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderRespondentDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1237

#1377 DFR-2511-2525-2526-2527
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/AdditionalHearingDocumentData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/DocumentCategory.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApprovedOrderNoticeOfHearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/ContestedListForHearingCorrespondenceService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/HearingNoticesCategoriser.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingNonFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/ContestedListForHearingCorrespondenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/HearingNoticesCategoriserTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1377

#1480 Dfr 2521 ga cfv
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationReferToJudgeAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1480

#1438 DFR-2461: send order event
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendConsentOrderInContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/DocumentCategory.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/ApprovedConsentOrderDocumentCategoriser.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/SendOrdersCategoriser.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderApplicantDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerFourDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerOneDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerThreeDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerTwoDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderRespondentDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendConsentOrderInContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/SendOrdersCategoriserTest.java
Labels: ns:financial-remedy, prd:finrem, no-changes, enable_keep_helm, rel:finrem-cos-pr-1438

#1404 DFR-2380-Update amend approved consent order categorisation
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApprovedConsentOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApprovedConsentOrderAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1404

#1519 DFR-2576: remove unused Vulnerability logback-core-1.2.12.jar & logba…
  config/owasp/suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1519

#1421 Dfr 1897 upload order event notification
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/AdditionalHearingDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApprovedOrderNoticeOfHearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/FinremAdditionalHearingCorresponder.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/HearingNonFastTrackDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremCaseDetailMapperTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1421

#1526 Fix bootWithCCD startup exceptions due to missing translation service
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1526

#1527 Remove selected Parties from process order
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderSubmittedHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1527

#1530 Dfr 2688 fix nullpointer
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/payments/PaymentServiceTests.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/FinremAdditionalHearingCorresponder.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/FinremAdditionalHearingCorresponderTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1530

#1532 DFR-2688: Enable test
  config/owasp/suppressions.xml
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/payments/PaymentServiceTests.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1532

#1534 Refactor Share Selected Documents handlers
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/shareselecteddocuments/ShareSelectedDocumentsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/shareselecteddocuments/ShareSelectedDocumentsAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/shareselecteddocuments/ShareSelectedDocumentsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/shareselecteddocuments/ShareSelectedDocumentsAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1534

#1509 DFR-2645: INC5581298 - send order to deal with approved order withou…
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderApplicantDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerFourDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerOneDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerThreeDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerTwoDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderPartyDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderRespondentDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendConsentOrderInContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, stale, rel:finrem-cos-pr-1509
