Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2024-10, with the labels that each got.

#1890 Add GA logs to help troubleshoot GA not created bug
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1890

#1891 Dfr 3278 initial wrapper setup
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/AgreedDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/AgreedDraftOrderCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DraftOrderReview.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DraftOrderReviewCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/SuggestedDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/SuggestedDraftOrderCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/DraftOrdersWrapper.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1891

#1888 DFR-3352 Refactor FinremNotificationServiceTest
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremNotificationRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/TestData.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/domain/EmailTemplateNamesTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FinremNotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1888

#1892 Convert empty string values to null in OCR case data mapping
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/FormAToCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/FormAToCaseTransformerTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1892

#1901 DFR-3378: Move barrister collections to wrapper class
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/BarristerCollectionWrapper.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1901

#1906 DFR-3377 CT: Hearing Details Dynamic List
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/OrchestrationConstants.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1906

#1832 DFR-3249-Clear-Organisation-Policy
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/policy/ApplicantChangeOrgPolicyAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/policy/RespondentChangeOrgPolicyAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/policy/ApplicantChangeOrgPolicyAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/policy/RespondentChangeOrgPolicyAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1832

#1900 DFR 3351 Remove getCaseRoleId() function
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ChangeOrganisationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/nocworkflows/UpdateRepresentationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/solicitors/RemovedSolicitorService.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1900

#1910 DFR-3304: Add Upload draft orders submitted handler
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GenericAboutToStartOrSubmitCallbackResponse.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CallbackDispatchService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersSubmittedHandlerTest.java
Labels: use-defs-pr-2057

#1909 DFR-3388(DFR-3319-1) Upload Agreed Order Page
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/agreed/AgreedDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/agreed/AgreedDraftOrderAdditionalDocumentsCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/agreed/AgreedDraftOrderCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/agreed/AgreedPensionSharingAnnex.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/agreed/AgreedPensionSharingAnnexCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/agreed/UploadAgreedDraftOrder.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrderAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrderAboutToSubmitHandlerTest.java
Labels: enable_keep_helm, use-def-pr-2056

#1918 DFR-3304: Fix finremcasedatatest
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/CCDConfigValidator.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-2061, rel:finrem-cos-pr-1918

#1899 DFR-3380 bump pdfbox versions
  build.gradle
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/util/FunctionalTestUtils.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DocumentConversionService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PdfStampingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentreader/PdfDocumentReader.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentgenerator/DocumentConversionServiceTest.java
  src/test/resources/fixtures/D11Edited-flattened.pdf
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1899

#1926 DFR-3351 migration
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/NullCaseRoleIdsWhereEmptyTask.java
  src/main/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, aat/no-changes, prod/no-changes, use-defs-pr-2060, rel:finrem-cos-pr-1926

#1923 DFR-3319 Upload agreed order
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/YesOrNo.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/agreed/AgreedDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/DraftOrdersWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/YesOrNoTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-defs-pr-2068, rel:finrem-cos-pr-1923

#1929 DFR-3321 Populate Data for Draft Order Tab
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/DraftOrdersReview.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/DraftOrdersWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingServiceTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, aat/no-changes, prod/no-changes, use-defs-pr-2074, rel:finrem-cos-pr-1929

#1916 DFR-3386-RejectGeneralApplication-notications-incident
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectGeneralApplicationSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectGeneralApplicationSubmittedHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, rel:finrem-cos-pr-1916

#1893 DFR-3300 Use system users auth token for removal
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/removeusercaseaccess/RemoveUserCaseAccessAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/removeusercaseaccess/RemoveUserCaseAccessAboutToSubmitHandler.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/removeusercaseaccess/RemoveUserCaseAccessAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/removeusercaseaccess/RemoveUserCaseAccessAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1893
