Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2024-07, with the labels that each got.

#1736 Dfr 2873 fast track pilot
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/EstimatedAssetV2.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, rel:finrem-cos-pr-1736

#1732 DFR-3086 CS: Send Order: Unapproved order not sent to unrepresented respondent
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderNotApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderPrintService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderPrintServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1732

#1773 DFR-3137: Corrected so that logging in area of apply-noc-decision is correct
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateRepresentationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessService.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1773

#1782 Revert update to spring-cloud-dependencies
  .github/renovate.json
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1782

#1783 DFR-3192: Bump Gradle to version 8.9
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1783

#1631 DFR-2945: CFV Chronological ordering
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CaseDocument.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UploadConfidentialDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UploadGeneralDocumentsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/UpdateFrcInfoApplicantDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/updatefrc/service/UpdateFrcInfoRespondentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1631

#1771 DFR-3182 Refactor FinremCaseData (too many parameters error)
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/BulkPrintCoversheetWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderApplicantDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerFourDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerOneDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerThreeDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderIntervenerTwoDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderRespondentDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ListForHearingContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremCaseDetailMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderNotApprovedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderPrintServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1771

#1794 Add sonar badges
  README.md
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1794

#1775 Dfr 3175 CT controller postcode field not mandatory amend application details
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/AmendApplicationContestedController.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/AmendApplicationContestedControllerTest.java
  src/test/resources/fixtures/contested/amend-applicant-solicitor-details-postcode-validation.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1775

#1756 DFR-2980-Mandatory-Postcode-Field
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UpdateContactDetailsContestedMidHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UpdateContactDetailsContestedMidHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1756

#1793 DFR-3097 Remove redundant cron jobs
  charts/finrem-cos/Chart.yaml
  charts/finrem-cos/values.aat.template.yaml
  charts/finrem-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/AddApplicationTypeTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/CfvUpdateTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/CourtListUpdateTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/GeneralApplicationRemoveTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/ListForHearingTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/MiamExemptionsUpdateTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/SendOrderTask.java
  src/main/resources/application.properties
  src/main/resources/applicationTypeAddCaseReferenceList.csv
  src/main/resources/courtListUpdateCaseReferenceList.csv
  src/main/resources/generalApplicationRemoveCaseReferenceList.csv
  src/main/resources/listForHearingCaseReferenceList.csv
  src/main/resources/miamExemptionsUpdateCaseReferenceList.csv
  src/main/resources/sendOrderCaseReferenceList.csv
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/CfvUpdateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/MiamExemptionsUpdateTaskTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1793

#1745 DFR-3127 child info mapper
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/Gender.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/FormAToCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/mappers/ChildrenInfoMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/validation/FormAValidator.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/FormAToCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/validation/FormAValidatorTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1745

#1768 DFR-1886 INC5522721: CS - File name on scanned docs on new paper case
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ScannedD81Collection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ScannedD81Document.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/ConsentOrderScannedDocWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/FormAScannedDocWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/FormAToCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/FinremCaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/FormAToCaseTransformerTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1768, use-defs-pr-1852

#1754 DFR-2943 d11 served blank
  infrastructure/state.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DocumentConversionService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentgenerator/BulkPrintDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentgenerator/DocumentConversionServiceTest.java
  src/test/resources/fixtures/D11Edited-flattened.pdf
  src/test/resources/fixtures/D11Edited.pdf
  src/test/resources/fixtures/D81_consent_order.pdf
  src/test/resources/fixtures/MockD11Word.docx
  src/test/resources/fixtures/flattenFlattenedD11.pdf
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, aat/no-changes, prod/no-changes, keep helm, rel:finrem-cos-pr-1754

#1797 Dfr 3202 3203 sonar fixes
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/CaseOrchestrationApplication.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/AmendApplicationContestedController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkScanController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DocumentValidationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiamCheckController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiniFormAController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RemoveApplicantDetailsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateConsentedCaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateRepresentationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/nocworkflows/UpdateRepresentationWorkflowService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/solicitors/CheckSolicitorIsDigitalServiceBase.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/payments/error/PaymentExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/task/ScheduledTaskRunner.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DocumentValidationControllerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1797

#1781 DFR-2903 Change organisation request exception in NOC code
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ChangeOrganisationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/nocworkflows/UpdateRepresentationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/solicitors/RemovedSolicitorService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UpdateRepresentationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1781
