Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2024-03, with the labels that each got.

#1560 Dfr 2700
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RemoveApplicantDetailsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateConsentedCaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateRepresentationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/Features.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/nocworkflows/UpdateRepresentationWorkflowService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/solicitors/AddedSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/solicitors/RemovedSolicitorService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CaseDataControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RemoveApplicantDetailsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateConsentedCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateRepresentationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/solicitors/AddedSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/solicitors/RemovedSolicitorServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1560

#1589 Fix document handlers not handling no party
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/ConfidentialDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/FdrDocumentsHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/scanneddocs/ContestedAboutToSubmitHandlerTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/scanneddocs/ManageScannedDocsContestedAboutToSubmitHandlerIntegrationTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1589

#1591 Update readme and add CCD definitions import script
  README.md
  bin/cftlib-import-ccd-definition-aat.sh
  bin/idam-access-token.sh
  bin/s2s-token.sh
  build.gradle
  docs/cftlib-aat.md
  docs/cftlib-local.md
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1591

#1600 DFR-2821-Fix NOC Issue for Paper Cases
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateRepresentationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/nocworkflows/UpdateRepresentationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateRepresentationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UpdateRepresentationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1600

#1508 DFR-2336: consent send order
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CheckLatestConsentOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ApprovedConsentOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderConsentForApprovedOrderAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderConsentForApprovedOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderConsentForNotApprovedOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderPrintService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/BulkPrintControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CheckLatestConsentOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ApprovedConsentOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderConsentForApprovedOrderAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderConsentForApprovedOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderConsentForNotApprovedOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentServiceV2Test.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderPrintServiceTest.java
  src/test/resources/fixtures/bulkprint/bulk-print-no-pension-collection.json
  src/test/resources/fixtures/contested/bulk_print_consent_order_not_approved.json
  src/test/resources/fixtures/contested/bulk_print_simple.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1508
