Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2024-02, with the labels that each got.

#1505 DFR-2368: CFV migration scheduled job
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/AddApplicationTypeTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/AddOrganisationPolicyTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/BaseTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/CfvMigrationTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/CsvFileProcessingTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/GeneralApplicationRemoveTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/RegenerateDraftOnlineFormATask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CcdService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/SystemUserService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/HearingNoticesCategoriser.java
  src/main/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-1557, rel:finrem-cos-pr-1505

#1544 DFR-2653: FR Consent- Unable to create listing for hearing
  README.md
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/CourtListUpdateTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/SpecializedBaseTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/csv/CaseReferenceKeyValue.java
  src/main/resources/courtListUpdateCaseReferenceList.csv
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1544

#1551 Add factory class to create test objects
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/FinremCallbackRequestFactory.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApplicationAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/documentcatergory/AssignDocumentCategoriesAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1551

#1529 DFR-2671-Move ES1, ES2, Chronology to Joint Docs Folder
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/DocumentCategory.java
Labels: ns:financial-remedy, prd:finrem, stale, rel:finrem-cos-pr-1529

#1523 DFR-2668 merge doc types and remove category from fdr and hearing
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CaseDocumentType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/DocumentCategory.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/CaseSummariesHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/applicant/ApplicantCaseSummariesHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerfour/IntervenerFourCaseSummariesHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerone/IntervenerOneCaseSummariesHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerthree/IntervenerThreeCaseSummariesHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenertwo/IntervenerTwoCaseSummariesHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/respondent/RespondentCaseSummariesHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/CaseDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/applicant/ApplicantCaseSummariesHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerfour/IntervenerFourCaseSummariesHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerone/IntervenerOneCaseSummariesHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerthree/IntervenerThreeCaseSummariesHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenertwo/IntervenerTwoCaseSummariesHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/respondent/RespondentCaseSummariesCollectionServiceTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, use-defs-pr-1575, rel:finrem-cos-pr-1523

#1556 Update Pact tests
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/ccddatastore/GetUserRolesConsumerTest.java
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/ccddatastore/SearchUserRolesConsumerTest.java
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/rdprofessional/OrganisationalInternalGetOrganisationByIdContractTest.java
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/rdprofessional/ReferenceDataDsl.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1556

#1554 DFR-2368: Fix cache for getSystemUserToken
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/CacheConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/BaseTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/CfvMigrationTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseAssignedRoleService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PrdOrganisationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/SystemUserService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/CreateGeneralLetterDocumentCategoriser.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/SendOrdersCategoriser.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1554

#1535 DFR-2672-Move Mortgage Capacities folder to party documents folders f…
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/DocumentCategory.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/OtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/applicant/ApplicantOtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerfour/IntervenerFourOtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerone/IntervenerOneOtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerthree/IntervenerThreeOtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenertwo/IntervenerTwoOtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/respondent/RespondentOtherDocumentsHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/applicant/ApplicantOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerfour/IntervenerFourOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerone/IntervenerOneOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerthree/IntervenerThreeOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenertwo/IntervenerTwoOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/respondent/RespondentOtherDocumentsCollectionServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1535

#1545 DFR-2702-Update court name
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CfcCourt.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/LondonCourt.java
Labels: ns:financial-remedy, prd:finrem, stale, rel:finrem-cos-pr-1545

#1565 DFR-2753: FR Restore CaseDocumentType
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CaseDocumentType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/OtherDocumentsHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/shareselecteddocuments/ShareSelectedDocumentsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApplicantShareDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerShareDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RespondentShareDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/LegacyConfidentialDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/applicant/ApplicantOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerfour/IntervenerFourOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerone/IntervenerOneOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerthree/IntervenerThreeOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenertwo/IntervenerTwoOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/respondent/RespondentOtherDocumentsCollectionServiceTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1565

#1525 DFR-2670-Update CFV reports folder
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CaseDocumentType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/DocumentCategory.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/ExpertEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/OtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/applicant/ApplicantExpertEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerfour/IntervenerFourExpertEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerone/IntervenerOneExpertEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerthree/IntervenerThreeExpertEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenertwo/IntervenerTwoExpertEvidenceHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/respondent/RespondentExpertEvidenceHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/ExpertEvidenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/applicant/ApplicantExpertEvidenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/applicant/ApplicantOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerfour/IntervenerFourExpertEvidenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerfour/IntervenerFourOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerone/IntervenerOneExpertEvidenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerone/IntervenerOneOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerthree/IntervenerThreeExpertEvidenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerthree/IntervenerThreeOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenertwo/IntervenerTwoExpertEvidenceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenertwo/IntervenerTwoOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/respondent/RespondentExpertEvidenceCollectionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/respondent/RespondentOtherDocumentsCollectionServiceTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-1579, rel:finrem-cos-pr-1525

#1566 Dfr 2755 hide case
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/hidecase/HideCaseContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/hidecase/UnhideCaseContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/State.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/hidecase/HideCaseContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/hidecase/UnHideCaseContestedAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1566

#1573 DFR-2771: send order error - general order array do not contains doc
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1573

#1577 Suppress CVE-2024-25710
  config/owasp/suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1577

#1574 DFR-2734: FR Contested: Updates to documents dropdown in manage case …
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CaseDocumentType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/DocumentCategory.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/OtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/applicant/ApplicantOtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerfour/IntervenerFourOtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerone/IntervenerOneOtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerthree/IntervenerThreeOtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenertwo/IntervenerTwoOtherDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/respondent/RespondentOtherDocumentsHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/applicant/ApplicantOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerfour/IntervenerFourOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerone/IntervenerOneOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenerthree/IntervenerThreeOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/intervenertwo/IntervenerTwoOtherDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/casedocuments/respondent/RespondentOtherDocumentsCollectionServiceTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-cos-pr-1574

#1572 DFR-2763-Use hearing court instead of allocated court to populate AHD
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
  src/test/resources/fixtures/bulkprint/bulk-print-additional-hearing.json
  src/test/resources/fixtures/contested/validate-hearing-withoutfastTrackDecision.json
Labels: ns:financial-remedy, prd:finrem, no-changes, rel:finrem-cos-pr-1572

#1553 DFR-1980-Reflect allocated court in general letter contact details
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/DocumentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctions.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CreateGeneralLetterAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CreateGeneralLetterMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/CCDConfigValidator.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/general-letter.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1553

#1538 Intervener share selected document fixes
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/shareselecteddocuments/ShareSelectedDocumentsAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/shareselecteddocuments/ShareSelectedDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/shareselecteddocuments/ShareSelectedDocumentsMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerShareDocumentsService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/shareselecteddocuments/ShareSelectedDocumentsAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/shareselecteddocuments/ShareSelectedDocumentsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/shareselecteddocuments/ShareSelectedDocumentsMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerShareDocumentsServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1538

#1561 DFR-2455: Remove Upload Docs Event
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UploadGeneralDocumentsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/UploadGeneralDocumentsCategoriser.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/UploadGeneralDocumentsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/UploadGeneralDocumentsCategoriserTest.java
Labels: ns:financial-remedy, prd:finrem, stale, rel:finrem-cos-pr-1561

#1584 Remove redundant CCD API call
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CcdService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CcdServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1584

#1585 Add javadoc for CCD case updates
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CcdService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-1585
