Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2025-01, with the labels that each got.

#2054 DFR-3488: Reduce mutation threshold
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2054

#2053 DFR-3478: Remove redundant code that causes document duplication
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadApprovedOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadApprovedOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, stale, rel:finrem-cos-pr-2053

#2055 DFR-3484: Remove unneeded exception logging
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CreateGeneralLetterConsentMidHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CreateGeneralLetterConsentMidHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, stale, rel:finrem-cos-pr-2055

#2051 DFR-3401 Test remaining scenarios
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/YesOrNo.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/Approvable.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/agreed/AgreedDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/DraftOrderDocumentReview.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/PsaDocumentReview.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/draftorders/HasApprovableCollectionReader.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/JudgeApprovalResolver.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/RefusedOrderProcessor.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/draftorders/HasApprovableCollectionReaderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/JudgeApprovalResolverTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/RefusedOrderProcessorTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-2197, rel:finrem-cos-pr-2051

#2039 DFR-3469 Remove consented court helper and combine court list retrieval
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ConsentedCourtHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/CourtHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/DraftOrdersNotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremNotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/NotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentHearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedDraftOrderNotApprovedService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedOrderApprovedLetterService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RefusalOrderDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/ConsentedCourtHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/CourtHelperTest.java
Labels: ns:financial-remedy, prd:finrem, aat/no-changes, prod/no-changes, rel:finrem-cos-pr-2039

#2063 DFR-3487: Draft orders - remove consent order link for interveners
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/DraftOrdersWrapper.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrderAboutToStartHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-2206, rel:finrem-cos-pr-2063

#2068 Refactoring GeneralOrderServiceTest
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2068

#2048 Dfr 3333 judge approve orders cya and success pages
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/DraftOrdersWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/ApproveOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/ApproveOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-defs-pr-2192, rel:finrem-cos-pr-2048

#2040 DFR-3472-Upload-Word-Doc-Mixed-Case-file-ext
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentgenerator/BulkPrintDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, rel:finrem-cos-pr-2040

#1944 Dfr 2689 auto date pension sharing annex
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/error/StampDocumentException.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ApprovedConsentOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GenericDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PensionAnnexDateStampService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ApprovedConsentOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PensionAnnexDateStampServiceTest.java
  src/test/resources/fixtures/P1_pension_sharing_annex.pdf
  src/test/resources/fixtures/P1_pension_sharing_annex_flattened.pdf
  src/test/resources/fixtures/P1_pension_sharing_annex_no_embedded_font.pdf
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, aat/no-changes, prod/no-changes, rel:finrem-cos-pr-1944

#2038 DFR-3129: Add PFD NCDR documents
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/ListForHearingWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PfdNcdrDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/FinremFormCandGCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/FileUtils.java
  src/main/resources/documents/pfd-ncdr-compliance-letter.pdf
  src/main/resources/documents/pfd-ncdr-cover-letter.pdf
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PfdNcdrDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/FinremFormCandGCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/FileUtilsTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-2186, rel:finrem-cos-pr-2038

#2080 DFR-3529 Rename to extraReportFieldsInput
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/ExtraReportFieldsInput.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/JudgeDecision.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/DraftOrdersWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/RefusedOrderProcessor.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/RefusedOrderProcessorTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-defs-pr-2231

#2066 DFR-3501+3512 Process Order
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DirectionOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/Approvable.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/agreed/AgreedDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/DraftOrderDocumentReview.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/OrderStatus.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/PsaDocumentReview.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/DraftOrdersWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/draftorders/HasApprovableCollectionReader.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/processorder/ProcessOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/FinremCallbackRequestFactory.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/DraftOrdersReviewTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/draftorders/HasApprovableCollectionReaderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/JudgeApprovalResolverTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/processorders/ProcessOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-defs-pr-2211, rel:finrem-cos-pr-2066

#2087 DFR-3516 Refactoring
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/SendOrderWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendConsentOrderInContestedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremCaseDetailMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem

#2067 Dfr 3513 upload approved order is duplicated
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderMidHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderMidHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2067

#2093 DFR-3516 Move additionalDocument to sendOrderWrapper
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/SendOrderWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/sendorder/SendOrderPartyDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendConsentOrderInContestedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentchecker/DuplicateFilenameDocumentCheckerTest.java
Labels: ns:financial-remedy, prd:finrem

#2088 Dfr 3535
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralEmailAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/GeneralEmailWrapper.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralEmailAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/GeneralEmailWrapperTest.java
Labels: ns:financial-remedy, prd:finrem

#2083 DFR-3536 Upload of draft orders additional attachments should be restricted to PDF docs
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/suggested/UploadedDraftOrder.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrderMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersMidEventHandlerTest.java
Labels: ns:financial-remedy, prd:finrem

#2100 Add SECURITY.md
  SECURITY.md
Labels: ns:financial-remedy, prd:finrem

#2072 DFR-3327-PDF-Documents-missing-signatures-Bulk-Print
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DocumentConversionService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentgenerator/DocumentConversionServiceTest.java
  src/test/resources/fixtures/D11Annotations.pdf
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, aat/no-changes, prod/no-changes, rel:finrem-cos-pr-2072

#2099 DFR-3516 Refactor SendConsentOrderInContestedSubmittedHandlerTest
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendConsentOrderInContestedSubmittedHandlerTest.java
Labels: ns:financial-remedy, prd:finrem

#2082 DFR-3529 Approve Order - Generate Cover Letter
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/contestordernotapproved/ContestedDraftOrderNotApprovedDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/JudgeDecision.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedOrderApprovedLetterService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/ApproveOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/RefusedOrderProcessor.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedOrderApprovedLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/ApproveOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem

#2078 DFR-3526: Draft orders - handle interveners and barrister uploads
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/OrderFiledBy.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/agreed/UploadAgreedDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/suggested/UploadSuggestedDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/DraftOrdersCategoriser.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/OrderFiledByTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcategory/DraftOrdersCategoriserTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2078

#2076 DFR-3429: Update F&P keyword
  src/main/resources/application.properties
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2076

#2110 Refactoring - Delete CaseDocumentCollection and making use of DocumentCollection
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/CaseDocumentCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/agreed/AgreedDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/judgeapproval/JudgeApproval.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/DraftOrderDocumentReview.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/RefusedOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/suggested/SuggestedDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/RefusedOrderProcessorTest.java
Labels: ns:financial-remedy, prd:finrem

#2090 DFR-3525: Enable draft order uploads with no judge
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/DraftOrdersNotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/agreed/UploadAgreedDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/domain/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/DraftOrdersNotificationRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem

#2069 DFR-3336 - Send Order
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/FinalisedOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/FinalisedOrderCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/DraftOrdersWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/TestSetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, aat/no-changes, prod/no-changes, rel:finrem-cos-pr-2069, use-defs-pr-2213

#2085 DFR-3497: Send refusal order notifications
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/OrderFiledBy.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/RefusalOrderConvertible.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/DraftOrderDocumentReview.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/PsaDocumentReview.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/review/RefusedOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/FinremCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/draftorders/RefusedOrderCorrespondenceRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/draftorders/RefusedOrderCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/RefusedOrderProcessor.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/noc/NocLettersNotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/draftorders/RefusedOrderCorrespondenceRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/draftorders/RefusedOrderCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/RefusedOrderProcessorTest.java
Labels: ns:financial-remedy, prd:finrem, aat/no-changes, prod/no-changes, rel:finrem-cos-pr-2085
