Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2025-07, with the labels that each got.

#2383 DFR-3693 batch 1000 cases 1
  src/main/resources/updateConsentOrderFRCName-encrypted.csv
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2383

#2384 DFR-3693batch 1000 cases 2 updated
  src/main/resources/updateConsentOrderFRCName-encrypted.csv
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2384

#2386 DFR-3693 batch 1000 cases 3
  src/main/resources/updateConsentOrderFRCName-encrypted.csv
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2386

#2366 DFR-3877 Prevent Assign to Judge/Reassign Judge events to send letter to international respondent
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignedToJudgeDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/assigntojudge/AssignToJudgeCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/assigntojudge/FinremAssignToJudgeCorresponder.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/NotificationsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/noc/NocLettersNotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignedToJudgeDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/assigntojudge/AssignToJudgeCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/assigntojudge/FinremAssignToJudgeCorresponderTest.java
  src/test/resources/fixtures/noticeOfChange/contested/noc/noc-letter-notifications-add-and-revoke-before.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/noc-letter-notifications-add-and-revoke-non-digital-before.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/noc-letter-notifications-add-and-revoke-non-digital.json
  src/test/resources/fixtures/noticeOfChange/contested/noc/noc-letter-notifications-add-and-revoke.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2366

#2391 Create a ListUtils and some checkstyle fixes
  build.gradle
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/CaseFlagsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendConsentOrderMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ConsentOrderInContestedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ContestedListForHearingMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CreateGeneralLetterMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IssueApplicationConsentedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IssueApplicationContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IssueApplicationContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/IssueApplicationContestedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/JudgeDraftOrderMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageCaseDocumentsContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManualPaymentAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManualPaymentSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderConsentForApprovedOrderAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderConsentForApprovedOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorAndCaseWorkerDraftOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorAndCaseWorkerDraftOrderMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/casesubmission/CaseSubmissionPbaValidateMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/policy/ApplicantChangeOrgPolicyAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/AddresseeGeneratorHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/RemoveUserRolesRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/bulk/scan/domain/FormA.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CaseAssignedUserRole.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CaseAssignedUserRolesResource.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CaseAssignmentUserRolesResource.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CaseType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ContestedConsentOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ContestedConsentOrderData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ContestedRefusalOrderPreviewDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DynamicMultiSelectList.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DynamicMultiSelectListElement.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/TypedCaseDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/HearingCourtWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/HearingRegionWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/document/CaseDocumentCollectionType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/fee/FeeItem.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/fee/FeeValue.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/fee/OrderSummary.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/letterdetails/TranslatedOrderRefusalDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/organisation/OrganisationContactInformation.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/wrapper/IdamToken.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/StampType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/helper/BulkScanHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/FinRemBulkScanFormTransformerFactory.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/FinremMultiLetterOnlyAllPartiesCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/FinremConsentInContestedSendOrderCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/evidencemanagement/EvidenceManagementDeleteService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/migration/RemoveRespondentSolOrg.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/letters/handler/litigant/applicant/SolicitorRemovedApplicantLetterHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/payments/config/FeeServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/ListUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/YesOrNoTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/ListUtilsTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2391

#2358 DFR-3587 Confidential Tabs
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CcdCallbackController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/DocumentValidationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/EvidenceManagementClientController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralApplicationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/GeneralOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiamCheckController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiniFormAController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/PaymentConfirmationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/RemoveCaseDataStateController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ShareDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managehearings/ManageHearingsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/CourtHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/InterimHearingHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/tabdata/managehearings/HearingTabDataMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/ManageHearingsWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/managehearings/ManageHearingActionService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/managehearings/ManageHearingsDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managehearings/HearingsAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ValidateHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/managehearings/ManageHearingActionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/managehearings/ManageHearingsDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-2620, rel:finrem-cos-pr-2358

#2401 DFR-3923 Manage Hearing Migration Cron Task
  .gitignore
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managehearings/ManageHearingsMigrationAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/EncryptedCsvFileProcessingTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/ManageHearingsMigrationTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/managehearings/ManageHearingActionService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/managehearings/ManageHearingsMigrationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/managehearings/migration/DirectionDetailsCollectionPopulator.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/ListUtils.java
  src/main/resources/application.properties
  src/main/resources/manageHearingsMigration-encrypted.csv
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managehearings/ManageHearingsMigrationAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/ManageHearingsMigrationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/managehearings/ManageHearingActionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/managehearings/ManageHearingsMigrationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/ListUtilsTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-2679, rel:finrem-cos-pr-2401

#2379 DFR-3889: Duplicate payment error should prevent case submission
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/casesubmission/CaseSubmissionAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/payments/client/PBAPaymentClient.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/casesubmission/CaseSubmissionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/payments/client/PBAPaymentClientTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2379

#2405 DFR-3928 Rollback script to clear migrated manage hearings data
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managehearings/ManageHearingsMigrationAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/AlwaysIncludeMixIn.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremCaseDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/MhMigrationWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/BaseTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/ManageHearingsMigrationTask.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/managehearings/ManageHearingActionService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/managehearings/ManageHearingsDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/managehearings/ManageHearingsMigrationService.java
  src/main/resources/application.properties
  src/main/resources/manageHearingsMigration-encrypted.csv
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managehearings/ManageHearingsMigrationAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremCaseDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/MhMigrationWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/scheduler/ManageHearingsMigrationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/managehearings/ManageHearingsMigrationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-2679, rel:finrem-cos-pr-2405

#2421 DFR-3915: Move Create General Email handlers into their own package
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/creategeneralemail/GeneralEmailAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/creategeneralemail/GeneralEmailAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/creategeneralemail/GeneralEmailMidHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/creategeneralemail/GeneralEmailAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/creategeneralemail/GeneralEmailAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/creategeneralemail/GeneralEmailMidHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2421

#2382 Add custom exception for NoC invalid data
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/nocworkflows/NoticeOfChangeInvalidRequestException.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/nocworkflows/UpdateRepresentationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UpdateRepresentationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2382

#2427 DFR-3959: Remove checkstyle errors from contract tests
  build.gradle
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/caseassignment/AssignCaseServiceConsumerTest.java
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/ccddatastore/CaseDataStoreServiceConsumerContractTest.java
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/ccddatastore/GetUserRolesConsumerTest.java
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/ccddatastore/SearchUserRolesConsumerTest.java
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/payments/FeeLookupConsumerTest.java
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/payments/PBAValidateConsumerTest.java
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/payments/SidamConsumerTest.java
  src/contractTests/java/uk/gov/hmcts/reform/finrem/caseorchestration/contracts/rdprofessional/PrdOrganisationServiceConsumerContractTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2427

#2429 DFR-3957: Refactor general application helper test
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/GeneralApplicationHelperTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2429

#2417 DFR-3795/3820 Interveneers notifications
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managehearings/ManageHearingsSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/managehearings/HearingCorrespondenceHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/ManageHearingsNotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CaseDocumentType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/ManageHearingsWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/managehearing/ManageHearingsCorresponder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/managehearings/ManageHearingActionService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/managehearings/ManageHearingsDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/helper/managehearings/HearingCorrespondenceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/barristers/ManageBarristersITest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/noc/NocLettersNotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/ManageHearingsNotificationRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/FinremCaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/ManageHearingsWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/FinremHearingCorrespondenceBaseTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/managehearing/ManageHearingsCorresponderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/managehearings/ManageHearingActionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/managehearings/ManageHearingsDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2417, use-defs-pr-2718

#2435 DFR-3730: Update BulkPrintService methods to use CaseDetails rather than caseId
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2435

#2444 DFR-3965-CheckStyle-TEST-Code-Warnings-Fix-Phase4
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/BaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/AssignCaseAccessServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/CcdDataStoreServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/DefaultsConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/NotificationServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/PrdOrganisationConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApplicationAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApplicationContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApprovedConsentOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendCaseConsentedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendCaseContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendCaseContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendConsentOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendConsentOrderMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendPaperApplicationContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ApproveConsentOrderAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ApproveConsentOrderContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ApprovedConsentOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ConsentOrderInContestedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ContestedListForHearingMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CreateGeneralLetterMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationReferToJudgeAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GiveAllocationDirectionAboutToSubmitHandlerIT.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GiveAllocationDirectionAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/HearingConsentMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/HearingConsentSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/InterimHearingContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/creategeneralorder/CreateGeneralOrderConsentedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/documentremoval/DocumentRemovalAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/documentremoval/DocumentRemovalAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/hearingbundles/HearingBundlesAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/hearingbundles/HearingBundlesAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/AddresseeGeneratorHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/contestorderapproved/ContestOrderApprovedLetterDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/contestordernotapproved/ContestedDraftOrderNotApprovedDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/formc/FormCLetterDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/generalletter/GeneralLetterDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/generalorder/GeneralOrderDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/miniformaconsented/ConsentInContestMiniFormADetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/miniformacontested/ContestedMiniFormADetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AmendCaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ApplicantShareDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AssignCaseAccessServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2444
