Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2025-03, with the labels that each got.

#2187 DFR-3603 Add Express FormC and logic to generate
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/DocumentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/express/ExpressCaseService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/express/ExpressCaseServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2187

#2193 DFR-3500: Add JUnit 5 support for pitest
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2193

#2196 DFR-3500: Configure mutation test to run only against handlers
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2196

#2154 DFR-3575 CT: Send Order: Show supporting documents hyperlink
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/AttachmentToShare.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2154, use-defs-pr-2331

#2188 Dfr 3623 remove set frc details fr solicitor create
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorCreateContestedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/SelectedCourtService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorCreateContestedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/createcase/CreateCaseMandatoryDataIntegrationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/SelectedCourtServiceTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-2370, rel:finrem-cos-pr-2188

#2174 DFR-3614 Upload suggested draft orders should not change case state
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/FinremCallbackRequestFactory.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/FinremCaseDetailsBuilderFactory.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2174

#2201 DFR-3603 EP Form C
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/formc/FormCLetterDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/letterdetails/FormCLetterDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctions.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/express/ExpressCaseService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/formc/FormCLetterDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/express/ExpressCaseServiceTest.java
Labels: ns:financial-remedy, prd:finrem, aat/no-changes, prod/no-changes, rel:finrem-cos-pr-2201

#2205 Dfr 3623 correct validation
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SolicitorCreateContestedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/SelectedCourtService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/SelectedCourtServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2205

#2168 Dfr 3602 process order enable caseworker to upload word doc for new approved order
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/processorder/ProcessOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/processorders/ProcessOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, aat/no-changes, prod/no-changes, rel:finrem-cos-pr-2168

#2129 Dfr 3550 draft order still shown after it is has been refused
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/DraftOrdersWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-2311, rel:finrem-cos-pr-2129

#2208 Dfr 3601 express pilot dynamic page content
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/express/ExpressCaseService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedMidHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2208

#2207 DFR-3669: Revert change from DFR-3607
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/judgeapproval/ApproveDraftOrdersMidEventHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2207

#2213 DFR-2698: Add logging
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/GeneralApplicationHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralApplicationService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2213

#2218 DFR-3659: Prevent logging production data
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/CaseOrchestrationApplication.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2218

#2217 DFR-3667: Add callback handler logger utility
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CallbackHandlerLogger.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/casesubmission/CaseSubmissionPbaValidateMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/FinremCallbackRequestFactory.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/CallbackHandlerLoggerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2217

#2203 DFR-3637 hearing notice warn
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ValidateHearingService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/express/ExpressCaseService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ValidateHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/express/ExpressCaseServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2203

#2191 DFR-3636 remove from express pilot
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageExpressCaseAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageExpressCaseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/ExpressCaseWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/express/ExpressCaseService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageExpressCaseAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageExpressCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/express/ExpressCaseServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2191, use-defs-pr-2422

#2221 Dfr 3642 express pilot amend dynamic page content
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApplicationContestedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageExpressCaseAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageExpressCaseAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/LabelForExpressCaseAmendment.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/ExpressCaseWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/express/ExpressCaseService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApplicationContestedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageExpressCaseAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ManageExpressCaseAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ValidateHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/express/ExpressCaseServiceTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-2427, rel:finrem-cos-pr-2221

#2227 Add checkstyle rules
  build.gradle
  config/checkstyle/checkstyle.xml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/service/EmailService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2227

#2212 DFR-3638 ep create paper case dynamic page
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/PaperCaseCreateContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/PaperCaseCreateContestedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/express/ExpressCaseService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/PaperCaseCreateContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/PaperCaseCreateContestedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateContestedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/express/ExpressCaseServiceTest.java
Labels: ns:financial-remedy, prd:finrem, aat/no-changes, prod/no-changes, rel:finrem-cos-pr-2212

#2220 DFR-3067 Remove hardcoded value and check if feeAmount is not empty
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/payments/PaymentServiceTests.java
Labels: ns:financial-remedy, prd:finrem, aat/no-changes, prod/no-changes, rel:finrem-cos-pr-2220

#2237 DFR-3679: Reorganise methods in HearingServiceTest
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2237

#2211 DFR-3658 CT: Only one doc uploaded in 'Process Order" showing in Orders tab
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/DocumentHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OrderDateService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2211
