Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2025-09, with the labels that each got.

#2514 DFR-3970 uao notifications
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/contested/mh/UploadApprovedOrderContestedMhAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/contested/mh/UploadApprovedOrderContestedMhSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/managehearings/WorkingHearing.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadApprovedOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/TestSetUpUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/ccd/datamigration/controller/helper/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/contested/mh/UploadApprovedOrderContestedMhAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/contested/mh/UploadApprovedOrderContestedMhSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/managehearings/WorkingHearingTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderApprovedDocumentServiceV2Test.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/UploadApprovedOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2514

#2517 DFR-4055 Fix express form C template
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/formc/FormCLetterDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/managehearings/ManageHearingFormCLetterDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/letterdetails/FormCLetterDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/letterdetails/managehearings/FormCLetterDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseHearingFunctions.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/formc/FormCLetterDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/letterdetails/managehearings/ManageHearingFormCLetterDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2517

#2522 DFR-3915: Remove redundant code
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2522

#2523 DFR-3915: Refactor general email notification requests
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/notificationrequest/FinremNotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/notificationrequest/FinremNotificationRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FinremNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NotificationServiceTest.java
Labels: ns:financial-remedy, prd:finrem, aat/no-changes, prod/no-changes, rel:finrem-cos-pr-2523

#2526 DFR-3915: Improve general email unit tests
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/notificationrequest/FinremNotificationRequestMapperTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2526

#2521 DFR-3915: Add emailReplyToId field for gov.uk notify requests
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/notification/NotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/domain/EmailToSend.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/service/LocalEmailService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/domain/EmailToSendTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/domain/NotificationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/service/EmailServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2521

#2527 Refactoring ContactDetailsValidator
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ContactDetailsValidator.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2527

#2515 Dfr 3988 remove sonar reliability issues
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationOutcomeAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DocmosisPdfGenerationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DocumentConversionService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnStartDefaultValueService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/transformation/FinRemBulkScanFormTransformerFactory.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/bulkscan/validation/FinRemBulkScanFormValidatorFactory.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/csv/CaseReferenceCsvLoader.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApplicationContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendCaseConsentedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendCaseContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendPaperApplicationContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/solicitorcreatecase/SolicitorCreateConsentedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/CCDConfigValidator.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DocmosisPdfGenerationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentgenerator/DocumentConversionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/utils/csv/CaseReferenceCsvLoaderTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2515

#2528 DFR-3915: Add NotificationRequestBuilder
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/config/CourtDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ConsentedApplicationHelper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/notificationrequest/AbstractNotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/notificationrequest/NotificationRequestBuilder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/notificationrequest/NotificationRequestBuilderFactory.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/notification/NotificationRequest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/CourtDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/notificationrequest/NotificationRequestBuilderFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/notificationrequest/NotificationRequestBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/domain/NotificationRequestTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2528

#2540 Remove jjwt dependency
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2540

#2538 DFR-3989: Update resource requirements
  charts/finrem-cos/Chart.yaml
  charts/finrem-cos/values.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2538

#2535 Refactor CaseAssignedRoleServiceTest
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseAssignedRoleService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseAssignedRoleServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2535

#2502 Remove jaxbOsgi
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2502

#2562 DFR-3729 update class annotation to use PropertyNamingStrategies
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ApplicantAndRespondentEvidenceParty.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ConsentNatureOfApplication.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ConsentOrderType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DevonCourt.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DocumentPurpose.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DorsetCourt.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/EvidenceParty.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseDetails.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/Gender.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/GeneralApplicationOutcome.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/GeneralLetterAddressToType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/GeneralOrderAddressTo.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/HearingTimeDirection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/HighCourt.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/Intention.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/JudgeTimeEstimate.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/JudgeType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/KentSurreyCourt.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/LancashireCourt.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/LiverpoolCourt.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ManchesterCourt.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/MiamExemption.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/MiamOtherGrounds.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/MiamOtherGroundsV2.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/MiamPreviousAttendance.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/MiamPreviousAttendanceV2.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/MiamUrgencyReason.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/NatureApplication.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/NatureApplication5b.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/NatureOfApplicationSchedule.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/NewportCourt.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/NorthWalesCourt.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/NoticeOfChangeParty.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/NwYorkshireCourt.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/OrderDirection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/PensionProvider.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/Region.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RegionHighCourtFrc.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RegionLondonFrc.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RegionMidlandsFrc.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RegionNorthEastFrc.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RegionNorthWestFrc.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RegionSouthEastFrc.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RegionSouthWestFrc.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RegionWalesFrc.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ScannedDocumentType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ScannedDocumentTypeOption.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/Schedule1OrMatrimonialAndCpList.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/SolicitorToDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/SwanseaCourt.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/ThamesValleyCourt.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/VariationTypeOfDocument.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2562

#2565 Dfr 4123 remove pre populated fields on second run of upload approved order event
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/contested/mh/UploadApprovedOrderMhContestedAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/contested/mh/UploadApprovedOrderContestedMhAboutToStartHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2565

#2566 DFR-4125 CT: UAO – Additional Order Attachments incorrectly become mandatory after removal or when multiple orders are added
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/contested/mh/UploadApprovedOrderContestedMhMidHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/uploadapprovedorder/contested/mh/UploadApprovedOrderContestedMhMidHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2566

#2578 Remove generateContestedMiniFormA
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnlineFormDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OnlineFormDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2578

#2587 Miscellaneous Refactoring
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/GeneralLetterData.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/hearing/FinremApprovedOrderNoticeOfHearingCorresponder.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2587

#2589 DFR-3812 Make “generatedLetter” deletable
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralLetterService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcategory/CreateGeneralLetterDocumentCategoriser.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcategory/CreateGeneralLetterDocumentCategoriserTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2589

#2543 DFR-3962: Remove respondent org policy when respondent not represented
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateContestedCaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApplicationAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/nocworkflows/UpdateRepresentationWorkflowService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateContestedCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApplicationAboutToSubmitHandlerTest.java
  src/test/resources/fixtures/contested/remove-respondent-solicitor-details.json
  src/test/resources/fixtures/updatecase/remove-respondent-solicitor-details.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2543

#2590 DFR-3878-Create integration test for notification controller
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/IntegrationTestUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/hwfdecisionmade/HwfApplicationAcceptedIntegrationTest.java
  src/test/resources/fixtures/integrationtests/HwfDecisionMade/consented-submitted.json
  src/test/resources/fixtures/integrationtests/HwfDecisionMade/contested-submitted.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2590

#2509 DFR-3218 - CT & CS: Upload warnings on consent order
  src/functionalTests/resources/json/consented/amend-consent-order-by-caseworker.json
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/MiniFormAController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendConsentOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendConsentOrderMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ConsentOrderInContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/AmendedConsentOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ConsentOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DocumentValidationService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendConsentOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendConsentOrderMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/ConsentOrderInContestedAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2509, use-defs-pr-2772

#2581 DFR-3878 CS/CT: Move Endpoint: /hwf-successful to a handler
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/HwfSuccessfulSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/EventType.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/HwfSuccessfulSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/hwfdecisionmade/HwfApplicationAcceptedIntegrationTest.java
Labels: ns:financial-remedy, prd:finrem, aat/no-changes, prod/no-changes, rel:finrem-cos-pr-2581
