Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2025-05, with the labels that each got.

#2249 DFR-3541
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/OrderFiledBy.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/DraftOrdersWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/JudgeApprovalResolver.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/JudgeApprovalResolverTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-2483, rel:finrem-cos-pr-2249

#2286 DFR-3788: Add wiremock to cftlib environment for mocking dependent services
  build.gradle
  docs/cftlib-aat.md
  src/cftlib/java/uk/gov/hmcts/reform/finrem/caseorchestration/CftLibConfig.java
  src/cftlib/java/uk/gov/hmcts/reform/finrem/caseorchestration/DockerComposeProcessRunner.java
  src/cftlib/resources/compose/docker-compose.yml
  src/cftlib/resources/compose/mocks/wiremock/__files/payments-api/credit-account-payments-account-on-hold.json
  src/cftlib/resources/compose/mocks/wiremock/mappings/payments-api/credit-account-payments-account-on-hold.json
  src/main/resources/application-local.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2286

#2292 DFR-2698: Remove logging that is no longer required
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationAboutToSubmitHandler.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2292

#2294 Bump jose4j to fix CVE-2023-51775
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2294

#2295 Reduce logging level for NOC error
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/noc/nocworkflows/UpdateRepresentationService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2295

#2287 DFR-3780 Remove Jitpack dependency
  build.gradle
  settings.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2287

#2304 Local build workaround
  settings.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2304

#2302 Add jitpack for some dependencies
  build.gradle
  settings.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2302

#2306 DFR-3801: Remove redundant Solicitor To Draft Order event code
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ContestedDraftOrderCorresponder.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/NotificationsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/correspondence/consentorder/ContestedDraftOrderCorresponderTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2306

#2315 Refactor business logic from FeeLookupController
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ApplicationType.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/fee/FeeResponse.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeeService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ApplicationTypeTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/FeeServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2315

#2307 DFR-3618/3619 Intervener solicitor notification fails
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/intervener/IntervenersAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremNotificationRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremNotificationRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/IntervenerServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2307
