Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2025-02, with the labels that each got.

#2117 DFR-3560: Fix Process Order document stamping
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/RefusedOrderProcessor.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/RefusedOrderProcessorTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2117

#2121 DFR-3317 Replace AgreedDraftOrderAdditionalDocumentsCollection with DocumentCo…
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/agreed/AgreedDraftOrderAdditionalDocumentsCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/agreed/UploadedDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/suggested/SuggestedDraftOrderAdditionalDocumentsCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/suggested/UploadSuggestedDraftOrderCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/suggested/UploadedDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/DraftOrdersCategoriser.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcategory/DraftOrdersCategoriserTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2121

#2136 Unit test for additional hearing document service
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, use-defs-pr-2301, rel:finrem-cos-pr-2136

#2128 DFR-3516+3548+3543 (Release PR)
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/JudgeDraftOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/JudgeDraftOrderMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/CCDConfigConstant.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DirectionOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DirectionOrderCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DraftDirectionOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/Yes.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/FinalisedOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/FinalisedOrderCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/WithAttachments.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/WithAttachmentsCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/agreed/AgreedDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/agreed/AgreedDraftOrderCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/AttachmentToShare.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/AttachmentToShareCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/DocumentIdProvider.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/OrderToShare.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/OrderToShareCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/OrdersToSend.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/wrapper/SendOrderWrapper.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OrderDateService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/UploadedDraftOrderCategoriser.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/JudgeDraftOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/JudgeDraftOrderMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendOrderContestedSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremCaseDetailMapperTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/GeneralOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/OrderDateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/UploadedDraftOrderCategoriserTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2128, use-defs-pr-2301

#2141 Add logging for Draft Approved Order event
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/HearingOrderController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingOrderService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2141

#2126 DFR-3565 Email template with env links
  charts/finrem-cos/Chart.yaml
  charts/finrem-cos/values.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/service/EmailService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/service/EmailServiceTest.java
  src/test/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2126

#2139 DFR-3591 CT: Process Order for PSA PDF docs fails
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/processorder/ProcessOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/processorders/ProcessOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2139

#2138 Remove incorrect log and redundant code
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PartyService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/PartyServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2138

#2124 DFR-3317 Applying Document Warning to Upload Draft Order Flow
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/agreed/AgreedPensionSharingAnnex.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/agreed/UploadedDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/suggested/SuggestedPensionSharingAnnex.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/suggested/UploadedDraftOrder.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/NewUploadedDocumentsServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2124

#2108 DFR-3503 Contested Paper Case Creation missing Power BI Court Fields
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/PaperCaseCreateContestedAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/CaseDataService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/PaperCaseCreateContestedAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, stale, rel:finrem-cos-pr-2108

#2137 DFR-3571 Fix Consented Postcode Validation
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApplicationConsentedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/updatecontactdetails/UpdateContactDetailsConsentedMidHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ContactDetailsValidator.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/Address.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/AmendApplicationConsentedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/updatecontactdetails/UpdateContactDetailsConsentedMidHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/ContactDetailsValidatorTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2137

#2125 DFR 3510 - return error if there are no unprocessed approved orders
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderAboutToStartHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderAboutToStartHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2125

#2132 DFR-3534: CS C8
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateConsentedCaseController.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/updatecontactdetails/UpdateContactDetailsAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/UpdateConsentedCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/updatecontactdetails/UpdateContactDetailsAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2132, use-defs-pr-2289

#2143 DFR-3595 Hearings created from Process Order do not appear in Upload draft orders
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/DirectionDetailCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingServiceTest.java
  src/test/resources/fixtures/general-application-directions.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2143

#2130 DFR-3572: Only draft orders with a judge can be overdue a review
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2130

#2163 Refactor and add logging for Process Order next hearings
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/AdditionalHearingDocumentService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2163

#2159 Fix logging of callback type
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderAboutToSubmitHandler.java
Labels: ns:financial-remedy, prd:finrem, aat/no-changes, prod/no-changes, rel:finrem-cos-pr-2159

#2169 DFR-3626: Remove multiple occurrences of JSONObject
  build.gradle
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/AmendApplicationContestedControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/ContestedOrderControllerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2169

#2170 DFR-2773: Improve test performance
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/FeeLookUpTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/MiamCheckTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/NotificationsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/PBAPaymentConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/PBAPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/PBAValidationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/client/EmailClientTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/service/EmailServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2170

#2173 Bump mockito to 5.15.2
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2173

#2166 Improve callback handled log
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/controllers/CcdCallbackController.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2166

#2167 DFR-3162: Java 21 upgrade
  Dockerfile
  README.md
  acb.tpl.yaml
  build.gradle
  src/functionalTests/resources/application-aat.properties
  src/functionalTests/resources/application-local.properties
  src/functionalTests/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/FeeLookUpTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/MiamCheckTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/NotificationsTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/PBAPaymentConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/PBAPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/PBAValidationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/client/EmailClientTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/notifications/service/EmailServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2167

#2178 DFR-3617 Set express pilot enrolment in paper case
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/PaperCaseCreateContestedAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/PaperCaseCreateContestedAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2178

#2162 DFR-3622 CT: Upload draft orders shows (unknown) hearing
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/HearingServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2162

#2184 Update app insights version to 3.7.0
  Dockerfile
  lib/applicationinsights.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2184

#2140 DFR-3593: Handle refused order notifications for caseworker draft order uploads
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/DraftOrdersNotificationRequestMapper.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/DraftOrdersNotificationRequestMapperTest.java
Labels: ns:financial-remedy, prd:finrem, aat/no-changes, prod/no-changes, rel:finrem-cos-pr-2140

#2183 DFR-2259: Code tidy-up
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/mapper/FinremCaseDetailMapperTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2183

#2153 Dfr 3570 ct upload draft orders restrict additional attachments to word or pdf
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/AdditionalDocumentsCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/UploadDraftOrderAdditionalDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/agreed/UploadedDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/draftorders/upload/suggested/UploadedDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcatergory/DraftOrdersCategoriser.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/DirectionUploadOrderAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/draftorders/upload/UploadDraftOrdersMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/DraftOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/documentcategory/DraftOrdersCategoriserTest.java
Labels: ns:financial-remedy, prd:finrem, aat/no-changes, prod/no-changes, rel:finrem-cos-pr-2153

#2186 DFR-3624: Update java chart to 5.3.0
  charts/finrem-cos/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2186

#2185 DFR-3297: Remove sonar Maintainability:Blocker issues
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/GeneralApplicationDirectionsAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectGeneralApplicationSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/SendConsentOrderInContestedSubmittedHandler.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2185

#2156 DFR-3613 Create General Letter: No court details shown for contested Cleveland FRC
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/FinremCaseData.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/spreadsheet/FinremCaseDataTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2156

#2176 Add JUnit extensions for mocking date and times
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/ContestedOrderApprovedLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/JudgeApprovalResolverTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/judgeapproval/RefusedOrderProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/test/LocalDateExtension.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/test/LocalDateTimeExtension.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2176
