Repository hmcts/finrem-case-orchestration-service, pull requests merged in 2025-10, with the labels that each got.

#2607 DFR-4158 Process Order (MH) Notification without hearing bug
  charts/finrem-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/processorder/ProcessOrderSubmittedHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/processorder/ProcessOrderSubmittedHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2607

#2601 DFR-4157 CT Solicitor unable to amend schedule 1 applications
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/amendapplicationdetails/AmendApplicationDetailsAboutToSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/amendapplicationdetails/AmendApplicationDetailsAboutToSubmitHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2601

#2606 Fix logging message
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/processorder/ProcessOrderSubmittedHandler.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2606

#2560 Dfr 3838 INC5715145 - CT - Judges' title automatically added in name field
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/JudgeDraftOrderAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectedConsentOrderAboutToSartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/RejectedConsentOrderInContestedAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RefusalOrderDocumentService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/JudgeDraftOrderAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/RefusalOrderDocumentServiceTest.java
Labels: ns:financial-remedy, prd:finrem, stale, aat/no-changes, prod/no-changes, rel:finrem-cos-pr-2560

#2611 refactor FinremCallbackRequestFactory
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/FinremCallbackRequestFactory.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2611

#2567 DFR-3983: Update Mange Barrister event code
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerAboutToStartHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerAboutToSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/BarristerUpdateDifferenceCalculator.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/BarristerChange.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/Barrister.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/model/ccd/RepresentationUpdateHistoryCollection.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/adapters/BarristerLetterServiceAdapter.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerChangeCaseAccessUpdater.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerChangeNotifier.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerRepresentationUpdateBuilder.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerValidationService.java
  src/main/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/ManageBarristerService.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerAboutToStartHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerAboutToSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/handler/managebarrister/ManageBarristerSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/helper/BarristerUpdateDifferenceCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/barristers/ManageBarristersITest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/integrationtest/managebarrister/ManageBarristerIntegrationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/adapters/BarristerLetterServiceAdapterTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerChangeCaseAccessUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerChangeNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerRepresentationUpdateBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerTestUtils.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/BarristerValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/caseorchestration/service/barristers/ManageBarristerServiceTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2567

#2612 DFR-3915: Add emailReplyToId config
  src/main/resources/json/court-details.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-cos-pr-2612
